# ENVIRONMENT

In [1]:
import acquire_sara as acquire
import prepare_sara as prepare
import pandas as pd
import numpy as np
import pandas_profiling

# data visualization 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import statsmodels.api as sm

from datetime import timedelta, datetime
from pylab import rcParams

# to explode the DataFrames and avoid truncation
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from fbprophet import Prophet

# ACQUIRE

#### _Let's read in the data from the csv files._

In [2]:
df_flood = acquire.read_data('sara-flood-stage-levels.csv')
df_rain_details = acquire.read_data('sara-rainfall-details.csv')
df_rain_summary = acquire.read_data('sara-rainfall-summary.csv')
df_water_quality = acquire.read_data('sara-water-quality-bexar.csv')

b'Skipping line 9327: expected 500 fields, saw 501\n'

# PREPARE

#### _Let's get the shape of the dfs and take a peek at their header._

In [3]:
print('Flood Stage Levels: ' + str(df_flood.shape))
print('Rain Details: ' + str(df_rain_details.shape))
print('Rain Summary: ' + str(df_rain_summary.shape))
print('Water Quality: ' + str(df_water_quality.shape))

Flood Stage Levels: (1470, 6)
Rain Details: (37182, 5)
Rain Summary: (13395, 5)
Water Quality: (10883, 500)

In [4]:
df_flood.head(6).T

                                     0                  1                  2                  3                  4                  5
location_name        SAR 01 (Lonestar)  SAR 01 (Lonestar)  SAR 01 (Lonestar)  SAR 01 (Lonestar)  SAR 01 (Lonestar)  SAR 01 (Lonestar)
latitude                       29.4019            29.4019            29.4019            29.4019            29.4019            29.4019
longitude                     -98.4885           -98.4885           -98.4885           -98.4885           -98.4885           -98.4885
date                        2018-06-20         2018-06-21         2018-06-22         2018-06-23         2018-06-24         2018-06-25
daily_average_stage            1.12642            1.09613           0.833789           0.957238           0.935521           0.958099
tranducer_elevation              602.3              602.3              602.3              602.3              602.3              602.3

In [5]:
df_rain_details.head(6).T

                                        0                    1                    2                    3                    4                    5
location_name         Calaveras Creek Dam  Calaveras Creek Dam  Calaveras Creek Dam  Calaveras Creek Dam  Calaveras Creek Dam  Calaveras Creek Dam
latitude                          29.3697              29.3697              29.3697              29.3697              29.3697              29.3697
longitude                        -98.3323             -98.3323             -98.3323             -98.3323             -98.3323             -98.3323
date_time             2018-01-02 11:45:00  2018-01-16 00:30:00  2018-01-16 01:00:00  2018-01-17 00:05:00  2018-01-17 13:25:00  2018-01-18 00:05:00
five_minute_rainfall                 0.01                 0.01                 0.01                 0.02                 0.01                 0.01

In [6]:
df_rain_summary.head(6).T

                                           0                1                2                3                4                5
location_name                Blanco Road Dam  Blanco Road Dam  Blanco Road Dam  Blanco Road Dam  Blanco Road Dam  Blanco Road Dam
latitude                             29.6248          29.6248          29.6248          29.6248          29.6248          29.6248
longitude                           -98.5213         -98.5213         -98.5213         -98.5213         -98.5213         -98.5213
date                              2018-01-01       2018-01-02       2018-01-03       2018-01-04       2018-01-05       2018-01-06
daily_rainfall_total_inches             0.01                0                0                0                0                0

In [7]:
df_water_quality.head(6).T

                                                                                                    0                                                  1                                                  2                                                  3                                                  4                                                  5
Station ID                                                                                      12689                                              12689                                              12689                                              12689                                              12689                                              12689
Station Description                                 ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...  ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...  ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...  ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...  ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...  ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...
Latitude                                                                                      29.3201                                            29.3201                                            29.3201                                            29.3201                                            29.3201                                            29.3201
Longitude                                                                                    -98.4063                                           -98.4063                                           -98.4063                                           -98.4063                                           -98.4063                                           -98.4063
End Date                                                                          2008-09-18 00:00:00                                2008-11-20 00:00:00                                2008-12-10 00:00:00                                2009-01-15 00:00:00                                2009-02-19 00:00:00                                2009-03-05 00:00:00
Tag ID                                                                                       SA10917T                                           SA11053T                                           SA11123T                                           SA11193T                                           SA11249T                                           SA11319T
End Time                                                                                        16:52                                              14:00                                              12:15                                              12:15                                              13:00                                              12:32
End Depth                                                                                        0.28                                               0.15                                               0.05                                               0.08                                               0.06                                               0.03
Sample Type                                                                                        RT                                                 RT                                                 RT                                                 RT                                                 RT                                                 RT
Program Code                                                                                     IPSW                                               IPSW                                               IPSW                                               IPSW                                               IPSW                                               IPSW
TEMPERATURE, WATER (DEGREES CENTIGRADE) (00010)                                                  22.7                                               13.0                                               10.9                                                8.6                                               15.1                                               18.5
RESERVOIR STAGE (FEET ABOVE MEAN SEA LEVEL) (00...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
RESERVOIR PERCENT FULL (00053)                                                                      -                                                  -                                                  -                                                  -                                                  -                                                  -
FLOW  STREAM, INSTANTANEOUS (CUBIC FEET PER SEC...                                               0.03                                             < 0.01                                                0.1                                                0.3                                                0.3                                                0.1
DEPTH, MAXIMUM, OF SAMPLE (FEET) (00068)                                                            -                                                  -                                                  -                                                  -                                                  -                                                  -
TRANSPARENCY, SECCHI DISC (METERS) (00078)                                                          -                                                  -                                                  -                                                  -                                                  -                                                  -
SPECIFIC CONDUCTANCE,FIELD (US/CM @ 25C) (00094)                                                  603                                               1040                                               1220                                               1140                                               1190                                               1020
TEMPERATURE, WATER (DEGREES CENTIGRADE), 24HR A...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
WATER TEMPERATURE, DEGREES CENTIGRADE, 24HR MAX...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
TEMPERATURE, WATER (DEGREES CENTIGRADE) 24HR MI...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
SPECIFIC CONDUCTANCE, US/CM, FIELD, 24HR AVG (0...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
SPECIFIC CONDUCTANCE, US/CM, FIELD, 24HR MAX (0...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
SPECIFIC CONDUCTANCE, US/CM, FIELD, 24HR MIN (0...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
PH, S.U., 24HR MAXIMUM VALUE (00215)                                                                -                                                  -                                                  -                                                  -                                                  -                                                  -
PH, S.U., 24HR, MINIMUM VALUE (00216)                                                               -                                                  -                                                  -                                                  -                                                  -                                                  -
WATER TEMPERATURE, # OF MEASUREMENTS IN 24-HRS ...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
SPECIFIC CONDUCTANCE, # OF MEASUREMENTS IN 24-H...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
pH, # OF MEASUREMENTS IN 24-HRS (00223)                                                             -                                                  -                                                  -                                                  -                                                  -                                                  -
OXYGEN, DISSOLVED (MG/L) (00300)                                                                  8.2                                                3.7                                                7.0                                               12.4                                                9.8                                                9.3
BIOCHEMICAL OXYGEN DEMAND (MG/L, 5 DAY - 20DEG ...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
CARBBIOCHEM OXY DM NIT INHB, TOT (MG/L, 5 DAY-2...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
CHEMICAL OXYGEN DEMAND, .025N K2CR2O7 (MG/L) (0...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
PH (STANDARD UNITS) (00400)                                                                       8.1                                                7.7                                                7.8                                                8.3                                                8.1                                                7.5
PH (STANDARD UNITS) LAB (00403)                                                                     -                                                  -                                                  -                                                  -                                                  -                                                  -
ALKALINITY, TOTAL (MG/L AS CACO3) (00410)                                                           -                                                  -                                                  -                                                  -                                                  -                                                  -
RESIDUE, TOTAL NONFILTRABLE (MG/L) (00530)                                                          -                                                  -                                                  -                                                  -                                                  -                                                  -
RESIDUE, VOLATILE NONFILTRABLE (MG/L) (00535)                                                       -                                                  -                                                  -                                                  -                                                  -                                                  -
NITROGEN, AMMONIA, TOTAL (MG/L AS N) (00610)                                                        -                                                  -                                                  -                                                  -                                                  -                                                  -
NITRITE NITROGEN, TOTAL (MG/L AS N) (00615)                                                         -                                                  -                                                  -                                                  -                                                  -                                                  -
NITRATE NITROGEN, TOTAL (MG/L AS N) (00620)                                                         -                                                  -                                                  -                                                  -                                                  -                                                  -
NITROGEN, KJELDAHL, TOTAL (MG/L AS N) (00625)                                                       -                                                  -                                                  -                                                  -                                                  -                                                  -
PHOSPHORUS, TOTAL, WET METHOD (MG/L AS P) (00665)                                                   -                                                  -                                                  -                                                  -                                                  -                                                  -
ORTHOPHOSPHATE PHOSPHORUS,DISS,MG/L,FLDFILT<15M...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
CARBON, TOTAL ORGANIC, NPOC (TOC), MG/L (00680)                                                     -                                                  -                                                  -                                                  -                                                  -                                                  -
CARBON, DISSOLVED ORGANIC, DNPC (DOC), MG/L (00...                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
HARDNESS, TOTAL (MG/L AS CACO3) (00900)                                                             -                                                  -                                                  -                                                  -                                                  -                                                  -
CALCIUM, DISSOLVED (MG/L AS CA) (00915)                                                             -                                                  -                                                  -                                                  -                                                  -                                                  -
CALCIUM, TOTAL (MG/L AS CA) (00916)                                                                 -                                                  -                                                  -                                                  -                                                  -                                                  -
MAGNESIUM, TOTAL (MG/L AS MG) (00927)                                                               -                                                  -                                                  -                                                  -                                                  -                                                  -
SODIUM, TOTAL (MG/L AS NA) (00929)                                                                  -                                                  -                                                  -                                                  -                                                  -                                                  -
POTASSIUM, TOTAL (MG/L AS  K) (00937)                                                               -                                                  -                                                  -                                                  -                                                  -                                                  -
CHLORIDE (MG/L AS CL) (00940)                                                                       -                                                  -                                                  -                                                  -                                                  -                                                  -
SULFATE (MG/L AS SO4) (00945)                                                                       -                                                  -                                                  -                                                  -                                                  -                                                  -
FLUORIDE, TOTAL (MG/L AS F) (00951)                                                                 -                                                  -                                                  -                                                  -                                                  -                                                  -
ARSENIC, DISSOLVED  (UG/L AS AS) (01000)                                                            -                                                  -                                                  -                                                  -                                                  -                                                  -

In [8]:
df_water_quality = df_water_quality[['Station ID',
                                     'End Date',
                                     'OXYGEN, DISSOLVED (MG/L) (00300)',
                                     'E. COLI, COLILERT, IDEXX METHOD, MPN/100ML (31699)',
                                     'E COLI,NA+MUG OR EA+MUG,24HRS, 35 DEGREE (#/100M (31700)',
                                     'E COLI, SEDIMENT, MPN/100G (31702)',
                                     'E.COLI, COLILERT, IDEXX, HOLDING TIME (31704)',
                                     'DAYS SINCE PRECIPITATION EVENT (DAYS) (72053)',
                                     'PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAIN,5=OTHER) (89966)',
                                     'WATER COLOR 1=BRWN 2=RED 3=GRN 4=BLCK 5=CLR 6=OT (89969)'
                                     ]]

In [9]:
df_water_quality.head(11).T

                                                                     0                    1                    2                    3                    4                    5                    6                    7                    8                    9                    10
Station ID                                                        12689                12689                12689                12689                12689                12689                12689                12689                12689                12689                12689
End Date                                            2008-09-18 00:00:00  2008-11-20 00:00:00  2008-12-10 00:00:00  2009-01-15 00:00:00  2009-02-19 00:00:00  2009-03-05 00:00:00  2009-05-07 00:00:00  2009-06-03 00:00:00  2009-07-15 00:00:00  2009-08-12 00:00:00  2009-10-21 00:00:00
OXYGEN, DISSOLVED (MG/L) (00300)                                    8.2                  3.7                  7.0                 12.4                  9.8                  9.3                    -                  7.4                    -                    -                  7.0
E. COLI, COLILERT, IDEXX METHOD, MPN/100ML (31699)                  120                  420                   55                  210                  280                  410                    -                   48                    -                    -                   99
E COLI,NA+MUG OR EA+MUG,24HRS, 35 DEGREE (#/100...                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -
E COLI, SEDIMENT, MPN/100G (31702)                                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -
E.COLI, COLILERT, IDEXX, HOLDING TIME (31704)                      2.38                 2.27                 2.50                 3.38                 3.70                 3.62                    -                 3.23                    -                    -                25.83
DAYS SINCE PRECIPITATION EVENT (DAYS) (72053)                         5                  > 7                  < 1                  > 7                    2                  > 7                  > 7                    7                  > 7                  > 7                  > 7
PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAIN...                    2                    2                    2                    1                    1                    1                    3                    2                    1                    1                    3
WATER COLOR 1=BRWN 2=RED 3=GRN 4=BLCK 5=CLR 6=O...                    3                    1                    3                    3                    3                    3                    3                    3                    -                    -                    3

In [10]:
df_water_quality = prepare.lowercase_and_rename(df_water_quality)

In [11]:
df_water_quality.head(13).T

                                            0                    1                    2                    3                    4                    5                    6                    7                    8                    9                   10                   11                   12
station_id                              12689                12689                12689                12689                12689                12689                12689                12689                12689                12689                12689                12689                12689
date                      2008-09-18 00:00:00  2008-11-20 00:00:00  2008-12-10 00:00:00  2009-01-15 00:00:00  2009-02-19 00:00:00  2009-03-05 00:00:00  2009-05-07 00:00:00  2009-06-03 00:00:00  2009-07-15 00:00:00  2009-08-12 00:00:00  2009-10-21 00:00:00  2009-11-18 00:00:00  2009-12-16 00:00:00
oxygen                                    8.2                  3.7                  7.0                 12.4                  9.8                  9.3                    -                  7.4                    -                    -                  7.0                  9.8                 10.7
ecoli_idexx                               120                  420                   55                  210                  280                  410                    -                   48                    -                    -                   99                  120                   25
ecoli_mug                                   -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -
ecoli_sediment                              -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -                    -
ecoili_holding_time                      2.38                 2.27                 2.50                 3.38                 3.70                 3.62                    -                 3.23                    -                    -                25.83                 5.13                 4.22
days_since_precipitation                    5                  > 7                  < 1                  > 7                    2                  > 7                  > 7                    7                  > 7                  > 7                  > 7                  > 7                    5
present_weather                             2                    2                    2                    1                    1                    1                    3                    2                    1                    1                    3                    1                    3
water_color                                 3                    1                    3                    3                    3                    3                    3                    3                    -                    -                    3                    3                    3

In [12]:
df_water_quality.shape

(10883, 10)

In [13]:
df_water_quality.ecoli_mug.value_counts()

-           9702
< 2           24
 70           19
 23           16
 47           13
< 7           11
 180          11
 116          11
 71           11
 93           11
< 233         10
< 23          10
 163           9
 50            9
 1000          9
 100           9
 36            9
 90            8
 2500          8
 1500          8
 400           8
 32            8
 29            8
 800           8
 80            8
 3000          8
> 66667        8
> 20000        8
 190           8
 1900          8
 1200          8
 21            8
 140           7
 1400          7
 67            7
 35            7
 120           7
 700           7
 200           7
 14            7
 250           6
< 71           6
 367           6
 4667          6
 53            6
 46            6
 600           6
 300           6
 240           6
 4000          6
 170           6
 7             6
 117           5
 667           5
 2000          5
 260           5
 154           5
 467           5
 57            5
 6667          5
 37            5
 633           5
 19            5
 5000          5
 210           5
 63            5
 465           5
 10000         5
 9000          5
 900           5
 64            5
 160           5
 500           5
 1333          5
 209           4
 233           4
 55            4
 28            4
 533           4
 30            4
 44            4
 133           4
 3200          4
 40            4
 10333         4
> 6667         4
 2800          4
 380           4
 186           4
 150           4
 33            4
 52            4
 175           4
 92            4
 5             4
 86            4
 60            4
 1100          4
 79            4
< 9            3
 69            3
 767           3
 18            3
 933           3
 107           3
 643           3
 16000         3
 326           3
 220           3
 714           3
 4             3
 750           3
 350           3
 114           3
 8000          3
 27            3
 16            3
 450           3
 130           3
 286           3
 75            3
 13            3
 620           3
 21000         3
 43            3
 520           3
 338           3
 56            3
 2200          3
 2             3
 62            3
 123           3
 1300          3
 360           3
 83            3
 143           3
 1800          3
 167           3
 10            3
 54            3
 1700          3
 25            3
 634           3
 280           3
 3667          3
 103           2
 416           2
< 714          2
 155           2
 333           2
 730           2
 8333          2
 567           2
 49            2
 825           2
 867           2
 145           2
 346           2
 1214          2
 20000         2
 3500          2
 846           2
 18000         2
 1133          2
 51            2
 22000         2
 256           2
 231           2
 285           2
 857           2
 423           2
 142           2
 6333          2
 4400          2
 2100          2
 42            2
 11000         2
 15000         2
 11400         2
 357           2
 2400          2
 6000          2
 270           2
 1600          2
 14000         2
 640           2
 11667         2
 1233          2
 25000         2
 433           2
 267           2
 178           2
 2300          2
 73            2
> 666667       2
 5667          2
 2700          2
 106667        2
 230           2
 340           2
 1833          2
 77            2
 8             2
 16667         2
 5700          2
 2667          2
 135           2
 246           2
 232           2
 121           2
 38            2
 33333         2
 488           2
 440           2
 84            2
 927           2
 87            2
 12500         2
 22            2
 716           2
 255           2
 82            2
 164           2
 9500          2
 216           1
 44000         1
 330           1
 58            1
 165           1
 20667         1
 7784          1
 4138          1
 6300          1
 582           1
 125           1
 7834          1
 11750         1
 1475          1
 10834         1
 2150          1
 691           1
 9394          1
 12333         1
 223           1
 470           1
 27000         1
 310           1
 1033          1
 157           1
 9333          1
 3818          1
 92500         1
 185           1
 2591          1
 962           1
 5200          1
 68            1
 392           1
 3800          1
 710           1
 55454         1
 8500          1
 279           1
 1101          1
 65            1
 5500          1
 180000        1
 1550          1
 113           1
 1727          1
 302           1
 5333          1
 108           1
 277           1
 273           1
 110           1
 2143          1
 13666         1
 144           1
 9667          1
 18334         1
 136           1
 650           1
 1166          1
 772           1
 1429          1
<  2           1
 3400          1
 91            1
 10303         1
 238           1
 358           1
 940           1
 27667         1
 7600          1
 4666          1
 475           1
 7250          1
 86667         1
 228           1
 5400          1
 5300          1
 10500         1
 1934          1
 349           1
 129           1
 36667         1
 3384          1
 20            1
 56000         1
 174           1
 110000        1
 111           1
 3385          1
 84000         1
 833           1
 1110          1
 161           1
 78            1
 485           1
 564           1
 1456          1
 7867          1
 8625          1
 4286          1
 5800          1
 50000         1
 13000         1
 65000         1
 1279          1
 436           1
 4333          1
 571           1
 4700          1
 9250          1
 184           1
 2714          1
 1050          1
 11334         1
 152           1
 4600          1
 245           1
 11            1
 6500          1
 1163          1
 54545         1
 484           1
 1533          1
 295           1
 1628          1
 1834          1
 788           1
 880           1
 2769          1
 454           1
 417           1
 370           1
 94            1
 2454          1
 130000        1
 37000         1
 1334          1
 13333         1
 419           1
 3077          1
 138           1
 460           1
 4154          1
 5166          1
 420           1
 55000         1
 570           1
 4605          1
 34            1
 509           1
 1769          1
 3600          1
 132           1
 276           1
 305           1
 271           1
 7200          1
 6167          1
 290           1
 1316          1
 112           1
 15333         1
 1825          1
 6400          1
 26            1
 1455          1
 442           1
 430           1
 536           1
 105000        1
 88            1
 717           1
 9666          1
 31            1
 126           1
 1667          1
 320           1
 12            1
 19667         1
 151           1
 837           1
 275           1
 961           1
 362           1
 2636          1
 33000         1
 4407          1
 1375          1
 41667         1
 104           1
 9             1
 385           1
 19000         1
 97            1
 680           1
 49000         1
 744           1
 875           1
 214           1
 734           1
 558           1
 95            1
< 33           1
 29500         1
 3333          1
 1350          1
 204           1
 46000         1
 58000         1
 3150          1
 3100          1
 48            1
 3308          1
 3167          1
 45            1
 221           1
 66            1
 1231          1
 834           1
< 62           1
 4077          1
 3692          1
 733           1
 348           1
 291666        1
 67000         1
 30000         1
 950           1
 425           1
 85            1
 335           1
 235           1
 1308          1
 9300          1
Name: ecoli_mug, dtype: int64

In [14]:
df_water_quality.ecoli_sediment.value_counts()

-      10880
 84        1
 4         1
 39        1
Name: ecoli_sediment, dtype: int64

In [15]:
prepare.missing_values_col(df_water_quality)

                          num_missing  missing_percentage  num_empty  empty_percentage  dash_count  dash_percentage
station_id                          0                 0.0          0               0.0           0         0.000000
date                                0                 0.0          0               0.0           0         0.000000
oxygen                              0                 0.0          0               0.0        3321        30.515483
ecoli_idexx                         0                 0.0          0               0.0        4294        39.456032
ecoli_mug                           0                 0.0          0               0.0        9702        89.148213
ecoli_sediment                      0                 0.0          0               0.0       10880        99.972434
ecoili_holding_time                 0                 0.0          0               0.0        4968        45.649178
days_since_precipitation            0                 0.0          0               0.0        1362        12.514932
present_weather                     0                 0.0          0               0.0        1337        12.285215
water_color                         0                 0.0          0               0.0        1803        16.567123

In [16]:
df_water_quality.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10883 entries, 0 to 10882
Data columns (total 10 columns):
station_id                  10883 non-null int64
date                        10883 non-null object
oxygen                      10883 non-null object
ecoli_idexx                 10883 non-null object
ecoli_mug                   10883 non-null object
ecoli_sediment              10883 non-null object
ecoili_holding_time         10883 non-null object
days_since_precipitation    10883 non-null object
present_weather             10883 non-null object
water_color                 10883 non-null object
dtypes: int64(1), object(9)
memory usage: 935.3+ KB

In [19]:
df = df_water_quality
df

       station_id                 date  oxygen ecoli_idexx ecoli_mug ecoli_sediment ecoili_holding_time days_since_precipitation present_weather water_color
0           12689  2008-09-18 00:00:00     8.2         120         -              -                2.38                        5               2           3
1           12689  2008-11-20 00:00:00     3.7         420         -              -                2.27                      > 7               2           1
2           12689  2008-12-10 00:00:00     7.0          55         -              -                2.50                      < 1               2           3
3           12689  2009-01-15 00:00:00    12.4         210         -              -                3.38                      > 7               1           3
4           12689  2009-02-19 00:00:00     9.8         280         -              -                3.70                        2               1           3
5           12689  2009-03-05 00:00:00     9.3         410         -              -                3.62                      > 7               1           3
6           12689  2009-05-07 00:00:00       -           -         -              -                   -                      > 7               3           3
7           12689  2009-06-03 00:00:00     7.4          48         -              -                3.23                        7               2           3
8           12689  2009-07-15 00:00:00       -           -         -              -                   -                      > 7               1           -
9           12689  2009-08-12 00:00:00       -           -         -              -                   -                      > 7               1           -
10          12689  2009-10-21 00:00:00     7.0          99         -              -               25.83                      > 7               3           3
11          12689  2009-11-18 00:00:00     9.8         120         -              -                5.13                      > 7               1           3
12          12689  2009-12-16 00:00:00    10.7          25         -              -                4.22                        5               3           3
13          12689  2010-02-18 00:00:00    12.1          91         -              -                4.00                        7               1           5
14          12689  2010-03-31 00:00:00     8.8         280         -              -                3.05                        7               1           5
15          12689  2010-04-29 00:00:00     8.4         200         -              -                2.92                        6               2           1
16          12689  2010-06-24 00:00:00     7.0          88         -              -                2.48                      > 7               2           3
17          12689  2010-07-21 00:00:00     8.8          63         -              -                4.52                      > 7               2           3
18          12689  2010-08-11 00:00:00     3.3          35         -              -                3.15                      > 7               1           3
19          12690  1999-02-08 00:00:00    7.15           -         -              -                   -                        -               2           5
20          12690  1999-02-08 00:00:00    7.62           -         -              -                   -                        -               2           3
21          12690  1999-02-08 00:00:00    9.19           -         -              -                   -                        -               2           5
22          12690  1999-02-08 00:00:00    8.65           -         -              -                   -                        -               2           5
23          12690  1999-02-09 00:00:00       -           -         -              -                   -                        -               -           -
24          12690  1999-03-27 00:00:00    8.06           -         -              -                   -                      < 1               4           1
25          12690  1999-03-27 00:00:00    8.24           -         -              -                   -                      < 1               4           1
26          12690  1999-03-28 00:00:00    7.72           -         -              -                   -                        1               1           1
27          12690  1999-03-28 00:00:00    8.33           -         -              -                   -                        1               3           1
28          12690  1999-04-06 00:00:00    6.44           -         -              -                   -                      < 1               1           3
29          12690  1999-04-12 00:00:00    7.00           -         -              -                   -                      < 1               2           3
30          12690  1999-04-12 00:00:00    5.98           -         -              -                   -                      < 1               2           3
31          12690  1999-04-13 00:00:00    5.72           -         -              -                   -                        1               1           3
32          12690  1999-04-13 00:00:00    6.24           -         -              -                   -                        1               2           3
33          12690  1999-04-26 00:00:00    6.04           -         -              -                   -                      < 1               4           1
34          12690  1999-04-26 00:00:00    4.81           -         -              -                   -                      < 1               3           1
35          12690  1999-04-27 00:00:00       -           -         -              -                   -                        1               1           3
36          12690  1999-04-28 00:00:00    5.67           -         -              -                   -                        -               1           3
37          12690  1999-05-27 00:00:00       -           -         -              -                   -                        -               1           1
38          12690  1999-06-07 00:00:00    9.69           -         -              -                   -                       12               3           3
39          12690  1999-06-07 00:00:00    7.27           -         -              -                   -                       12               1           3
40          12690  1999-06-08 00:00:00    5.67           -         -              -                   -                       13               2           3
41          12690  1999-06-08 00:00:00    7.22           -         -              -                   -                       13               1           3
42          12690  1999-06-15 00:00:00    5.82           -         -              -                   -                      < 1               2           3
43          12690  1999-06-15 00:00:00    8.25           -         -              -                   -                      < 1               2           1
44          12690  1999-06-15 00:00:00    7.57           -         -              -                   -                      < 1               2           3
45          12690  1999-06-16 00:00:00    7.30           -         -              -                   -                        1               1           3
46          12690  1999-07-30 00:00:00       -           -         -              -                   -                        -               -           -
47          12690  1999-08-24 00:00:00    5.60           -         -              -                   -                      < 1               2           1
48          12690  1999-08-24 00:00:00    7.14           -         -              -                   -                      < 1               2           1
49          12690  1999-08-25 00:00:00    7.10           -         -              -                   -                        1               2           1
50          12690  1999-08-25 00:00:00    7.60           -         -              -                   -                        1               2           3
51          12692  2008-09-18 00:00:00     8.6         290         -              -                6.10                        5               2           3
52          12692  2008-11-20 00:00:00     9.8          46         -              -                5.48                      > 7               1           5
53          12692  2008-12-10 00:00:00    10.2       14000         -              -                5.47                      < 1               3           3
54          12692  2009-01-15 00:00:00    13.2          59         -              -                6.55                      > 7               1           3
55          12692  2009-02-19 00:00:00     6.1         180         -              -                7.42                        2               1           3
56          12692  2009-03-05 00:00:00     7.4         190         -              -                7.32                      > 7               2           3
57          12692  2009-05-07 00:00:00     3.2         590         -              -                5.93                      > 7               3           3
58          12692  2009-06-03 00:00:00     3.1         560         -              -                6.00                        7               3           3
59          12692  2009-07-15 00:00:00     3.4         200         -              -                6.50                      > 7               2           3
60          12692  2009-08-12 00:00:00     3.6         120         -              -               29.98                      > 7               1           3
61          12692  2009-10-21 00:00:00     6.4         130         -              -               28.83                      > 7               3           3
62          12692  2009-11-18 00:00:00     7.5         630         -              -                7.87                      > 7               1           3
63          12692  2009-12-16 00:00:00     9.1          17         -              -                6.98                        5               3           3
64          12692  2010-02-18 00:00:00    11.8          52         -              -                8.47                        7               1           5
65          12692  2010-03-31 00:00:00     7.5         340         -              -                5.75                        7               2           5
66          12692  2010-04-29 00:00:00     6.2         140         -              -                6.95                        6               3           5
67          12692  2010-06-24 00:00:00     3.8         540         -              -                5.72                      > 7               2           3
68          12692  2010-07-21 00:00:00     4.5         470         -              -                7.33                      > 7               2           3
69          12692  2010-08-11 00:00:00     3.1        1100         -              -                5.85                      > 7               1           3
70          12693  2008-09-18 00:00:00    15.1         770         -              -                3.62                        5               3           5
71          12693  2008-11-20 00:00:00    22.9       20000         -              -                6.85                      > 7               1           5
72          12693  2008-12-10 00:00:00     9.3       19000         -              -                7.18                      < 1               3           3
73          12693  2009-01-15 00:00:00     9.3          43         -              -                7.72                      > 7               1           3
74          12693  2009-02-19 00:00:00     4.6       17000         -              -                8.87                        2               1           3
75          12693  2009-03-05 00:00:00     4.8         120         -              -                8.45                      > 7               1           3
76          12693  2009-05-07 00:00:00     2.6         180         -              -                7.02                      > 7               3           3
77          12693  2009-06-03 00:00:00     6.4        1500         -              -                7.67                        7               3           5
78          12693  2009-07-15 00:00:00     1.9           9         -              -                7.73                      > 7               2           3
79          12693  2009-08-12 00:00:00     2.5         110         -              -               31.30                      > 7               1           3
80          12693  2009-10-21 00:00:00     4.1         130         -              -               30.27                      > 7               3           5
81          12693  2009-11-18 00:00:00    11.0         910         -              -                9.25                      > 7               1           3
82          12693  2009-12-16 00:00:00    11.9          84         -              -                8.32                        5               3           5
83          12693  2010-02-18 00:00:00    10.6         260         -              -                9.92                        7               1           5
84          12693  2010-03-31 00:00:00     6.6       11000         -              -                7.08                        7               3           3
85          12693  2010-04-29 00:00:00     6.1         160         -              -                8.10                        6               3           5
86          12693  2010-06-24 00:00:00     4.9         310         -              -                6.75                      > 7               2           3
87          12693  2010-07-21 00:00:00     5.2       17000         -              -                8.42                      > 7               1           3
88          12693  2010-08-11 00:00:00     1.9       16000         -              -                6.73                      > 7               1           3
89          12693  2014-06-11 00:00:00     4.1           -         -              -                   -                        2               1           5
90          12693  2014-06-19 00:00:00       -           -         -              -                   -                       11               2           1
91          12693  2014-06-20 00:00:00       -           -         -              -                   -                        -               -           -
92          12693  2014-07-21 00:00:00     7.5           -         -              -                   -                        3               2           1
93          12693  2014-07-22 00:00:00       -           -         -              -                   -                        -               -           -
94          12693  2014-08-28 00:00:00     4.5           -         -              -                   -                        2               2           5
95          12693  2014-08-29 00:00:00       -           -         -              -                   -                        -               -           -
96          12693  2014-09-29 00:00:00     3.4           -         -              -                   -                        1               2           5
97          12693  2014-09-29 00:00:00       -           -         -              -                   -                        -               -           -
98          12693  2014-11-13 00:00:00     7.3           -         -              -                   -                        7               3           5
99          12693  2014-11-14 00:00:00       -           -         -              -                   -                        -               -           -
100         12693  2014-12-15 00:00:00     3.1           -         -              -                   -                        3               3           5
101         12693  2014-12-16 00:00:00       -           -         -              -                   -                        -               -           -
102         12693  2015-01-20 00:00:00     7.1           -         -              -                   -                        5               1           1
103         12693  2015-01-21 00:00:00       -           -         -              -                   -                        -               -           -
104         12693  2015-02-23 00:00:00     3.8           -         -              -                   -                        6               3           5
105         12693  2015-02-24 00:00:00       -           -         -              -                   -                        -               -           -
106         12693  2015-03-26 00:00:00       -           -         -              -                   -                        5               2           3
107         12693  2015-03-31 00:00:00     4.3           -         -              -                   -                        9               3           3
108         12693  2015-04-01 00:00:00       -           -         -              -                   -                        -               -           -
109         12693  2015-05-11 00:00:00     3.8           -         -              -                   -                      < 1               3           5
110         12693  2015-05-12 00:00:00       -           -         -              -                   -                        -               -           -
111         12693  2015-06-25 00:00:00     5.7           -         -              -                   -                        2               2           5
112         12693  2015-06-26 00:00:00       -           -         -              -                   -                        -               -           -
113         12698  1999-02-08 00:00:00    7.85           -         -              -                   -                        -               2           5
114         12698  1999-02-08 00:00:00   11.22           -         -              -                   -                        -               2           5
115         12698  1999-02-08 00:00:00   11.29           -         -              -                   -                        -               2           5
116         12698  1999-02-08 00:00:00    7.46           -         -              -                   -                        -               2           5
117         12698  1999-02-09 00:00:00       -           -         -              -                   -                        -               -           -
118         12698  1999-03-27 00:00:00    9.64           -         -              -                   -                      < 1               4           1
119         12698  1999-03-27 00:00:00    9.53           -         -              -                   -                      < 1               4           1
120         12698  1999-03-28 00:00:00    9.50           -         -              -                   -                        1               1           5
121         12698  1999-03-28 00:00:00    9.44           -         -              -                   -                      < 1               3           6
122         12698  1999-04-06 00:00:00   14.73           -         -              -                   -                      < 1               1           5
123         12698  1999-04-12 00:00:00   11.88           -         -              -                   -                      < 1               2           5
124         12698  1999-04-12 00:00:00    6.58           -         -              -                   -                      < 1               2           5
125         12698  1999-04-13 00:00:00    7.88           -         -              -                   -                        1               1           5