# PLAN

- [ ] Acquisition
    - [x] read the csv into a dataframe
- [ ] Preparation
    - [ ] no missing values
    - [ ] drop columns that are not needed
    - [x] change case to lower case
    - [ ] make sure everything has right dtype
    - [ ] normalize what needs to be normalized
    - [x] rename columns for clarification
- [ ] Exploration
    - [ ] answer ALL questions raised
    - [ ] visualize important findings
    - [ ] decide what TODO items to keep
- [ ] Modeling
    - [ ] predict 
- [ ] Delivery
    - [ ] report
    - [ ] prezi slides
    - [ ] website

# ENVIRONMENT

In [1]:
import os
import acquire
import pandas as pd

# data visualization 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import statsmodels.api as sm

from datetime import timedelta, datetime
from pylab import rcParams

# ACQUIRE

_Let's read in the data from the csv file and take a peek at te first five records._

In [2]:
df = acquire.read_data('saws-ssos.csv')

In [3]:
df.head()

,SSO_ID,INSPKEY,SERVNO,REPORTDATE,SPILL_ADDRESS,SPILL_ST_NAME,TOTAL_GAL,GALSRET,GAL,SPILL_START,...,Root_Cause,STEPS_TO_PREVENT,SPILL_START_2,SPILL_STOP_2,HRS_2,GAL_2,SPILL_START_3,SPILL_STOP_3,HRS_3,GAL_3
0,6582,567722.0,NaN,3/10/19,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,3/10/19,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,3/9/19,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,...,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,3/9/19,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,3/6/19,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0

# PREPARE

In [4]:
def missing_values_col(df):
    """
    This functions returns the total missing values and
    the percent missing values by column.
    """
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    return pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_count': nan_count, 'nan_percentage': nan_percentage})


def missing_values_row(df):
    """
    This functions returns the total missing values and
    the percent missing values by row.
    """
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})


def handle_missing_threshold(df, prop_required_column = .3, prop_required_row = .9):
    """
    This functions removes columns and rows whose
    count of missing values exceeds threshold.
    """
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df


def count_values(df):
    """
    This function counts the value of columns in a dataframe.
    """
    for col in df.columns:
        n = df[col].unique().shape[0]
        col_bins = min(n, 10)
        print(f"{col}:")
        if df[col].dtype in ['int64', 'float64'] and n > 10:
            print(df[col].value_counts(bins=col_bins, sort=False))
        else:
            print(df[col].value_counts())
        print("\n")

def remove_columns(df, columns):
    return df.drop(columns=columns)


def fill_with_zeroes(df, *cols):
    """
    This functions returns the column names as input and
    return the dataframe with the
    null values in those columns replace by 0.
    """
    for col in cols:
        df[col] = df[col].fillna(0)
    return df


def fill_with_median(df, *cols):
    """
    This function fills the NaN values with
    respective median values.
    """
    for col in cols:
        df[col] = df[col].fillna(df[col].median())
    return df


def fill_with_none(df, *cols):
    """
    This function fills the NaN values with
    'None' string value.
    """
    for col in cols:
        df[col] = df[col].fillna('None')
    return df

def fill_with_unknown(df, *cols):
    """
    This functions fills the NaN values with
    'Unknown' string value.
    """
    for col in cols:
        df[col] = df[col].fillna('Unknown')
    return df

def lowercase_columm(df, *columns):
    """
    This function returns a lowercase version of the column values.
    """
    for col in columns:
        df[col] = df[col].str.lower() 
    return df

_Let's convert the column to lowercase to make them easier to work with._

In [5]:
df.columns = map(str.lower, df.columns)
df.head()

,sso_id,inspkey,servno,reportdate,spill_address,spill_st_name,total_gal,galsret,gal,spill_start,...,root_cause,steps_to_prevent,spill_start_2,spill_stop_2,hrs_2,gal_2,spill_start_3,spill_stop_3,hrs_3,gal_3
0,6582,567722.0,NaN,3/10/19,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,3/10/19,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,3/9/19,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,...,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,3/9/19,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,3/6/19,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0

_Let's take a look at the missing values._

In [6]:
missing_values_col(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
sso_id,0,0.000000,0,0.000000,0,0.0
inspkey,797,25.039271,0,0.000000,0,0.0
servno,2715,85.296890,0,0.000000,0,0.0
reportdate,0,0.000000,0,0.000000,0,0.0
spill_address,0,0.000000,0,0.000000,0,0.0
spill_st_name,0,0.000000,0,0.000000,0,0.0
total_gal,0,0.000000,0,0.000000,0,0.0
galsret,475,14.923029,0,0.000000,0,0.0
gal,0,0.000000,0,0.000000,0,0.0
spill_start,0,0.000000,0,0.000000,0,0.0
spill_stop,0,0.000000,0,0.000000,0,0.0
hrs,3,0.094251,0,0.000000,0,0.0
cause,0,0.000000,0,0.000000,0,0.0
comments,533,16.745209,0,0.000000,0,0.0
actions,8,0.251335,0,0.000000,0,0.0
watershed,0,0.000000,0,0.000000,0,0.0
unitid,4,0.125668,0,0.000000,0,0.0
unitid2,244,7.665724,0,0.000000,0,0.0
discharge_to,4,0.125668,0,0.000000,0,0.0
discharge_route,827,25.981778,0,0.000000,0,0.0
council_district,322,10.116243,0,0.000000,0,0.0
ferguson,30,0.942507,0,0.000000,0,0.0
month,0,0.000000,0,0.000000,0,0.0
year,0,0.000000,0,0.000000,0,0.0
week,0,0.000000,0,0.000000,0,0.0
earz_zone,1318,41.407477,0,0.000000,0,0.0
expr1029,7,0.219918,0,0.000000,0,0.0
pipediam,190,5.969211,0,0.000000,0,0.0
pipelen,190,5.969211,0,0.000000,0,0.0
pipetype,190,5.969211,47,1.476594,0,0.0
instyear,118,3.707194,0,0.000000,0,0.0
dwndpth,3183,100.000000,0,0.000000,0,0.0
upsdpth,3183,100.000000,0,0.000000,0,0.0
inches_no,487,15.300031,0,0.000000,0,0.0
rainfall_less3,542,17.027961,0,0.000000,0,0.0
spill address,43,1.350927,0,0.000000,0,0.0
sewerassetexp,3026,95.067546,0,0.000000,0,0.0
num_spills_compkey,0,0.000000,0,0.000000,0,0.0
num_spills_24mos,1677,52.686145,0,0.000000,0,0.0
prevspill_24mos,2582,81.118442,0,0.000000,0,0.0
unittype,17,0.534087,9,0.282752,0,0.0
assettype,2,0.062834,0,0.000000,0,0.0
lastclnd,2082,65.409991,0,0.000000,0,0.0
responsetime,1934,60.760289,0,0.000000,0,0.0
responsedttm,1934,60.760289,0,0.000000,0,0.0
public notice,0,0.000000,0,0.000000,0,0.0
timeint,2393,75.180647,0,0.000000,0,0.0
root_cause,7,0.219918,0,0.000000,0,0.0
steps_to_prevent,1737,54.571159,0,0.000000,0,0.0
spill_start_2,3097,97.298146,0,0.000000,0,0.0
spill_stop_2,3097,97.298146,0,0.000000,0,0.0
hrs_2,1874,58.875275,0,0.000000,0,0.0
gal_2,1873,58.843858,0,0.000000,0,0.0
spill_start_3,3169,99.560163,0,0.000000,0,0.0
spill_stop_3,3169,99.560163,0,0.000000,0,0.0
hrs_3,1878,59.000943,0,0.000000,0,0.0
gal_3,1878,59.000943,0,0.000000,0,0.0

_Let's look at a few of the rows._

In [7]:
df.head(7).T

,0,1,2,3,4,5,6
sso_id,6582,6583,6581,6584,6580,6579,6577
inspkey,567722,567723,567714,567713,567432,567274,567046
servno,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reportdate,3/10/19,3/10/19,3/9/19,3/9/19,3/6/19,3/5/19,3/2/19
spill_address,3200,6804,215,3602,100,3200,9910
spill_st_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR,PANSY LN,S HACKBERRY ST,SUGARLOAF DR
total_gal,2100,80,79,83,75,250,73
galsret,2100,0,0,0,0,0,0
gal,2100,80,10,83,75,250,73
spill_start,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM,3/6/2019 9:40:00 AM,3/5/2019 2:22:00 PM,3/2/2019 1:42:00 PM
spill_stop,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM,3/6/2019 9:55:00 AM,3/5/2019 2:32:00 PM,3/2/2019 2:55:00 PM
hrs,1.4,1.33333,1.5,1.38333,0.25,0.166667,1.21667
cause,Grease,Grease,Structural,Grease,Structural,Grease,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK,SALADO CREEK,DOS RIOS,MEDIO CREEK
unitid,66918,24250,2822,92804,61141,38907,85120
unitid2,66917,24193,3351,92805,49543,26117,85363
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT,STREET,STREET,DRAINAGE CULVERT
discharge_route,None,None,None,None,None,None,None
council_district,NaN,3,1,3,2,3,4
ferguson,172A2,251A3,190E4,252C3,192A7,231C6,207A6
month,3,3,3,3,3,3,3
year,2019,2019,2019,2019,2019,2019,2019
week,11,11,10,10,10,10,9
earz_zone,0,0,0,0,0,0,0
expr1029,NaN,NaN,NaN,NaN,NaN,NaN,GREASE
pipediam,8,8,8,8,12,8,8
pipelen,16.55,157,350,213.91,291.9,315,264.47
pipetype,PVC,PVC,CP,PVC,CP,RL,PVC
instyear,1997,1988,1955,1983,1952,1992,1985
dwndpth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
upsdpth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainfall_less3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill address,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR,100 PANSY LN,3200 S Hackberry St,9910 Sugarloaf Dr
sewerassetexp,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1,2,2,1
num_spills_24mos,1,1,1,1,2,2,1
prevspill_24mos,NaN,NaN,NaN,NaN,15-Dec-18,11-Apr-17,NaN
unittype,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY
assettype,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main
lastclnd,NaN,NaN,NaN,NaN,NaN,NaN,NaN
responsetime,0.45,1.08,1.00,0.55,0.00,0.00,0.73
responsedttm,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19,06-Mar-19,05-Mar-19,02-Mar-19
public notice,False,False,False,False,False,False,False
timeint,24,120,24,120,3,12,120
root_cause,NaN,NaN,NaN,NaN,NaN,NaN,GREASE
steps_to_prevent,NaN,NaN,NaN,NaN,NaN,NaN,"Increase FCS,"
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN,NaN,NaN,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN,NaN,NaN,NaN
hrs_2,0,0,1.15,0,0,0,0
gal_2,0,0,69,0,0,0,0
spill_start_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hrs_3,0,0,0,0,0,0,0
gal_3,0,0,0,0,0,0,0

_Now let's take a peek into the value counts of the columns._

In [8]:
count_values(df)

sso_id:
(-5.5840000000000005, 659.3]    310
(659.3, 1317.6]                  38
(1317.6, 1975.9]                326
(1975.9, 2634.2]                644
(2634.2, 3292.5]                587
(3292.5, 3950.8]                464
(3950.8, 4609.1]                  0
(4609.1, 5267.4]                  6
(5267.4, 5925.7]                157
(5925.7, 6584.0]                651
Name: sso_id, dtype: int64


inspkey:
(3724.564, 60631.5]     541
(60631.5, 116975.0]     372
(116975.0, 173318.5]    392
(173318.5, 229662.0]    246
(229662.0, 286005.5]    134
(286005.5, 342349.0]    174
(342349.0, 398692.5]    118
(398692.5, 455036.0]    125
(455036.0, 511379.5]    151
(511379.5, 567723.0]    133
Name: inspkey, dtype: int64


servno:
(274101.378, 515352.1]     18
(515352.1, 754214.2]       14
(754214.2, 993076.3]       72
(993076.3, 1231938.4]      38
(1231938.4, 1470800.5]    101
(1470800.5, 1709662.6]     62
(1709662.6, 1948524.7]     20
(1948524.7, 2187386.8]     17
(2187386.8, 2426248.9]     31
(2426248.9, 2665111.0]     95
Name: servno, dtype: int64


reportdate:
5/25/13     27
5/19/16     23
9/26/16     22
6/2/16      20
2/3/10      17
9/8/10      16
12/3/16     15
8/7/17      13
10/24/15    10
3/28/18     10
9/7/10       9
5/23/15      8
5/16/16      8
4/25/15      8
4/17/10      8
9/9/18       8
1/15/10      8
2/4/10       7
5/24/15      7
2/20/17      7
3/20/12      7
6/14/15      7
5/17/15      7
9/16/18      7
6/25/14      7
9/15/18      6
1/16/10      6
9/22/18      6
3/4/10       6
7/9/18       6
            ..
11/30/11     1
11/5/17      1
7/1/10       1
1/19/12      1
1/21/11      1
3/23/09      1
7/2/14       1
9/23/12      1
4/2/13       1
9/17/18      1
7/31/14      1
12/29/13     1
4/24/12      1
6/16/13      1
6/17/17      1
4/19/18      1
4/12/13      1
4/18/17      1
6/8/16       1
5/26/17      1
7/14/10      1
12/7/15      1
1/2/10       1
12/31/17     1
3/2/11       1
8/15/10      1
8/25/11      1
8/1/14       1
4/30/11      1
10/23/14     1
Name: reportdate, Length: 1878, dtype: int64


spill_address:
(-29.622, 2962.1]     1693
(2962.1, 5924.2]       551
(5924.2, 8886.3]       476
(8886.3, 11848.4]      243
(11848.4, 14810.5]     128
(14810.5, 17772.6]      31
(17772.6, 20734.7]      13
(20734.7, 23696.8]      32
(23696.8, 26658.9]      12
(26658.9, 29621.0]       4
Name: spill_address, dtype: int64


spill_st_name:
HOLBROOK                42
CAGNON RD               27
CHAPPIE JAMES WAY       25
SWISS OAKS              24
IH 10 W                 23
AUSTIN HWY              23
NACOGDOCHES RD          21
CULEBRA RD              20
THOUSAND OAKS           20
DONALDSON AVE           18
ENTRANCE RD NE          17
BANDERA RD              17
HARRY WURZBACH          17
LOOP 410 NW             17
PLEASANTON RD           16
JONES MALTSBERGER RD    15
MISSION RD              15
WURZBACH RD             15
AVONDALE AVE            15
MARBACH RD              14
FLORES ST S             14
YOLANDA                 14
NEER AVE                13
COMMERCE ST W           13
PIEDMONT AVE            13
BLANCO RD               12
US HWY 281 N            12
SAN PEDRO AVE           11
MILITARY DR W           11
BROADWAY                11
                        ..
PLUMERIA                 1
HICKS AVE                1
CANARIO                  1
SONTERRA BLVD            1
MOUNTAIN TOP             1
PYLE                     1
PIPERS BLF               1
SAN AUGUSTINE S          1
ELMENDORF N E            1
CONTOUR DR W             1
GOLDEN CROWN             1
ROUND RIDGE              1
SKYLINE BLVD             1
WOODWARD                 1
FOUR COLONIES            1
MORNING OAK              1
DAVY CROCKETT DR         1
PIPERS FIELD             1
AUGUSTA                  1
BOLING BROOK             1
MAVERICK CLIMB           1
AULDINE DR               1
BENDING ELMS             1
N ALAMO ST               1
MISSION RDG              1
BRAUN BEND               1
PAESANOS PKWY            1
GORMAN ST                1
ORSINGER LN              1
SUNLIT BROOK             1
Name: spill_st_name, Length: 1509, dtype: int64


total_gal:
(-13303.550000000001, 1330455.9]    3169
(1330455.9, 2660910.8]                 9
(2660910.8, 3991365.7]                 2
(3991365.7, 5321820.6]                 1
(5321820.6, 6652275.5]                 1
(6652275.5, 7982730.4]                 0
(7982730.4, 9313185.3]                 0
(9313185.3, 10643640.2]                0
(10643640.2, 11974095.1]               0
(11974095.1, 13304550.0]               1
Name: total_gal, dtype: int64


galsret:
(-2385.1510000000003, 238515.0]    2698
(238515.0, 477030.0]                  5
(477030.0, 715545.0]                  3
(715545.0, 954060.0]                  0
(954060.0, 1192575.0]                 0
(1192575.0, 1431090.0]                1
(1431090.0, 1669605.0]                0
(1669605.0, 1908120.0]                0
(1908120.0, 2146635.0]                0
(2146635.0, 2385150.0]                1
Name: galsret, dtype: int64


gal:
(-13303.550000000001, 1330455.9]    3175
(1330455.9, 2660910.8]                 3
(2660910.8, 3991365.7]                 2
(3991365.7, 5321820.6]                 1
(5321820.6, 6652275.5]                 1
(6652275.5, 7982730.4]                 0
(7982730.4, 9313185.3]                 0
(9313185.3, 10643640.2]                0
(10643640.2, 11974095.1]               0
(11974095.1, 13304550.0]               1
Name: gal, dtype: int64


spill_start:
9/8/2010 6:58:00 AM       2
9/26/2016 8:00:00 AM      2
7/1/2011 12:30:00 PM      2
9/8/2010 4:00:00 AM       2
5/25/2013 1:00:00 PM      2
6/2/2016 6:30:00 AM       2
2/20/2009 2:30:00 PM      2
2/3/2010 3:00:00 PM       2
9/22/2010 1:30:00 PM      2
5/25/2013 7:00:00 AM      2
2/1/2012 1:30:00 PM       2
5/11/2009 3:00:00 PM      2
5/25/2013 12:00:00 PM     2
5/25/2013 9:00:00 AM      2
2/25/2010 3:00:00 PM      2
5/19/2016 11:00:00 AM     2
4/17/2010 11:30:00 AM     2
6/2/2016 5:15:00 AM       2
7/17/2009 7:55:00 PM      2
7/9/2018 3:00:00 PM       2
9/8/2010 11:00:00 AM      2
2/3/2010 10:00:00 AM      2
8/7/2017 9:30:00 AM       2
4/10/2010 1:00:00 PM      2
6/28/2010 11:00:00 AM     2
4/29/2010 9:00:00 PM      2
8/7/2017 1:30:00 PM       2
9/10/2018 4:20:00 PM      2
2/13/2011 11:30:00 AM     2
3/25/2010 9:30:00 AM      2
                         ..
10/7/2009 1:46:00 PM      1
2/9/2014 1:32:00 PM       1
10/31/2013 9:09:00 AM     1
2/13/2019 5:28:00 AM      1
10/21/2016 10:45:00 AM    1
9/28/2010 2:00:00 PM      1
9/29/2012 7:30:00 PM      1
2/3/2010 8:00:00 AM       1
5/26/2014 11:53:00 AM     1
2/20/2018 8:54:00 AM      1
5/16/2016 8:10:00 AM      1
2/9/2012 6:00:00 PM       1
12/9/2015 8:34:00 AM      1
6/19/2015 12:25:00 PM     1
3/4/2010 9:30:00 AM       1
1/24/2011 4:00:00 PM      1
3/3/2010 2:00:00 PM       1
1/31/2019 10:35:00 AM     1
7/22/2009 7:00:00 AM      1
4/19/2011 2:45:00 PM      1
1/29/2012 8:15:00 PM      1
5/19/2016 9:13:00 AM      1
8/22/2017 7:55:00 PM      1
6/1/2009 8:00:00 AM       1
3/14/2018 4:00:00 PM      1
12/21/2012 12:16:00 PM    1
8/19/2014 6:56:00 AM      1
10/26/2016 10:05:00 AM    1
1/23/2019 1:42:00 PM      1
5/6/2016 7:52:00 PM       1
Name: spill_start, Length: 3152, dtype: int64


spill_stop:
9/26/2016 11:00:00 AM     4
5/25/2013 3:30:00 PM      4
9/8/2010 11:30:00 AM      3
9/26/2016 3:45:00 PM      3
5/24/2015 2:45:00 AM      3
1/24/2011 5:00:00 PM      2
9/26/2016 5:00:00 PM      2
7/30/2009 3:30:00 PM      2
3/21/2012 11:15:00 AM     2
7/11/2012 12:15:00 PM     2
2/20/2017 8:30:00 AM      2
5/26/2010 10:00:00 PM     2
2/3/2010 4:30:00 PM       2
6/6/2010 8:00:00 PM       2
5/11/2016 8:00:00 AM      2
7/17/2009 8:10:00 PM      2
10/25/2011 11:00:00 AM    2
10/30/2011 1:45:00 PM     2
6/25/2014 2:30:00 PM      2
9/26/2016 1:00:00 PM      2
2/14/2011 1:30:00 PM      2
9/26/2016 10:30:00 AM     2
1/13/2011 9:00:00 AM      2
1/11/2012 1:30:00 PM      2
9/8/2010 8:30:00 PM       2
4/25/2015 1:20:00 PM      2
4/22/2016 11:00:00 PM     2
1/26/2010 10:00:00 PM     2
2/9/2013 5:00:00 PM       2
1/27/2010 11:00:00 AM     2
                         ..
4/24/2016 7:30:00 PM      1
7/26/2012 8:00:00 PM      1
2/3/2010 5:30:00 PM       1
7/9/2017 11:59:00 PM      1
3/26/2010 11:00:00 PM     1
2/26/2012 3:40:00 PM      1
5/19/2016 11:15:00 AM     1
10/22/2017                1
2/23/2015 1:45:00 PM      1
9/15/2010 11:00:00 PM     1
7/23/2014 7:30:00 PM      1
8/17/2017 6:00:00 PM      1
5/2/2009 1:00:00 AM       1
11/12/2017 9:40:00 PM     1
2/25/2015 3:30:00 PM      1
6/22/2016 1:50:00 AM      1
9/5/2018 12:50:00 PM      1
1/25/2010 3:00:00 PM      1
5/10/2012 11:00:00 PM     1
4/19/2016 5:00:00 AM      1
1/27/2018 1:40:00 PM      1
7/23/2010 3:40:00 PM      1
5/27/2010 8:00:00 PM      1
9/8/2010 1:00:00 PM       1
11/6/2009 1:30:00 PM      1
9/24/2018 12:43:00 PM     1
6/3/2016 6:30:00 PM       1
6/23/2018 6:30:00 PM      1
2/19/2018 4:45:00 PM      1
9/27/2010 11:15:00 AM     1
Name: spill_stop, Length: 3133, dtype: int64


hrs:
(-1.797, 179.6]     3176
(179.6, 359.2]         1
(359.2, 538.8]         0
(538.8, 718.4]         1
(718.4, 898.0]         1
(898.0, 1077.6]        0
(1077.6, 1257.2]       0
(1257.2, 1436.8]       0
(1436.8, 1616.4]       0
(1616.4, 1796.0]       1
Name: hrs, dtype: int64


cause:
Grease                                                  956
Debris                                                  479
I/I                                                     465
Debris/Rock                                             254
Structural                                              244
Rags                                                    236
Break In Main                                           164
Contractor                                               91
Break in Main                                            68
Lift Station                                             42
Vandalism                                                38
Other                                                    29
Lift Station Power Out                                   29
Roots                                                    28
Lift Station Pump Out                                    21
Other - Capacity                                          5
Equipment Failure                                         5
Plug In Main                                              4
Break In By-Pass Line                                     3
By-pass Pump Failure                                      3
By-Pass Equip Failure                                     2
Human Error                                               2
Other - Spill Was Caused By A Surcharging Sewer Main      1
Contractor - Contractor Damaged 8 inch Force Main         1
Protruding Lateral                                        1
Other - Cause To Be Determined                            1
Broken ARV                                                1
Lateral Repair                                            1
Other - Obstruction In Main                               1
Under Investigation                                       1
By-Pass Pump Failure                                      1
Other - Cleanout Cap Broken By Vehicular Traffic          1
Other - Gate Valve                                        1
Structural - Spilled From Broken Lateral                  1
Other - Mechanical                                        1
Structural - Broken Force Main                            1
Lift Station - Due To Power Failure And I/I               1
Name: cause, dtype: int64


comments:
 APPLIED  HTH                                                                                                          518
APPLIED HTH                                                                                                            513
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                                      391
Area cleaned and disinfected                                                                                           112
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                    106
CLEANED MAIN                                                                                                            84
REPAIRED MAIN - HTH                                                                                                     80
 APPLIED  HTH, REPAIRED MAIN                                                                                            64
Spill ContainedArea Cleaned and Disinfected                                                                             54
AREA CLEANED AND DISINFECTED                                                                                            49
Area Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                                                      49
Area Cleaned and Disinfected                                                                                            46
REPAIRED MAIN                                                                                                           28
Spill ContainedReturned to SystemArea Cleaned and Disinfected                                                           24
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O,                                                       22
Spill Contained                                                                                                         21
MONITORED AREA - HTH                                                                                                    21
MONITORED AREA                                                                                                          20
CLEANED AREA                                                                                                            19
Spill ContainedReturned to System                                                                                       13
 AREA CLEANED AND DISINFECTED                                                                                           11
Diluted by heavy rain water                                                                                             10
Spill ContainedFlushed Area with H2O, Unstopped Main,                                                                    8
SPILL CONTAINED                                                                                                          6
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,       6
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,                         6
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main,                                         5
Spill ContainedReturned to SystemFlushed Area with H2O, Unstopped Main,                                                  4
DILUTED BY HEAVY RAIN WATER                                                                                              4
APPLIED  HTH                                                                                                             4
                                                                                                                      ...
Spill ContainedReturned to SystemArea Cleaned and Disinfected Flushed Area with H2O, Unstopped Main,                     1
 Area cleaned and disinfected/main repaired                                                                              1
ADJUSTED PUMPS - HEAVY RAIN                                                                                              1
APPLIED HTH-RESTORED POWER TO LS187                                                                                      1
BY/PASS PUMP/RUN OVER(CONTRACTOR)                                                                                        1
RE-DIRECTED BY-PASS TUBING                                                                                               1
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,  8 inch sewer main                     1
Resealed 54" siphon boxes                                                                                                1
APPLIED HTH - REPLACED BY-PASS HOSE                                                                                      1
APPLIE HTH                                                                                                               1
 REMOVED 1" X 8" X 12" BOARD FROM MAIN                                                                                   1
REPAIRED COLLAPSED LATERAL-HTH                                                                                           1
Spill Contained Area Cleaned and Disinfected                                                                             1
APPLIED HTH-RESTORED POWER TO LS200                                                                                      1
CLEANED AND MONITORED                                                                                                    1
REPAIRED MAIN BREAK / HTH                                                                                                1
CONSTRUCTED DAM                                                                                                          1
REPAIRED A/R VALVE ON MAIN/HTH                                                                                           1
HTH / REPAIRED FORCE MAIN AT LS #163                                                                                     1
REPAIRED 8" FORCE MAIN @L/S 300                                                                                          1
Area Cleaned and Disinfected\nRepaired main                                                                              1
APPLIED HTH/DILUTED BY RAIN                                                                                              1
REMOVED PLUG FROM MAIN                                                                                                   1
Lift station 199 overflow due to heavy rain                                                                              1
Repaired main broken by Contractor                                                                                       1
2nd start Time:6/6/12 7:15 to 6/6/12 15:45-Spilled into Huebner Crk - Large rocks                                        1
REPLACED LATERAL                                                                                                         1
REPAIRED MAIN / HTH                                                                                                      1
PUMPED OUT/ REPLACED W/FRESH H20                                                                                         1
CONTRACTOR LEFT MANHOLES UNBOLTED DURING HEAVY RAIN                                                                      1
Name: comments, Length: 331, dtype: int64


actions:
CLEANED MAIN                                                                                                                1927
REPAIRED MAIN                                                                                                                307
DILUTED BY HEAVY RAIN WATER                                                                                                  116
MONITORED AREA                                                                                                                93
APPLIED HTH                                                                                                                   71
DILUTED BY HEAVY RAINWATER                                                                                                    66
CLEANED AREA                                                                                                                  52

(0.979, 3.0]    2840
(3.0, 5.0]       179
(5.0, 7.0]        80
(7.0, 9.0]        35
(9.0, 11.0]        9
(11.0, 13.0]      28
(13.0, 15.0]       0
(15.0, 17.0]       2
(17.0, 19.0]       4
(19.0, 21.0]       6
Name: num_spills_compkey, dtype: int64


num_spills_24mos:
(0.987, 2.2]    1325
(2.2, 3.4]        75
(3.4, 4.6]        32
(4.6, 5.8]        27
(5.8, 7.0]        31
(7.0, 8.2]         7
(8.2, 9.4]         5
(9.4, 10.6]        1
(10.6, 11.8]       1
(11.8, 13.0]       2
Name: num_spills_24mos, dtype: int64


prevspill_24mos:
26-Sep-16    11
19-May-16    10
25-May-13     7
17-May-15     6
02-Jun-16     6
16-May-16     6
25-Apr-15     5
28-Mar-18     5
09-Jul-18     5
20-Feb-17     5
17-Apr-10     5
03-Dec-16     5
11-May-16     5
07-Aug-17     4
08-Sep-10     4
22-Sep-18     4
26-Oct-09     3
03-Feb-10     3
05-Dec-16     3
23-May-15     3
25-Jun-14     3
04-Nov-14     3
15-Jan-10     3
24-Oct-15     3
07-Sep-10     3
31-May-16     3
09-Oct-11     3
15-Aug-16     3
19-Jun-15     3
24-Apr-15     3
             ..
14-Jul-12     1
14-Aug-18     1
02-Aug-09     1
07-Feb-09     1
04-Aug-12     1
07-Jan-09     1
04-Jun-13     1
10-Sep-08     1
22-Jan-13     1
25-May-15     1
19-May-10     1
21-Apr-16     1
30-Apr-13     1
02-Feb-11     1
06-Oct-09     1
03-Sep-10     1
16-May-09     1
02-Sep-10     1
05-May-13     1
06-Jan-11     1
06-Jun-11     1
22-Jun-15     1
22-Sep-13     1
13-Mar-11     1
16-Dec-18     1
05-Sep-11     1
11-Jun-08     1
04-Mar-10     1
14-Jul-09     1
24-Apr-10     1
Name: prevspill_24mos, Length: 442, dtype: int64


unittype:
GRAVITY       2508
OUTFALL        222
SIPHON         144
ABOVE           83
LATERAL         57
SUBMERSED       51
FORCE           44
STANDARD        29
                 9
A/R              6
OUT SIPHON       2
JUNCTION         2
IN SIPHON        2
TANKHOLDIN       2
PMPCENTSP        2
OTHER            1
SLUDGE           1
PMPSUBM          1
Name: unittype, dtype: int64


assettype:
Sewer Main               2925
Sewer Lift Station        108
Sewer Service Line         62
Sewer Manhole              34
Sewer Liftstation          30
Sewer Valve                 7
Sewer Treatment Plant       3
Sewer Pump                  3
Sewer Node                  3
Plant Equipment             2
Sewer Miscellaneous         1
Bypass                      1
Sewer Force Main            1
BYPASS LINE                 1
Name: assettype, dtype: int64


lastclnd:
23-Sep-09    6
11-May-12    5
22-Aug-09    5
22-Oct-09    5
18-Apr-09    4
23-Nov-09    4
29-Feb-12    4
19-Jun-13    4
07-Jan-10    4
07-Dec-09    4
01-Jun-10    4
20-Oct-09    4
28-Dec-09    4
25-Nov-09    4
19-Feb-10    3
22-Nov-13    3
03-Oct-11    3
09-Aug-10    3
17-Mar-11    3
25-Mar-11    3
17-Dec-09    3
24-Jun-09    3
10-Oct-09    3
08-Apr-10    3
19-Oct-11    3
19-Nov-12    3
12-Aug-10    3
21-Sep-10    3
04-Oct-10    3
17-Oct-13    3
            ..
02-Oct-09    1
12-Aug-11    1
22-Aug-12    1
28-Nov-12    1
23-Jun-14    1
02-May-11    1
05-Apr-10    1
15-Sep-12    1
28-Dec-12    1
21-Aug-11    1
15-Jun-10    1
02-Jul-10    1
10-Apr-11    1
18-Feb-12    1
03-Apr-10    1
09-Jan-13    1
09-Jul-12    1
18-Aug-10    1
19-Sep-10    1
24-Aug-11    1
05-May-11    1
29-Dec-13    1
29-Mar-12    1
10-Aug-13    1
01-Jul-13    1
29-Sep-09    1
09-Sep-09    1
17-Nov-11    1
10-Mar-15    1
04-May-14    1
Name: lastclnd, Length: 796, dtype: int64


responsetime:
0.00      374
0.50       19
0.60       17
0.78       17
0.43       16
0.58       16
0.45       16
0.55       15
0.25       15
0.42       15
0.53       14
0.62       14
0.85       13
0.67       13
0.65       13
0.70       12
0.63       12
0.83       12
0.40       12
0.37       12
0.57       12
0.68       12
0.28       12
0.52       11
0.48       11
0.47       11
0.75       11
0.23       11
0.18       10
0.08       10
         ...
2.50        1
1.60        1
4.17        1
1.90        1
2.40        1
2.65        1
1.65        1
6.68        1
-0.13       1
-14.72      1
-0.25       1
3.55        1
2.18        1
5.03        1
3.73        1
8.53        1
1.05        1
4.72        1
4.10        1
3.95        1
7.10        1
-12.00      1
1.68        1
3.62        1
3.40        1
1.98        1
2.43        1
3.93        1
4.33        1
15.12       1
Name: responsetime, Length: 209, dtype: int64


responsedttm:
26-Sep-16    23
19-May-16    23
02-Jun-16    20
03-Dec-16    15
07-Aug-17    13
28-Mar-18    10
24-Oct-15    10
14-Jun-15     9
24-May-15     8
16-May-16     8
23-May-15     8
17-May-15     8
09-Sep-18     8
25-Apr-15     8
20-Feb-17     7
16-Sep-18     7
15-Sep-18     6
25-Jun-14     6
18-Apr-16     6
21-Aug-16     6
09-Jul-18     6
22-Sep-18     6
11-May-16     5
31-May-16     5
19-Jun-15     5
04-Sep-18     5
03-Jun-16     5
10-Mar-15     5
10-Sep-18     5
05-Dec-16     4
             ..
27-Mar-17     1
01-Aug-17     1
17-Sep-18     1
03-Jul-18     1
12-Jun-14     1
31-Dec-13     1
13-Nov-14     1
07-Feb-15     1
07-Apr-15     1
27-Jan-15     1
09-Aug-16     1
02-Feb-19     1
10-Mar-17     1
23-Oct-14     1
25-Feb-15     1
31-Oct-15     1
26-Feb-14     1
09-Dec-17     1
30-Jan-17     1
01-May-15     1
26-Sep-17     1
22-Jul-15     1
05-Dec-18     1
23-Jan-17     1
05-Oct-18     1
09-Jun-14     1
06-Jul-18     1
31-May-17     1
14-May-14     1
26-Apr-15     1
Name: responsedttm, Length: 780, dtype: int64


public notice:
False    3031
True      152
Name: public notice, dtype: int64


timeint:
120.0    321
12.0     169
24.0     165
6.0       63
3.0       37
60.0      23
1.0       12
Name: timeint, dtype: int64


root_cause:
STRUCTURAL           1237
GREASE                610
DEBRIS                443
RAIN EVENT            353
CONTRACTOR            164
LIFT STATION          125
OTHER                  61
RAIN EVENT             48
VANDALISM              48
VANDALISM              24
ROOTS                  22
LIFT STATION           15
I/I                    12
CONTRACTOR              8
BY PASS PUMP LEAK       3
OTHER                   1
Grease                  1
Debris                  1
Name: root_cause, dtype: int64


steps_to_prevent:
Increase FCS,         470
Point Repair,         280
Design Request,       201
Other                 195
I/I Inv,              144
Capacity Project,     114
Bolt down,             24
ED/COM,                11
RPC,                    7
Name: steps_to_prevent, dtype: int64


spill_start_2:
06/02/2016 20:00    2
09/16/2018 15:05    1
06/03/2016 19:26    1
06/01/2016 14:30    1
10/15/2018 10:00    1
08/29/2018 09:07    1
09/30/2012 13:00    1
06/02/2016 08:40    1
10/31/2015 07:45    1
09/21/2018 14:00    1
06/07/2013 17:30    1
03/28/2018 10:00    1
03/20/2012 09:00    1
04/30/2015 20:07    1
04/25/2015 12:10    1
05/29/2015 13:25    1
11/09/2016 07:45    1
03/10/2019 09:36    1
01/18/2017 11:20    1
05/31/2015 16:00    1
04/25/2015 10:00    1
01/03/2016 12:45    1
05/31/2016 17:02    1
01/04/2016 10:05    1
04/25/2015 15:24    1
11/02/2013 09:47    1
05/19/2016 11:21    1
09/23/2018 14:42    1
04/25/2015 05:31    1
02/23/2018 12:37    1
                   ..
01/10/2016 13:20    1
12/05/2016 09:30    1
05/12/2016 00:00    1
04/26/2016 19:19    1
11/07/2014 08:30    1
09/05/2018 11:45    1
12/08/2018 17:45    1
01/31/2016 22:45    1
11/21/2014 17:50    1
12/24/2015 16:30    1
11/28/2015 14:45    1
03/25/2014 16:15    1
07/24/2018 13:30    1
03/05/2017 16:05    1
09/26/2016 22:15    1
04/07/2018 09:17    1
04/25/2017 10:45    1
02/18/2018 11:10    1
08/28/2012 07:30    1
08/01/2018 09:43    1
01/24/2016 13:37    1
12/27/2015 17:57    1
11/30/2018 11:35    1
09/16/2018 08:03    1
03/28/2018 21:45    1
05/31/2016 22:05    1
06/02/2018 09:18    1
03/28/2018 18:28    1
05/18/2016 06:55    1
09/23/2018 10:51    1
Name: spill_start_2, Length: 85, dtype: int64


spill_stop_2:
03/29/2018 02:45    1
06/01/2016 07:20    1
12/08/2018 00:00    1
06/01/2015 02:30    1
06/04/2016 00:00    1
08/29/2018 09:07    1
06/02/2018 10:49    1
03/29/2018 03:00    1
05/16/2016 12:00    1
05/31/2016 23:45    1
04/25/2017 15:00    1
06/02/2016 23:30    1
05/26/2013 18:00    1
09/16/2018 20:00    1
04/30/2015 21:10    1
12/24/2015 20:00    1
06/03/2016 14:10    1
12/06/2015 17:00    1
09/17/2018 04:00    1
06/06/2012 15:45    1
11/21/2014 19:30    1
02/23/2018 21:40    1
05/29/2015 16:41    1
04/26/2016 20:10    1
10/24/2015 12:15    1
12/11/2018 11:57    1
10/01/2012 04:00    1
11/01/2015 00:42    1
11/28/2015 21:30    1
12/09/2018 03:30    1
                   ..
06/07/2013 18:30    1
09/27/2016 07:30    1
11/09/2016 13:00    1
02/18/2018 12:00    1
12/06/2016 08:05    1
05/12/2016 07:15    1
05/20/2016 14:30    1
05/15/2012 10:15    1
11/30/2015 01:40    1
03/10/2019 10:45    1
12/27/2015 18:30    1
01/17/2016 16:26    1
11/02/2013 10:45    1
04/07/2018 11:00    1
04/25/2015 20:45    1
06/03/2016 11:23    1
04/25/2015 18:10    1
06/03/2016 04:22    1
12/06/2016 03:40    1
01/04/2016 10:30    1
08/26/2016 10:30    1
09/21/2018 21:45    1
07/24/2018 14:30    1
05/16/2016 14:40    1
04/25/2015 11:41    1
08/01/2018 10:05    1
04/25/2015 23:30    1
09/23/2018 22:57    1
10/16/2018 03:00    1
01/18/2017 14:25    1
Name: spill_stop_2, Length: 86, dtype: int64


hrs_2:
(-0.119, 11.8]    1291
(11.8, 23.6]        15
(23.6, 35.4]         0
(35.4, 47.2]         1
(47.2, 59.0]         1
(59.0, 70.8]         0
(70.8, 82.6]         0
(82.6, 94.4]         0
(94.4, 106.2]        0
(106.2, 118.0]       1
Name: hrs_2, dtype: int64


gal_2:
(-2377.351, 237735.0]     1300
(237735.0, 475470.0]         5
(475470.0, 713205.0]         1
(713205.0, 950940.0]         0
(950940.0, 1188675.0]        1
(1188675.0, 1426410.0]       2
(1426410.0, 1664145.0]       0
(1664145.0, 1901880.0]       0
(1901880.0, 2139615.0]       0
(2139615.0, 2377350.0]       1
Name: gal_2, dtype: int64


spill_start_3:
12/09/2018 14:09    1
06/02/2016 12:00    1
10/12/2018 08:00    1
06/03/2016 16:00    1
10/25/2018 11:59    1
01/24/2016 22:10    1
06/10/2013 11:30    1
12/28/2015 14:47    1
03/21/2012 08:40    1
09/27/2016 13:30    1
11/22/2014 22:05    1
10/29/2018 21:20    1
12/06/2016 15:28    1
01/04/2016 16:55    1
Name: spill_start_3, dtype: int64


spill_stop_3:
06/03/2016 20:00    1
12/10/2018 05:00    1
03/21/2012 11:15    1
01/04/2016 19:00    1
12/28/2015 15:25    1
06/02/2016 12:05    1
10/30/2018 02:50    1
01/24/2016 23:38    1
10/25/2018 17:30    1
11/23/2014 03:05    1
09/27/2016 15:00    1
06/10/2013 13:00    1
12/07/2016 07:00    1
10/12/2018 12:02    1
Name: spill_stop_3, dtype: int64


hrs_3:
(-0.0165, 1.553]    1295
(1.553, 3.106]         2
(3.106, 4.659]         2
(4.659, 6.212]         3
(6.212, 7.765]         1
(7.765, 9.318]         0
(9.318, 10.871]        0
(10.871, 12.424]       0
(12.424, 13.977]       0
(13.977, 15.53]        2
Name: hrs_3, dtype: int64


gal_3:
(-255.30100000000002, 25530.0]    1300
(25530.0, 51060.0]                   3
(51060.0, 76590.0]                   1
(76590.0, 102120.0]                  0
(102120.0, 127650.0]                 0
(127650.0, 153180.0]                 0
(153180.0, 178710.0]                 0
(178710.0, 204240.0]                 0
(204240.0, 229770.0]                 0
(229770.0, 255300.0]                 1
Name: gal_3, dtype: int64

_Let's rename the columns for clarity._

In [9]:
df = df.rename(index=str, columns={'inspkey':'inspection_key',
                                   'servno':'service_number',
                                   'reportdate':'report_date',
                                   'spill_st_name':'spill_street_name',
                                   'total_gal':'total_gallons',
                                   'galsret':'gallons_returned',
                                   'gal':'gallons_1',
                                   'spill_start':'spill_start_1',
                                   'spill_stop':'spill_stop_1',
                                   'hrs':'hours_1',
                                   'unitid':'unit_id_1',
                                   'unitid2':'unit_id_2',
                                   'earz_zone':'edwards_zone',
                                   'expr1029':'expr_1029',
                                   'pipediam':'pipe_diameter',
                                   'pipelen':'pipe_length',
                                   'pipetype':'pipe_type',
                                   'instyear':'installation_year',
                                   'dwndpth':'downstream_depth',
                                   'upsdpth':'upstream_depth',
                                   'rainfall_less3':'rainfall_less_3',
                                   'spill address': 'spill_address_full',
                                   'sewerassetexp':'sewer_asset_exp',
                                   'prevspill_24mos':'previous_spill_24mos',
                                   'unittype':'unit_type',
                                   'assettype':'asset_type',
                                   'lastclnd':'last_cleaned',
                                   'responsetime':'response_time',
                                   'responsedttm':'response_datetime',
                                   'public notice':'public_notice',
                                   'timeint':'time_int',
                                   'hrs_2':'hours_2',
                                   'gal_2':'gallons_2',
                                   'hrs_3':'hours_3',
                                   'gal_3':'gallons_3'
                                   })

In [10]:
df.head(4).T

,0,1,2,3
sso_id,6582,6583,6581,6584
inspection_key,567722,567723,567714,567713
service_number,NaN,NaN,NaN,NaN
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
downstream_depth,NaN,NaN,NaN,NaN
upstream_depth,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR
sewer_asset_exp,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
previous_spill_24mos,NaN,NaN,NaN,NaN
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0

## _Let's make copies of the original dataframe before dropping some columns and rows to cover scenarios where we uncover more information about the variables._

In [11]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()

_Let's work with df1..._

_Let's remove columns that do not add information._

In [12]:
df1 = remove_columns(df1, columns=['sso_id',
                                   'inspection_key',
                                   'service_number',
                                   'downstream_depth',
                                   'upstream_depth',
                                   'sewer_asset_exp',
                                   'previous_spill_24mos',
                                   'response_time',
                                   'response_datetime',
                                   'time_int'
                                ])
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
public_notice,False,False,False,False
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0

_Let's make the fields lowercase as well..._

In [14]:
df1 = lowercase_columm(df1, 'spill_street_name',
                 'spill_address_full',
                 'unit_type',
                 'asset_type',
                 'cause',
                 'comments',
                 'actions',
                 'watershed',
                 'discharge_to',
                 'discharge_route',
                 'pipe_type'
                )
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,thousand oaks dr,s flores st,audrey alene dr,se military dr
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,grease,grease,structural,grease
comments,spill containedreturned to systemarea cleaned ...,spill containedarea cleaned and disinfected,spill containedarea cleaned and disinfectedflu...,spill containedarea cleaned and disinfectedflu...
actions,cleaned main,cleaned main,cleaned main,NaN
watershed,salado creek,dos rios,dos rios,salado creek
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,street,stormdrain,alley,easement
discharge_route,none,none,none,none
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,pvc,pvc,cp,pvc
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 thousand oaks dr,6804 s flores,215 audrey alene dr,3602 se military dr
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,gravity,gravity,gravity,gravity
asset_type,sewer main,sewer main,sewer main,sewer main
last_cleaned,NaN,NaN,NaN,NaN
public_notice,False,False,False,False
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0

_Creating a new address column with a better format._

In [15]:
df1[['spill_street_address']] = df1[['spill_address']]
rows = list(df1.index)
for row in rows:
    df1.spill_street_address[row] = str(df1.spill_address[row]) + ' ' + df1.spill_street_name[row]
df1.head(4).T

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,thousand oaks dr,s flores st,audrey alene dr,se military dr
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,grease,grease,structural,grease
comments,spill containedreturned to systemarea cleaned ...,spill containedarea cleaned and disinfected,spill containedarea cleaned and disinfectedflu...,spill containedarea cleaned and disinfectedflu...
actions,cleaned main,cleaned main,cleaned main,NaN
watershed,salado creek,dos rios,dos rios,salado creek
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,street,stormdrain,alley,easement
discharge_route,none,none,none,none
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,pvc,pvc,cp,pvc
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 thousand oaks dr,6804 s flores,215 audrey alene dr,3602 se military dr
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,gravity,gravity,gravity,gravity
asset_type,sewer main,sewer main,sewer main,sewer main
last_cleaned,NaN,NaN,NaN,NaN
public_notice,False,False,False,False
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0
spill_street_address,3200 thousand oaks dr,6804 s flores st,215 audrey alene dr,3602 se military dr

In [16]:
df1 = df1.drop(columns=['spill_address_full', 'spill_address', 'spill_street_name'])
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,grease,grease,structural,grease
comments,spill containedreturned to systemarea cleaned ...,spill containedarea cleaned and disinfected,spill containedarea cleaned and disinfectedflu...,spill containedarea cleaned and disinfectedflu...
actions,cleaned main,cleaned main,cleaned main,NaN
watershed,salado creek,dos rios,dos rios,salado creek
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,street,stormdrain,alley,easement
discharge_route,none,none,none,none
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,pvc,pvc,cp,pvc
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,gravity,gravity,gravity,gravity
asset_type,sewer main,sewer main,sewer main,sewer main
last_cleaned,NaN,NaN,NaN,NaN
public_notice,False,False,False,False
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0
spill_street_address,3200 thousand oaks dr,6804 s flores st,215 audrey alene dr,3602 se military dr

# EXPLORE

### Looking for the repeat offenders...

In [17]:
df1.num_spills_24mos[df1.num_spills_24mos > 1].value_counts()

2.0     180
3.0      75
4.0      32
5.0      27
6.0      19
7.0      12
8.0       7
9.0       5
10.0      1
11.0      1
12.0      1
13.0      1
Name: num_spills_24mos, dtype: int64

### Location of the most frequent SSOs

In [18]:
df1.spill_street_address[df1.num_spills_24mos >= 7]

33            6606 swiss oaks
40            6606 swiss oaks
41            6606 swiss oaks
47            6606 swiss oaks
73            1800 austin hwy
84      108 chappie james way
93      108 chappie james way
97      108 chappie james way
141     108 chappie james way
153           6606 swiss oaks
158     108 chappie james way
166     108 chappie james way
171           6606 swiss oaks
190           6606 swiss oaks
241       1427 harry wurzbach
243           6606 swiss oaks
303     100 chappie james way
384     108 chappie james way
591              700 holbrook
593      10800 entrance rd ne
602              700 holbrook
727      10800 entrance rd ne
738      10800 entrance rd ne
751      10823 entrance rd ne
762      10700 entrance rd ne
770      10800 entrance rd ne
1654           6305 cagnon rd
2394           6305 cagnon rd
Name: spill_street_address, dtype: object

- [ ] **TODO:** Find a way to flesh out the address using regex to account for typos etc.
- [ ] **TODO:** Maybe try using unit id's instead of addresses.
- [ ] **TODO:** Drill down to only the top 3-5 locations.
- [ ] **TODO:** Compare predictions between preventing SSO on the most frequents versus not preventing.
- [ ] **TODO:** What is causing the spills on these top 3-5 locations?

In [20]:
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,grease,grease,structural,grease
comments,spill containedreturned to systemarea cleaned ...,spill containedarea cleaned and disinfected,spill containedarea cleaned and disinfectedflu...,spill containedarea cleaned and disinfectedflu...
actions,cleaned main,cleaned main,cleaned main,NaN
watershed,salado creek,dos rios,dos rios,salado creek
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,street,stormdrain,alley,easement
discharge_route,none,none,none,none
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,pvc,pvc,cp,pvc
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,gravity,gravity,gravity,gravity
asset_type,sewer main,sewer main,sewer main,sewer main
last_cleaned,NaN,NaN,NaN,NaN
public_notice,False,False,False,False
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0
spill_street_address,3200 thousand oaks dr,6804 s flores st,215 audrey alene dr,3602 se military dr

In [23]:
df1[['spill_street_address', 'unit_id_1','unit_id_2', 'unit_type', 'asset_type']].head(15)

     spill_street_address unit_id_1 unit_id_2 unit_type          asset_type
0   3200 thousand oaks dr     66918     66917   gravity          sewer main
1        6804 s flores st     24250     24193   gravity          sewer main
2     215 audrey alene dr      2822      3351   gravity          sewer main
3     3602 se military dr     92804     92805   gravity          sewer main
4            100 pansy ln     61141     49543   gravity          sewer main
5     3200 s hackberry st     38907     26117   gravity          sewer main
6       9910 sugarloaf dr     85120     85363   gravity          sewer main
7       3507 piedmont ave     26128     24334   gravity          sewer main
8              349 alicia     47292     47293   gravity          sewer main
9    1502 w mistletoe ave     14241     14896   gravity          sewer main
10           5 trophy rdg     58914     61251   gravity          sewer main
11        4100 culebra rd     34430     47275   gravity          sewer main
12    25903 turquoise sky    353828     73051   gravity          sewer main
13       116 golden crown     97780     97779   gravity          sewer main
14  3023 thousand oaks dr    334582       NaN   lateral  sewer service line

- [ ] **TODO:** Maybe we can do some kind of clustering to group problem areas.

In [24]:
df.unit_id_1.value_counts()[df.unit_id_1.value_counts() > 7]

52470     15
LS200     14
1187      13
LS199     12
903059    12
1210      10
LS188     10
47822     10
903060    10
62085     10
LS201      8
11989      8
29988      8
424896     8
Name: unit_id_1, dtype: int64

In [25]:
df.unit_id_2.value_counts()[df.unit_id_2.value_counts() > 7]

52677     13
1074      13
71380     12
903059    10
922726     9
46546      9
62088      9
16276      8
79942      8
424898     8
499663     8
Name: unit_id_2, dtype: int64

In [26]:
df1.spill_street_address.value_counts()

6606 swiss oaks          24
108 chappie james way    20
700 holbrook             16
10800 entrance rd ne     14
6305 cagnon rd           13
23500 ih 10 w            12
1427 harry wurzbach      12
6785 cagnon rd           12
1800 austin hwy          12
668 holbrook             10
10102 us hwy 90 w         9
3847 thousand oaks        8
409 cheryl dr e           7
10762 pleasanton rd       7
1043 kentucky ave         7
7930 flores st s          7
3714 neer ave             7
11400 starcrest dr        6
902 holbrook              6
6102 rose valley          6
1300 elmendorf n          6
1114 onslow               6
5410 morey rd             6
1703 donaldson ave        6
2627 culebra rd           6
111 yolanda               6
8600 mission pkwy         6
5802 kim valley dr        6
107 yolanda               5
1612 martinez losoya      5
                         ..
12500 john barry          1
5314 randolph blvd        1
3033 goliad rd            1
6600 merry oaks dr        1
310 commerce st w         1
5800 medina base rd       1
458 e vestal place        1
8330 potranco rd          1
5100 john d ryan          1
9403 wurzbach rd          1
16500 state hwy 16        1
400 roslyn ave            1
4903 benham               1
4215 fondren              1
5430 havencrest dr        1
13823 parksite woods      1
21302 encino commons      1
114 hearne                1
135 reichert              1
119 stella                1
7301 pipers blf           1
23102 woodlawn rdg        1
13136 los espanada        1
427 odell st              1
1300 ervin                1
506 mcilvaine             1
6900 brownleaf dr         1
500 oblate                1
3635 candleglenn          1
818 patton                1
Name: spill_street_address, Length: 2479, dtype: int64