# PLAN

- [ ] Acquisition
    - [x] read the csv into a dataframe
- [ ] Preparation
    - [ ] no missing values
    - [ ] drop columns that are not needed
    - [x] change case to lower case
    - [ ] make sure everything has right dtype
    - [ ] normalize what needs to be normalized
    - [x] rename columns for clarification
- [ ] Exploration
    - [ ] answer ALL questions raised
    - [ ] visualize important findings
    - [ ] decide what TODO items to keep
- [ ] Modeling
    - [ ] predict 
- [ ] Delivery
    - [ ] report
    - [ ] prezi slides
    - [ ] website

# ENVIRONMENT

In [1]:
import os
import acquire
import pandas as pd
import numpy as np

# data visualization 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import statsmodels.api as sm

from datetime import timedelta, datetime
from pylab import rcParams

# ACQUIRE

_Let's read in the data from the csv file and take a peek at te first five records._

In [2]:
df = acquire.read_data('saws-ssos.csv')

In [3]:
df.head()

,SSO_ID,INSPKEY,SERVNO,REPORTDATE,SPILL_ADDRESS,SPILL_ST_NAME,TOTAL_GAL,GALSRET,GAL,SPILL_START,...,Root_Cause,STEPS_TO_PREVENT,SPILL_START_2,SPILL_STOP_2,HRS_2,GAL_2,SPILL_START_3,SPILL_STOP_3,HRS_3,GAL_3
0,6582,567722.0,NaN,3/10/19,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,3/10/19,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,3/9/19,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,...,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,3/9/19,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,3/6/19,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0

# PREPARE

In [4]:
def missing_values_col(df):
    """
    This functions returns the total missing values and
    the percent missing values by column.
    """
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    return pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_count': nan_count, 'nan_percentage': nan_percentage})


def missing_values_row(df):
    """
    This functions returns the total missing values and
    the percent missing values by row.
    """
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})


def handle_missing_threshold(df, prop_required_column = .3, prop_required_row = .9):
    """
    This functions removes columns and rows whose
    count of missing values exceeds threshold.
    """
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df


def count_values(df):
    """
    This function counts the value of columns in a dataframe.
    """
    for col in df.columns:
        n = df[col].unique().shape[0]
        col_bins = min(n, 10)
        print(f"{col}:")
        if df[col].dtype in ['int64', 'float64'] and n > 10:
            print(df[col].value_counts(bins=col_bins, sort=False))
        else:
            print(df[col].value_counts())
        print("\n")

def remove_columns(df, columns):
    return df.drop(columns=columns)


def fill_with_zeroes(df, *cols):
    """
    This functions returns the column names as input and
    return the dataframe with the
    null values in those columns replace by 0.
    """
    for col in cols:
        df[col] = df[col].fillna(0)
    return df


def fill_with_median(df, *cols):
    """
    This function fills the NaN values with
    respective median values.
    """
    for col in cols:
        df[col] = df[col].fillna(df[col].median())
    return df


def fill_with_none(df, *cols):
    """
    This function fills the NaN values with
    'None' string value.
    """
    for col in cols:
        df[col] = df[col].fillna('None')
    return df

def fill_with_unknown(df, *cols):
    """
    This functions fills the NaN values with
    'Unknown' string value.
    """
    for col in cols:
        df[col] = df[col].fillna('Unknown')
    return df

def lowercase_columm(df, *columns):
    """
    This function returns a lowercase version of the column values.
    """
    for col in columns:
        df[col] = df[col].str.lower() 
    return df

_Let's convert the column to lowercase to make them easier to work with._

In [5]:
df.columns = map(str.lower, df.columns)
df.head()

,sso_id,inspkey,servno,reportdate,spill_address,spill_st_name,total_gal,galsret,gal,spill_start,...,root_cause,steps_to_prevent,spill_start_2,spill_stop_2,hrs_2,gal_2,spill_start_3,spill_stop_3,hrs_3,gal_3
0,6582,567722.0,NaN,3/10/19,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,3/10/19,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,3/9/19,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,...,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,3/9/19,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,3/6/19,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0

_Let's take a look at the missing values._

In [6]:
missing_values_col(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
sso_id,0,0.000000,0,0.000000,0,0.0
inspkey,797,25.039271,0,0.000000,0,0.0
servno,2715,85.296890,0,0.000000,0,0.0
reportdate,0,0.000000,0,0.000000,0,0.0
spill_address,0,0.000000,0,0.000000,0,0.0
spill_st_name,0,0.000000,0,0.000000,0,0.0
total_gal,0,0.000000,0,0.000000,0,0.0
galsret,475,14.923029,0,0.000000,0,0.0
gal,0,0.000000,0,0.000000,0,0.0
spill_start,0,0.000000,0,0.000000,0,0.0
spill_stop,0,0.000000,0,0.000000,0,0.0
hrs,3,0.094251,0,0.000000,0,0.0
cause,0,0.000000,0,0.000000,0,0.0
comments,533,16.745209,0,0.000000,0,0.0
actions,8,0.251335,0,0.000000,0,0.0
watershed,0,0.000000,0,0.000000,0,0.0
unitid,4,0.125668,0,0.000000,0,0.0
unitid2,244,7.665724,0,0.000000,0,0.0
discharge_to,4,0.125668,0,0.000000,0,0.0
discharge_route,827,25.981778,0,0.000000,0,0.0
council_district,322,10.116243,0,0.000000,0,0.0
ferguson,30,0.942507,0,0.000000,0,0.0
month,0,0.000000,0,0.000000,0,0.0
year,0,0.000000,0,0.000000,0,0.0
week,0,0.000000,0,0.000000,0,0.0
earz_zone,1318,41.407477,0,0.000000,0,0.0
expr1029,7,0.219918,0,0.000000,0,0.0
pipediam,190,5.969211,0,0.000000,0,0.0
pipelen,190,5.969211,0,0.000000,0,0.0
pipetype,190,5.969211,47,1.476594,0,0.0
instyear,118,3.707194,0,0.000000,0,0.0
dwndpth,3183,100.000000,0,0.000000,0,0.0
upsdpth,3183,100.000000,0,0.000000,0,0.0
inches_no,487,15.300031,0,0.000000,0,0.0
rainfall_less3,542,17.027961,0,0.000000,0,0.0
spill address,43,1.350927,0,0.000000,0,0.0
sewerassetexp,3026,95.067546,0,0.000000,0,0.0
num_spills_compkey,0,0.000000,0,0.000000,0,0.0
num_spills_24mos,1677,52.686145,0,0.000000,0,0.0
prevspill_24mos,2582,81.118442,0,0.000000,0,0.0
unittype,17,0.534087,9,0.282752,0,0.0
assettype,2,0.062834,0,0.000000,0,0.0
lastclnd,2082,65.409991,0,0.000000,0,0.0
responsetime,1934,60.760289,0,0.000000,0,0.0
responsedttm,1934,60.760289,0,0.000000,0,0.0
public notice,0,0.000000,0,0.000000,0,0.0
timeint,2393,75.180647,0,0.000000,0,0.0
root_cause,7,0.219918,0,0.000000,0,0.0
steps_to_prevent,1737,54.571159,0,0.000000,0,0.0
spill_start_2,3097,97.298146,0,0.000000,0,0.0
spill_stop_2,3097,97.298146,0,0.000000,0,0.0
hrs_2,1874,58.875275,0,0.000000,0,0.0
gal_2,1873,58.843858,0,0.000000,0,0.0
spill_start_3,3169,99.560163,0,0.000000,0,0.0
spill_stop_3,3169,99.560163,0,0.000000,0,0.0
hrs_3,1878,59.000943,0,0.000000,0,0.0
gal_3,1878,59.000943,0,0.000000,0,0.0

_Let's look at a few of the rows._

In [7]:
df.head(7).T

,0,1,2,3,4,5,6
sso_id,6582,6583,6581,6584,6580,6579,6577
inspkey,567722,567723,567714,567713,567432,567274,567046
servno,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reportdate,3/10/19,3/10/19,3/9/19,3/9/19,3/6/19,3/5/19,3/2/19
spill_address,3200,6804,215,3602,100,3200,9910
spill_st_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR,PANSY LN,S HACKBERRY ST,SUGARLOAF DR
total_gal,2100,80,79,83,75,250,73
galsret,2100,0,0,0,0,0,0
gal,2100,80,10,83,75,250,73
spill_start,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM,3/6/2019 9:40:00 AM,3/5/2019 2:22:00 PM,3/2/2019 1:42:00 PM
spill_stop,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM,3/6/2019 9:55:00 AM,3/5/2019 2:32:00 PM,3/2/2019 2:55:00 PM
hrs,1.4,1.33333,1.5,1.38333,0.25,0.166667,1.21667
cause,Grease,Grease,Structural,Grease,Structural,Grease,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK,SALADO CREEK,DOS RIOS,MEDIO CREEK
unitid,66918,24250,2822,92804,61141,38907,85120
unitid2,66917,24193,3351,92805,49543,26117,85363
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT,STREET,STREET,DRAINAGE CULVERT
discharge_route,None,None,None,None,None,None,None
council_district,NaN,3,1,3,2,3,4
ferguson,172A2,251A3,190E4,252C3,192A7,231C6,207A6
month,3,3,3,3,3,3,3
year,2019,2019,2019,2019,2019,2019,2019
week,11,11,10,10,10,10,9
earz_zone,0,0,0,0,0,0,0
expr1029,NaN,NaN,NaN,NaN,NaN,NaN,GREASE
pipediam,8,8,8,8,12,8,8
pipelen,16.55,157,350,213.91,291.9,315,264.47
pipetype,PVC,PVC,CP,PVC,CP,RL,PVC
instyear,1997,1988,1955,1983,1952,1992,1985
dwndpth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
upsdpth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainfall_less3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill address,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR,100 PANSY LN,3200 S Hackberry St,9910 Sugarloaf Dr
sewerassetexp,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1,2,2,1
num_spills_24mos,1,1,1,1,2,2,1
prevspill_24mos,NaN,NaN,NaN,NaN,15-Dec-18,11-Apr-17,NaN
unittype,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY
assettype,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main
lastclnd,NaN,NaN,NaN,NaN,NaN,NaN,NaN
responsetime,0.45,1.08,1.00,0.55,0.00,0.00,0.73
responsedttm,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19,06-Mar-19,05-Mar-19,02-Mar-19
public notice,False,False,False,False,False,False,False
timeint,24,120,24,120,3,12,120
root_cause,NaN,NaN,NaN,NaN,NaN,NaN,GREASE
steps_to_prevent,NaN,NaN,NaN,NaN,NaN,NaN,"Increase FCS,"
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN,NaN,NaN,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN,NaN,NaN,NaN
hrs_2,0,0,1.15,0,0,0,0
gal_2,0,0,69,0,0,0,0
spill_start_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hrs_3,0,0,0,0,0,0,0
gal_3,0,0,0,0,0,0,0

_Now let's take a peek into the value counts of the columns._

In [8]:
count_values(df)

sso_id:
(-5.5840000000000005, 659.3]    310
(659.3, 1317.6]                  38
(1317.6, 1975.9]                326
(1975.9, 2634.2]                644
(2634.2, 3292.5]                587
(3292.5, 3950.8]                464
(3950.8, 4609.1]                  0
(4609.1, 5267.4]                  6
(5267.4, 5925.7]                157
(5925.7, 6584.0]                651
Name: sso_id, dtype: int64


inspkey:
(3724.564, 60631.5]     541
(60631.5, 116975.0]     372
(116975.0, 173318.5]    392
(173318.5, 229662.0]    246
(229662.0, 286005.5]    134
(286005.5, 342349.0]    174
(342349.0, 398692.5]    118
(398692.5, 455036.0]    125
(455036.0, 511379.5]    151
(511379.5, 567723.0]    133
Name: inspkey, dtype: int64


servno:
(274101.378, 515352.1]     18
(515352.1, 754214.2]       14
(754214.2, 993076.3]       72
(993076.3, 1231938.4]      38
(1231938.4, 1470800.5]    101
(1470800.5, 1709662.6]     62
(1709662.6, 1948524.7]     20
(1948524.7, 2187386.8]     17
(2187386.8, 2426248.9]     31
(2426248.9, 2665111.0]     95
Name: servno, dtype: int64


reportdate:
5/25/13     27
5/19/16     23
9/26/16     22
6/2/16      20
2/3/10      17
9/8/10      16
12/3/16     15
8/7/17      13
3/28/18     10
10/24/15    10
9/7/10       9
9/9/18       8
1/15/10      8
5/23/15      8
4/17/10      8
5/16/16      8
4/25/15      8
9/16/18      7
2/20/17      7
2/4/10       7
3/20/12      7
5/17/15      7
6/14/15      7
6/25/14      7
5/24/15      7
5/11/16      6
4/18/16      6
9/22/18      6
9/15/18      6
3/4/10       6
            ..
9/15/09      1
10/16/09     1
3/18/13      1
12/30/13     1
12/9/17      1
10/5/10      1
12/22/15     1
12/18/17     1
6/25/15      1
5/6/10       1
5/5/09       1
4/28/11      1
12/27/15     1
5/19/09      1
1/23/19      1
12/4/16      1
11/10/17     1
3/5/14       1
4/29/18      1
1/14/11      1
7/28/17      1
5/5/15       1
7/17/12      1
12/3/14      1
6/23/18      1
2/17/10      1
2/7/09       1
7/26/16      1
5/3/11       1
8/23/11      1
Name: reportdate, Length: 1878, dtype: int64


spill_address:
(-29.622, 2962.1]     1693
(2962.1, 5924.2]       551
(5924.2, 8886.3]       476
(8886.3, 11848.4]      243
(11848.4, 14810.5]     128
(14810.5, 17772.6]      31
(17772.6, 20734.7]      13
(20734.7, 23696.8]      32
(23696.8, 26658.9]      12
(26658.9, 29621.0]       4
Name: spill_address, dtype: int64


spill_st_name:
HOLBROOK                42
CAGNON RD               27
CHAPPIE JAMES WAY       25
SWISS OAKS              24
IH 10 W                 23
AUSTIN HWY              23
NACOGDOCHES RD          21
CULEBRA RD              20
THOUSAND OAKS           20
DONALDSON AVE           18
HARRY WURZBACH          17
ENTRANCE RD NE          17
BANDERA RD              17
LOOP 410 NW             17
PLEASANTON RD           16
AVONDALE AVE            15
MISSION RD              15
WURZBACH RD             15
JONES MALTSBERGER RD    15
FLORES ST S             14
YOLANDA                 14
MARBACH RD              14
COMMERCE ST W           13
PIEDMONT AVE            13
NEER AVE                13
US HWY 281 N            12
BLANCO RD               12
US HWY 90 W             11
WEST AVE                11
MILITARY DR W           11
                        ..
MONTANA ST               1
NAVIDAD N                1
RAINTREE FOREST          1
ROBINHOOD PLACE E        1
CAS HILLS DR             1
WESTGLADE PLACE          1
SANTA BARBARA ST         1
PALM DR                  1
WESTWARD DR              1
STAMPEDE                 1
MOTLEY TRL               1
BAYVILLE                 1
SUTTON DR                1
SPOTSWOOD                1
CORONADO                 1
MILITARY DRIVE SW        1
TYSON                    1
JANE GROVE               1
LADDIE PLACE             1
REDBUD WOODS             1
WAYLAND RUN              1
COUNTRY LN               1
GRANDIN PASS             1
GOLF CANYON              1
CULEBRA                  1
24TH ST NW               1
MARSEILLES               1
PEBBLE DAWN              1
CASTROVILLE RD           1
WEIDNER RD N             1
Name: spill_st_name, Length: 1509, dtype: int64


total_gal:
(-13303.550000000001, 1330455.9]    3169
(1330455.9, 2660910.8]                 9
(2660910.8, 3991365.7]                 2
(3991365.7, 5321820.6]                 1
(5321820.6, 6652275.5]                 1
(6652275.5, 7982730.4]                 0
(7982730.4, 9313185.3]                 0
(9313185.3, 10643640.2]                0
(10643640.2, 11974095.1]               0
(11974095.1, 13304550.0]               1
Name: total_gal, dtype: int64


galsret:
(-2385.1510000000003, 238515.0]    2698
(238515.0, 477030.0]                  5
(477030.0, 715545.0]                  3
(715545.0, 954060.0]                  0
(954060.0, 1192575.0]                 0
(1192575.0, 1431090.0]                1
(1431090.0, 1669605.0]                0
(1669605.0, 1908120.0]                0
(1908120.0, 2146635.0]                0
(2146635.0, 2385150.0]                1
Name: galsret, dtype: int64


gal:
(-13303.550000000001, 1330455.9]    3175
(1330455.9, 2660910.8]                 3
(2660910.8, 3991365.7]                 2
(3991365.7, 5321820.6]                 1
(5321820.6, 6652275.5]                 1
(6652275.5, 7982730.4]                 0
(7982730.4, 9313185.3]                 0
(9313185.3, 10643640.2]                0
(10643640.2, 11974095.1]               0
(11974095.1, 13304550.0]               1
Name: gal, dtype: int64


spill_start:
9/10/2018 4:20:00 PM     2
2/13/2011 11:30:00 AM    2
8/7/2017 9:30:00 AM      2
5/25/2013 7:00:00 AM     2
7/9/2018 3:00:00 PM      2
8/7/2017 1:30:00 PM      2
2/20/2009 2:30:00 PM     2
3/25/2010 9:30:00 AM     2
6/2/2016 5:15:00 AM      2
9/8/2010 4:00:00 AM      2
9/22/2010 1:30:00 PM     2
6/2/2016 6:30:00 AM      2
5/19/2016 11:00:00 AM    2
5/25/2013 1:00:00 PM     2
4/29/2010 9:00:00 PM     2
2/25/2010 3:00:00 PM     2
5/11/2009 3:00:00 PM     2
2/1/2012 1:30:00 PM      2
5/16/2010 9:00:00 PM     2
4/10/2010 1:00:00 PM     2
5/25/2013 12:00:00 PM    2
4/17/2010 11:30:00 AM    2
9/26/2016 8:00:00 AM     2
2/3/2010 10:00:00 AM     2
5/25/2013 9:00:00 AM     2
7/17/2009 7:55:00 PM     2
9/8/2010 6:58:00 AM      2
6/28/2010 11:00:00 AM    2
7/1/2011 12:30:00 PM     2
9/8/2010 11:00:00 AM     2
                        ..
10/20/2011 1:08:00 PM    1
2/24/2018 10:50:00 AM    1
8/8/2012 9:40:00 PM      1
12/6/2010 11:30:00 AM    1
1/31/2009 6:30:00 PM     1
1/1/2014 3:13:00 PM      1
11/22/2018 8:33:00 PM    1
7/30/2017 3:10:00 PM     1
12/13/2012 7:07:00 AM    1
7/8/2012 4:21:00 PM      1
2/21/2010 12:30:00 PM    1
8/17/2015 3:45:00 PM     1
5/11/2016 7:30:00 AM     1
9/13/2018 9:45:00 AM     1
1/12/2019 5:13:00 PM     1
9/17/2012 10:07:00 PM    1
2/15/2010 11:00:00 AM    1
6/22/2011 5:00:00 AM     1
2/1/2013 8:41:00 AM      1
10/21/2014 2:48:00 PM    1
3/30/2011 1:45:00 PM     1
4/4/2016 7:23:00 PM      1
9/14/2009 9:45:00 AM     1
10/2/2012 7:50:00 PM     1
3/13/2010 1:00:00 PM     1
12/6/2010 11:12:00 AM    1
3/27/2012 11:58:00 AM    1
8/6/2014 2:30:00 PM      1
5/24/2016 8:32:00 AM     1
2/2/2010 5:00:00 PM      1
Name: spill_start, Length: 3152, dtype: int64


spill_stop:
5/25/2013 3:30:00 PM      4
9/26/2016 11:00:00 AM     4
9/26/2016 3:45:00 PM      3
5/24/2015 2:45:00 AM      3
9/8/2010 11:30:00 AM      3
7/11/2012 12:15:00 PM     2
5/12/2014 6:30:00 PM      2
2/20/2017 8:30:00 AM      2
5/25/2013 12:30:00 PM     2
4/17/2010 1:00:00 PM      2
4/25/2015 1:20:00 PM      2
9/26/2016 10:30:00 AM     2
6/25/2014 2:30:00 PM      2
9/26/2016 1:00:00 PM      2
12/1/2010 10:30:00 PM     2
12/4/2016 12:01:00 AM     2
1/11/2012 1:30:00 PM      2
4/22/2016 11:00:00 PM     2
4/24/2015 4:00:00 PM      2
1/27/2010 11:00:00 AM     2
8/19/2010 12:00:00 PM     2
1/24/2011 5:00:00 PM      2
9/26/2016 5:00:00 PM      2
3/21/2012 11:15:00 AM     2
9/8/2010 5:30:00 AM       2
7/30/2009 3:30:00 PM      2
5/26/2010 10:00:00 PM     2
6/6/2010 8:00:00 PM       2
2/4/2010 7:00:00 PM       2
9/8/2010 8:30:00 PM       2
                         ..
12/7/2017 1:00:00 PM      1
12/5/2009 8:30:00 AM      1
4/19/2013 7:00:00 PM      1
5/22/2018 1:45:00 PM      1
1/19/2016 5:45:00 PM      1
8/26/2011 8:00:00 PM      1
9/8/2010 9:30:00 PM       1
3/9/2019 5:00:00 PM       1
10/25/2011 10:00:00 AM    1
8/5/2009 5:30:00 PM       1
11/5/2017 6:25:00 PM      1
5/21/2018 11:00:00 AM     1
6/21/2013 9:30:00 AM      1
6/16/2010 12:00:00 PM     1
5/17/2016 9:28:00 AM      1
7/4/2018 6:55:00 AM       1
6/27/2012 12:01:00 AM     1
2/4/2013 5:45:00 PM       1
3/17/2012 10:55:00 PM     1
4/28/2013 12:26:00 PM     1
10/3/2017 10:05:00 AM     1
4/25/2017 5:50:00 PM      1
6/2/2016 10:23:00 AM      1
6/30/2010 6:30:00 PM      1
9/15/2018 8:40:00 AM      1
1/6/2009 1:00:00 PM       1
6/10/2009 4:45:00 PM      1
5/16/2010 11:00:00 PM     1
10/20/2011 1:35:00 PM     1
6/14/2013 6:45:00 PM      1
Name: spill_stop, Length: 3133, dtype: int64


hrs:
(-1.797, 179.6]     3176
(179.6, 359.2]         1
(359.2, 538.8]         0
(538.8, 718.4]         1
(718.4, 898.0]         1
(898.0, 1077.6]        0
(1077.6, 1257.2]       0
(1257.2, 1436.8]       0
(1436.8, 1616.4]       0
(1616.4, 1796.0]       1
Name: hrs, dtype: int64


cause:
Grease                                                  956
Debris                                                  479
I/I                                                     465
Debris/Rock                                             254
Structural                                              244
Rags                                                    236
Break In Main                                           164
Contractor                                               91
Break in Main                                            68
Lift Station                                             42
Vandalism                                                38
Lift Station Power Out                                   29
Other                                                    29
Roots                                                    28
Lift Station Pump Out                                    21
Equipment Failure                                         5
Other - Capacity                                          5
Plug In Main                                              4
Break In By-Pass Line                                     3
By-pass Pump Failure                                      3
Human Error                                               2
By-Pass Equip Failure                                     2
Contractor - Contractor Damaged 8 inch Force Main         1
Other - Cause To Be Determined                            1
Lateral Repair                                            1
Other - Gate Valve                                        1
Broken ARV                                                1
Other - Mechanical                                        1
Other - Cleanout Cap Broken By Vehicular Traffic          1
Structural - Spilled From Broken Lateral                  1
Other - Spill Was Caused By A Surcharging Sewer Main      1
Lift Station - Due To Power Failure And I/I               1
By-Pass Pump Failure                                      1
Under Investigation                                       1
Other - Obstruction In Main                               1
Protruding Lateral                                        1
Structural - Broken Force Main                            1
Name: cause, dtype: int64


comments:
 APPLIED  HTH                                                                                                          518
APPLIED HTH                                                                                                            513
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                                      391
Area cleaned and disinfected                                                                                           112
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                    106
CLEANED MAIN                                                                                                            84
REPAIRED MAIN - HTH                                                                                                     80
 APPLIED  HTH, REPAIRED MAIN                                                                                            64
Spill ContainedArea Cleaned and Disinfected                                                                             54
Area Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                                                      49
AREA CLEANED AND DISINFECTED                                                                                            49
Area Cleaned and Disinfected                                                                                            46
REPAIRED MAIN                                                                                                           28
Spill ContainedReturned to SystemArea Cleaned and Disinfected                                                           24
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O,                                                       22
MONITORED AREA - HTH                                                                                                    21
Spill Contained                                                                                                         21
MONITORED AREA                                                                                                          20
CLEANED AREA                                                                                                            19
Spill ContainedReturned to System                                                                                       13
 AREA CLEANED AND DISINFECTED                                                                                           11
Diluted by heavy rain water                                                                                             10
Spill ContainedFlushed Area with H2O, Unstopped Main,                                                                    8
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,       6
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,                         6
SPILL CONTAINED                                                                                                          6
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main,                                         5
Spill ContainedReturned to SystemFlushed Area with H2O, Unstopped Main,                                                  4
 AREA CLEANED AND DISINFECTED, REPAIRED MAIN                                                                             4
FLUSHED AREA WITH H2O                                                                                                    4
                                                                                                                      ...
REPAIRED SEWER MAIN-HTH                                                                                                  1
ADJUSTED PUMPS - HEAVY RAIN                                                                                              1
Pump bolts vibrated loose at L/S # 011                                                                                   1
REPAIRED MAIN - HTH - 2ND SPILL                                                                                          1
REPAIRED SIPHON BXS/PIPE ON BY-PASS                                                                                      1
FLUSHED AREA WITH H20                                                                                                    1
SPILL CONTAINED, FLUSHED WITH WATER AND APPLIED  HTH                                                                     1
Lift station 192 overflow due to heavy rain                                                                              1
Area Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,                                        1
RESTORED POWER TO L/S 209 - HTH                                                                                          1
Spill Came out of Debris Tank - not out of collection system                                                             1
Repaired broken sewer main                                                                                               1
FLUSHED WITH FIRE HYDRANT                                                                                                1
RE-OPENED WEIR GATE - HTH                                                                                                1
Area Cleaned and Disinfected/Repaired main                                                                               1
Repaired main.  Area cleaned and disinfected                                                                             1
 AREA CLEANED AND DISINFECTED.\nREPAIRED MAIN                                                                            1
BY/PASS PUMP/RUN OVER(CONTRACTOR)                                                                                        1
APPLIED HTH REPAIRED MAIN                                                                                                1
REPLACED PUMPS AT LS 188                                                                                                 1
REPLACED PLUG AND MONITORED AREA                                                                                         1
CONTRACTOR REMOVED PLUG                                                                                                  1
RESET BYPASS PUMP - HTH                                                                                                  1
Contractor work caused Joint at L/S  #265 to shift.                                                                      1
REPAIRED FORCE MAIN                                                                                                      1
INSTALLED BOLTS ON M/H COVER                                                                                             1
REPAIRED PUMP TO L/ S 201                                                                                                1
REPLACED CONTACT SWITCH @ LIFT STATION  # 200                                                                            1
Spill ContainedFlushed Area with H2O, Repaired Main,                                                                     1
Spill Contained Area Cleaned and Disinfected                                                                             1
Name: comments, Length: 331, dtype: int64


actions:
CLEANED MAIN                                                                                  1927
REPAIRED MAIN                                                                                  307
DILUTED BY HEAVY RAIN WATER                                                                    116
MONITORED AREA                                                                                  93
APPLIED HTH                                                                                     71
DILUTED BY HEAVY RAINWATER                                                                      66
CLEANED AREA                                                                                    52
REPAIRED LATERAL                                                                                41
CLEANED LATERAL                                                                                 37
RESTORED POWER                                                                                  32

Name: spill_start_2, Length: 85, dtype: int64


spill_stop_2:
09/21/2018 21:45    1
07/24/2018 14:30    1
05/20/2016 14:30    1
09/27/2016 07:30    1
04/07/2018 11:00    1
10/22/2018 03:00    1
12/08/2018 00:00    1
04/25/2015 23:30    1
02/23/2018 21:40    1
08/01/2018 10:05    1
11/28/2015 21:30    1
06/06/2012 15:45    1
06/06/2016 12:30    1
12/20/2015 16:45    1
03/20/2012 16:15    1
09/10/2018 22:00    1
04/25/2015 11:41    1
10/24/2015 12:15    1
03/28/2018 15:30    1
05/19/2015 16:00    1
11/30/2018 16:05    1
12/06/2016 08:05    1
03/10/2019 10:45    1
09/17/2018 04:00    1
04/25/2015 18:10    1
06/03/2016 01:30    1
04/26/2016 20:10    1
08/26/2016 10:30    1
01/24/2016 16:30    1
05/16/2016 12:00    1
                   ..
11/09/2016 13:00    1
08/28/2012 07:45    1
09/16/2018 20:00    1
12/11/2018 11:57    1
12/24/2015 20:00    1
05/15/2012 10:15    1
10/16/2018 03:00    1
06/03/2016 11:23    1
12/06/2016 03:40    1
08/13/2018 01:15    1
06/01/2016 07:20    1
10/17/2018 08:50    1
10/25/2018 05:20    1
11/30/2015 01:40    1
10/01/2012 04:00    1
05/29/2015 16:41    1
06/03/2016 04:22    1
09/06/2018 04:20    1
04/25/2015 20:45    1
12/27/2015 18:30    1
03/29/2018 02:45    1
11/02/2013 10:45    1
11/07/2014 10:05    1
05/26/2013 18:00    1
05/12/2016 07:15    1
12/09/2018 03:30    1
09/23/2018 22:57    1
03/29/2018 03:00    1
06/03/2016 14:10    1
08/29/2018 09:07    1
Name: spill_stop_2, Length: 86, dtype: int64


hrs_2:
(-0.119, 11.8]    1291
(11.8, 23.6]        15
(23.6, 35.4]         0
(35.4, 47.2]         1
(47.2, 59.0]         1
(59.0, 70.8]         0
(70.8, 82.6]         0
(82.6, 94.4]         0
(94.4, 106.2]        0
(106.2, 118.0]       1
Name: hrs_2, dtype: int64


gal_2:
(-2377.351, 237735.0]     1300
(237735.0, 475470.0]         5
(475470.0, 713205.0]         1
(713205.0, 950940.0]         0
(950940.0, 1188675.0]        1
(1188675.0, 1426410.0]       2
(1426410.0, 1664145.0]       0
(1664145.0, 1901880.0]       0
(1901880.0, 2139615.0]       0
(2139615.0, 2377350.0]       1
Name: gal_2, dtype: int64


spill_start_3:
06/02/2016 12:00    1
11/22/2014 22:05    1
10/29/2018 21:20    1
01/04/2016 16:55    1
06/03/2016 16:00    1
12/06/2016 15:28    1
06/10/2013 11:30    1
10/25/2018 11:59    1
09/27/2016 13:30    1
01/24/2016 22:10    1
03/21/2012 08:40    1
10/12/2018 08:00    1
12/28/2015 14:47    1
12/09/2018 14:09    1
Name: spill_start_3, dtype: int64


spill_stop_3:
10/30/2018 02:50    1
12/07/2016 07:00    1
06/02/2016 12:05    1
01/04/2016 19:00    1
11/23/2014 03:05    1
06/10/2013 13:00    1
10/25/2018 17:30    1
10/12/2018 12:02    1
06/03/2016 20:00    1
12/10/2018 05:00    1
09/27/2016 15:00    1
03/21/2012 11:15    1
01/24/2016 23:38    1
12/28/2015 15:25    1
Name: spill_stop_3, dtype: int64


hrs_3:
(-0.0165, 1.553]    1295
(1.553, 3.106]         2
(3.106, 4.659]         2
(4.659, 6.212]         3
(6.212, 7.765]         1
(7.765, 9.318]         0
(9.318, 10.871]        0
(10.871, 12.424]       0
(12.424, 13.977]       0
(13.977, 15.53]        2
Name: hrs_3, dtype: int64


gal_3:
(-255.30100000000002, 25530.0]    1300
(25530.0, 51060.0]                   3
(51060.0, 76590.0]                   1
(76590.0, 102120.0]                  0
(102120.0, 127650.0]                 0
(127650.0, 153180.0]                 0
(153180.0, 178710.0]                 0
(178710.0, 204240.0]                 0
(204240.0, 229770.0]                 0
(229770.0, 255300.0]                 1
Name: gal_3, dtype: int64

_Let's rename the columns for clarity._

In [9]:
df = df.rename(index=str, columns={'inspkey':'inspection_key',
                                   'servno':'service_number',
                                   'reportdate':'report_date',
                                   'spill_st_name':'spill_street_name',
                                   'total_gal':'total_gallons',
                                   'galsret':'gallons_returned',
                                   'gal':'gallons_1',
                                   'spill_start':'spill_start_1',
                                   'spill_stop':'spill_stop_1',
                                   'hrs':'hours_1',
                                   'unitid':'unit_id_1',
                                   'unitid2':'unit_id_2',
                                   'earz_zone':'edwards_zone',
                                   'expr1029':'expr_1029',
                                   'pipediam':'pipe_diameter',
                                   'pipelen':'pipe_length',
                                   'pipetype':'pipe_type',
                                   'instyear':'installation_year',
                                   'dwndpth':'downstream_depth',
                                   'upsdpth':'upstream_depth',
                                   'rainfall_less3':'rainfall_less_3',
                                   'spill address': 'spill_address_full',
                                   'sewerassetexp':'sewer_asset_exp',
                                   'prevspill_24mos':'previous_spill_24mos',
                                   'unittype':'unit_type',
                                   'assettype':'asset_type',
                                   'lastclnd':'last_cleaned',
                                   'responsetime':'response_time',
                                   'responsedttm':'response_datetime',
                                   'public notice':'public_notice',
                                   'timeint':'time_int',
                                   'hrs_2':'hours_2',
                                   'gal_2':'gallons_2',
                                   'hrs_3':'hours_3',
                                   'gal_3':'gallons_3'
                                   })

In [10]:
df.head(4).T

,0,1,2,3
sso_id,6582,6583,6581,6584
inspection_key,567722,567723,567714,567713
service_number,NaN,NaN,NaN,NaN
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
downstream_depth,NaN,NaN,NaN,NaN
upstream_depth,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR
sewer_asset_exp,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
previous_spill_24mos,NaN,NaN,NaN,NaN
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0

## _Let's make copies of the original dataframe before dropping some columns and rows to cover scenarios where we uncover more information about the variables._

In [11]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()

_Let's work with df1..._

_Let's remove columns that do not add information._

In [12]:
df1 = remove_columns(df1, columns=['sso_id',
                                   'inspection_key',
                                   'service_number',
                                   'comments',
                                   'ferguson',
                                   'expr_1029',
                                   'downstream_depth',
                                   'upstream_depth',
                                   'sewer_asset_exp',
                                   'previous_spill_24mos',
                                ])
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0

_Let's create a new address that's prettier._

In [13]:
df1['spill_street_address'] = df1['spill_address'].map(str)+ ' ' + df1['spill_street_name']
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0
spill_street_address,3200 THOUSAND OAKS DR,6804 S FLORES ST,215 AUDREY ALENE DR,3602 SE MILITARY DR

In [14]:
df1 = df1.drop(columns=['spill_address_full', 'spill_address', 'spill_street_name'])
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0
spill_street_address,3200 THOUSAND OAKS DR,6804 S FLORES ST,215 AUDREY ALENE DR,3602 SE MILITARY DR

In [15]:
missing_values_col(df1)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
report_date,0,0.000000,0,0.000000,0,0.0
total_gallons,0,0.000000,0,0.000000,0,0.0
gallons_returned,475,14.923029,0,0.000000,0,0.0
gallons_1,0,0.000000,0,0.000000,0,0.0
spill_start_1,0,0.000000,0,0.000000,0,0.0
spill_stop_1,0,0.000000,0,0.000000,0,0.0
hours_1,3,0.094251,0,0.000000,0,0.0
cause,0,0.000000,0,0.000000,0,0.0
actions,8,0.251335,0,0.000000,0,0.0
watershed,0,0.000000,0,0.000000,0,0.0
unit_id_1,4,0.125668,0,0.000000,0,0.0
unit_id_2,244,7.665724,0,0.000000,0,0.0
discharge_to,4,0.125668,0,0.000000,0,0.0
discharge_route,827,25.981778,0,0.000000,0,0.0
council_district,322,10.116243,0,0.000000,0,0.0
month,0,0.000000,0,0.000000,0,0.0
year,0,0.000000,0,0.000000,0,0.0
week,0,0.000000,0,0.000000,0,0.0
edwards_zone,1318,41.407477,0,0.000000,0,0.0
pipe_diameter,190,5.969211,0,0.000000,0,0.0
pipe_length,190,5.969211,0,0.000000,0,0.0
pipe_type,190,5.969211,47,1.476594,0,0.0
installation_year,118,3.707194,0,0.000000,0,0.0
inches_no,487,15.300031,0,0.000000,0,0.0
rainfall_less_3,542,17.027961,0,0.000000,0,0.0
num_spills_compkey,0,0.000000,0,0.000000,0,0.0
num_spills_24mos,1677,52.686145,0,0.000000,0,0.0
unit_type,17,0.534087,9,0.282752,0,0.0
asset_type,2,0.062834,0,0.000000,0,0.0
last_cleaned,2082,65.409991,0,0.000000,0,0.0
response_time,1934,60.760289,0,0.000000,0,0.0
response_datetime,1934,60.760289,0,0.000000,0,0.0
public_notice,0,0.000000,0,0.000000,0,0.0
time_int,2393,75.180647,0,0.000000,0,0.0
root_cause,7,0.219918,0,0.000000,0,0.0
steps_to_prevent,1737,54.571159,0,0.000000,0,0.0
spill_start_2,3097,97.298146,0,0.000000,0,0.0
spill_stop_2,3097,97.298146,0,0.000000,0,0.0
hours_2,1874,58.875275,0,0.000000,0,0.0
gallons_2,1873,58.843858,0,0.000000,0,0.0
spill_start_3,3169,99.560163,0,0.000000,0,0.0
spill_stop_3,3169,99.560163,0,0.000000,0,0.0
hours_3,1878,59.000943,0,0.000000,0,0.0
gallons_3,1878,59.000943,0,0.000000,0,0.0
spill_street_address,0,0.000000,0,0.000000,0,0.0

In [16]:
df1['multiple_spills'] = np.where(df1['spill_start_2'].isnull(), False, True)
df1

,report_date,total_gallons,gallons_returned,gallons_1,spill_start_1,spill_stop_1,hours_1,cause,actions,watershed,...,spill_start_2,spill_stop_2,hours_2,gallons_2,spill_start_3,spill_stop_3,hours_3,gallons_3,spill_street_address,multiple_spills
0,3/10/19,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,3/10/2019 2:40:00 PM,1.400000,Grease,CLEANED MAIN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,3200 THOUSAND OAKS DR,False
1,3/10/19,80,0.0,80.0,3/10/2019 2:25:00 PM,3/10/2019 3:45:00 PM,1.333333,Grease,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,6804 S FLORES ST,False
2,3/9/19,79,0.0,10.0,3/9/2019 6:00:00 PM,3/9/2019 7:30:00 PM,1.500000,Structural,CLEANED MAIN,DOS RIOS,...,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0,215 AUDREY ALENE DR,True
3,3/9/19,83,0.0,83.0,3/9/2019 3:37:00 PM,3/9/2019 5:00:00 PM,1.383333,Grease,NaN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,3602 SE MILITARY DR,False
4,3/6/19,75,0.0,75.0,3/6/2019 9:40:00 AM,3/6/2019 9:55:00 AM,0.250000,Structural,CLEANED MAIN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,100 PANSY LN,False
5,3/5/19,250,0.0,250.0,3/5/2019 2:22:00 PM,3/5/2019 2:32:00 PM,0.166667,Grease,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,3200 S HACKBERRY ST,False
6,3/2/19,73,0.0,73.0,3/2/2019 1:42:00 PM,3/2/2019 2:55:00 PM,1.216667,Grease,CLEANED MAIN,MEDIO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,9910 SUGARLOAF DR,False
7,3/1/19,76,0.0,76.0,3/1/2019 6:34:00 PM,3/1/2019 7:50:00 PM,1.266667,Grease,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,3507 PIEDMONT AVE,False
8,2/26/19,3750,0.0,3750.0,2/26/2019 9:00:00 AM,2/26/2019 10:15:00 AM,1.250000,Structural,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,349 ALICIA,False
9,2/26/19,66,0.0,66.0,2/26/2019 5:24:00 PM,2/26/2019 6:30:00 PM,1.100000,Grease,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,1502 W MISTLETOE AVE,False
10,2/25/19,25,0.0,25.0,2/25/2019 4:43:00 PM,2/25/2019 5:37:00 PM,0.900000,Grease,CLEANED MAIN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,5 TROPHY RDG,False
11,2/25/19,71,0.0,71.0,2/25/2019 12:54:00 PM,2/25/2019 2:05:00 PM,1.183333,Grease,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,4100 CULEBRA RD,False
12,2/24/19,1080,0.0,1080.0,2/24/2019 5:42:00 PM,2/24/2019 7:30:00 PM,1.800000,Contractor,CLEANED MAIN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,25903 TURQUOISE SKY,False
13,2/20/19,288,0.0,288.0,2/20/2019 3:42:00 PM,2/20/2019 6:06:00 PM,2.400000,Contractor,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,116 GOLDEN CROWN,False
14,2/18/19,1330,0.0,1330.0,2/18/2019 12:55:00 PM,2/18/2019 3:08:00 PM,2.216667,Grease,CLEANED LATERAL,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,3023 THOUSAND OAKS DR,False
15,2/18/19,481,0.0,481.0,2/18/2019 4:14:00 PM,2/19/2019 12:15:00 AM,8.016667,Debris,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,4838 OLD PEARSALL RD,False
16,2/17/19,2000,NaN,2000.0,2/17/2019 8:17:00 PM,2/17/2019 9:35:00 PM,1.300000,Other - Mechanical,RESTORED POWER TO LIFT STATION,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,23003 TREEMONT PARK,False
17,2/13/19,22800,0.0,22800.0,2/13/2019 5:28:00 AM,2/13/2019 8:00:00 AM,2.533333,Debris,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,17203 NW MILITARY HWY,False
18,2/13/19,113,0.0,113.0,2/13/2019 1:07:00 PM,2/13/2019 3:00:00 PM,1.883333,Structural,CLEANED LATERAL,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,5126 GWENDA LEA,False
19,2/4/19,150,0.0,150.0,2/4/2019 9:00:00 PM,2/4/2019 9:30:00 PM,0.500000,Contractor,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,12014 CANYON ROCK LN,False
20,2/2/19,1525,0.0,1525.0,2/2/2019 8:55:00 AM,2/2/2019 9:56:00 AM,1.016667,Debris,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,4315 ROGERS RD,False
21,1/31/19,2000,2000.0,2000.0,1/31/2019 10:35:00 AM,1/31/2019 10:35:00 AM,0.000000,Structural,REPAIRED FORCE MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,9765 POTRANCO RD,False
22,1/26/19,2500,NaN,2500.0,1/26/2019 9:00:00 AM,1/26/2019 10:40:00 AM,1.666667,Contractor - Contractor Damaged 8 inch Force Main,REPAIRED FORCE MAIN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,21700 ANGOSTURA BLVD,False
23,1/25/19,176,0.0,176.0,1/25/2019 10:17:00 AM,1/25/2019 11:45:00 AM,1.466667,Structural,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,109 WESTOAK RD,False
24,1/25/19,2900,0.0,2900.0,1/25/2019 4:49:00 PM,1/25/2019 6:45:00 PM,1.933333,Debris,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,450 S ACME RD,False
25,1/24/19,1000,0.0,1000.0,1/24/2019 8:40:00 PM,1/24/2019 8:50:00 PM,0.166667,Grease,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,11723 WHISPER VALLEY,False
26,1/24/19,315,0.0,315.0,1/24/2019 6:27:00 PM,1/24/2019 7:30:00 PM,1.050000,Grease,CLEANED MAIN,LEON CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,6019 STONEY CREEK DR,False
27,1/23/19,103,0.0,103.0,1/23/2019 1:42:00 PM,1/23/2019 3:25:00 PM,1.716667,Grease,CLEANED MAIN,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,200 CASTROVILLE RD,False
28,1/22/19,900,900.0,900.0,1/22/2019 10:54:00 AM,1/22/2019 11:30:00 AM,0.600000,Contractor,REPAIRED BY-PASS LINE,DOS RIOS,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,3709 N ST MARY'S ST,False
29,1/22/19,45000,0.0,45000.0,1/22/2019 6:18:00 PM,1/22/2019 11:05:00 PM,4.783333,Structural,REPAIRED FORCE MAIN,SALADO CREEK,...,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0,20710 CACTUS LOOP,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,2/5/09,10,NaN,10.0,2/5/2009 1:30:00 PM,2/5/2009 2:00:00 PM,0.500000,Grease,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2823 BANDBURY OAK,False
3154,2/5/09,2000,NaN,2000.0,2/5/2009 3:00:00 PM,2/5/2009 5:00:00 PM,2.000000,Debris/Rock,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6108 MACDONA,False
3155,2/4/09,1000,NaN,1000.0,2/4/2009 8:00:00 AM,2/4/2009 8:30:00 AM,0.500000,Grease,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10400 NORTHAMPTON,False
3156,2/3/09,3000,NaN,3000.0,2/3/2009 6:00:00 PM,2/3/2009 10:30:00 PM,4.500000,Debris/Rock,NaN,MEDIO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600 MOURNING DOVE,False
3157,2/2/09,60,NaN,60.0,2/2/2009 9:00:00 AM,2/2/2009 9:15:00 AM,0.250000,Rags,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5901 LITTLE BRANDYWINE,False
3158,1/31/09,200,NaN,200.0,1/31/2009 6:30:00 PM,1/31/2009 7:00:00 PM,0.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13202 SCARSDALE,False
3159,1/29/09,500,NaN,500.0,1/29/2009 11:30:00 AM,1/29/2009 1:00:00 PM,1.500000,Debris/Rock,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10334 OASIS,False
3160,1/29/09,750,NaN,750.0,1/29/2009 11:30:00 PM,1/30/2009 2:00:00 AM,2.500000,Debris/Rock,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1403 MELISSA SUE,False
3161,1/28/09,500,NaN,500.0,1/28/2009 7:30:00 PM,1/28/2009 8:00:00 PM,0.500000,Debris/Rock,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5455 ROWLEY,False
3162,1/27/09,400,NaN,400.0,1/27/2009 11:30:00 AM,1/27/2009 12:00:00 PM,0.500000,Grease,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500 REFUGIO,False
3163,1/23/09,100,NaN,100.0,1/23/2009 11:30:00 AM,1/23/2009 12:00:00 PM,0.500000,Debris/Rock,APPPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5433 RANDOLPH BLVD,False
3164,1/20/09,100,NaN,100.0,1/20/2009 1:00:00 PM,1/20/2009 3:00:00 PM,2.000000,Debris/Rock,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,519 MCILVAINE,False
3165,1/19/09,100,NaN,100.0,1/19/2009 10:30:00 AM,1/19/2009 11:00:00 AM,0.500000,Debris/Rock,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8402 STAR CREEK,False
3166,1/16/09,200,NaN,200.0,1/16/2009 1:00:00 PM,1/16/2009 1:30:00 PM,0.500000,Grease,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800 GRAND STAND,False
3167,1/14/09,100,NaN,100.0,1/14/2009 12:45:00 PM,1/14/2009 3:00:00 PM,2.250000,Rags,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13136 LOS ESPANADA,False
3168,1/14/09,154000,NaN,154000.0,10/31/2008 10:00:00 AM,1/14/2009 6:00:00 AM,1796.000000,Break In Main,"REPLACE TWIN 54"" SIPHONS",DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1515 MISSION RD,False
3169,1/13/09,50,NaN,50.0,1/13/2009 1:00:00 PM,1/13/2009 1:30:00 PM,0.500000,Debris/Rock,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2802 LASSES,False
3170,1/9/09,20,NaN,20.0,1/9/2009 7:30:00 AM,1/9/2009 8:55:00 AM,1.416667,Grease,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4570 LARK,False
3171,1/8/09,3000,NaN,3000.0,1/8/2009 8:30:00 AM,1/8/2009 10:30:00 AM,2.000000,Grease,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3710 NEER AVE,False
3172,1/8/09,25,NaN,25.0,1/8/2009 9:30:00 AM,1/8/2009 10:00:00 AM,0.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000 AYRSHIRE,False
3173,1/8/09,200,NaN,200.0,1/8/2009 10:30:00 AM,1/8/2009 1:00:00 PM,2.500000,Grease,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2602 LESLIE NICOLE,False
3174,1/7/09,400,NaN,400.0,1/7/2009 1:00:00 PM,1/7/2009 3:00:00 PM,2.000000,Grease,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1743 GENERAL McMULLEN S,False
3175,1/7/09,3000,NaN,3000.0,1/7/2009 12:00:00 PM,1/7/2009 1:30:00 PM,1.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000 IH 10 E,False
3176,1/7/09,1000,NaN,1000.0,1/7/2009 6:30:00 PM,1/7/2009 8:00:00 PM,1.500000,Debris/Rock,APPLIE HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1300 GENERAL McMULLEN N,False
3177,1/6/09,1000,NaN,1000.0,1/6/2009 6:00:00 PM,1/6/2009 6:30:00 PM,0.500000,Break In Main,APPLIED HTH,DOS RIOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101 LINDELL PLACE,False
3178,1/6/09,2000,NaN,2000.0,1/6/2009 12:00:00 PM,1/6/2009 1:00:00 PM,1.000000,Debris/Rock,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2383 LOOP 410 NE,False
3179,1/5/09,800,NaN,800.0,1/5/2009 2:00:00 PM,1/5/2009 4:00:00 PM,2.000000,Rags,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7407 ELDERBERRY,False
3180,1/5/09,400,NaN,400.0,1/5/2009 11:00:00 AM,1/5/2009 11:45:00 AM,0.750000,Rags,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7019 BAYWATER,False
3181,1/5/09,25,NaN,25.0,1/5/2009 8:30:00 AM,1/5/2009 9:00:00 AM,0.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12500 JOHN BARRY,False
3182,1/3/09,500,NaN,500.0,1/3/2009 9:00:00 AM,1/3/2009 11:00:00 AM,2.000000,Rags,APPLIED HTH,LEON CREEK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215 BROADVIEW W,False

In [17]:
df1 = df1.drop(columns=['spill_start_2',
                        'spill_stop_2',
                        'hours_2',
                        'gallons_2',
                        'spill_start_3',
                        'spill_stop_3',
                        'hours_3',
                        'gallons_3',
                        'gallons_1'
                     ])
df1

,report_date,total_gallons,gallons_returned,spill_start_1,spill_stop_1,hours_1,cause,actions,watershed,unit_id_1,...,asset_type,last_cleaned,response_time,response_datetime,public_notice,time_int,root_cause,steps_to_prevent,spill_street_address,multiple_spills
0,3/10/19,2100,2100.0,3/10/2019 1:16:00 PM,3/10/2019 2:40:00 PM,1.400000,Grease,CLEANED MAIN,SALADO CREEK,66918,...,Sewer Main,NaN,0.45,10-Mar-19,False,24.0,NaN,NaN,3200 THOUSAND OAKS DR,False
1,3/10/19,80,0.0,3/10/2019 2:25:00 PM,3/10/2019 3:45:00 PM,1.333333,Grease,CLEANED MAIN,DOS RIOS,24250,...,Sewer Main,NaN,1.08,10-Mar-19,False,120.0,NaN,NaN,6804 S FLORES ST,False
2,3/9/19,79,0.0,3/9/2019 6:00:00 PM,3/9/2019 7:30:00 PM,1.500000,Structural,CLEANED MAIN,DOS RIOS,2822,...,Sewer Main,NaN,1.00,09-Mar-19,False,24.0,NaN,NaN,215 AUDREY ALENE DR,True
3,3/9/19,83,0.0,3/9/2019 3:37:00 PM,3/9/2019 5:00:00 PM,1.383333,Grease,NaN,SALADO CREEK,92804,...,Sewer Main,NaN,0.55,09-Mar-19,False,120.0,NaN,NaN,3602 SE MILITARY DR,False
4,3/6/19,75,0.0,3/6/2019 9:40:00 AM,3/6/2019 9:55:00 AM,0.250000,Structural,CLEANED MAIN,SALADO CREEK,61141,...,Sewer Main,NaN,0.00,06-Mar-19,False,3.0,NaN,NaN,100 PANSY LN,False
5,3/5/19,250,0.0,3/5/2019 2:22:00 PM,3/5/2019 2:32:00 PM,0.166667,Grease,CLEANED MAIN,DOS RIOS,38907,...,Sewer Main,NaN,0.00,05-Mar-19,False,12.0,NaN,NaN,3200 S HACKBERRY ST,False
6,3/2/19,73,0.0,3/2/2019 1:42:00 PM,3/2/2019 2:55:00 PM,1.216667,Grease,CLEANED MAIN,MEDIO CREEK,85120,...,Sewer Main,NaN,0.73,02-Mar-19,False,120.0,GREASE,"Increase FCS,",9910 SUGARLOAF DR,False
7,3/1/19,76,0.0,3/1/2019 6:34:00 PM,3/1/2019 7:50:00 PM,1.266667,Grease,CLEANED MAIN,DOS RIOS,26128,...,Sewer Main,NaN,0.43,01-Mar-19,False,120.0,NaN,"Increase FCS,",3507 PIEDMONT AVE,False
8,2/26/19,3750,0.0,2/26/2019 9:00:00 AM,2/26/2019 10:15:00 AM,1.250000,Structural,CLEANED MAIN,LEON CREEK,47292,...,Sewer Main,NaN,0.00,26-Feb-19,False,120.0,STRUCTURAL,"Design Request,",349 ALICIA,False
9,2/26/19,66,0.0,2/26/2019 5:24:00 PM,2/26/2019 6:30:00 PM,1.100000,Grease,CLEANED MAIN,DOS RIOS,14241,...,Sewer Main,NaN,0.43,26-Feb-19,False,120.0,DEBRIS,"Increase FCS,",1502 W MISTLETOE AVE,False
10,2/25/19,25,0.0,2/25/2019 4:43:00 PM,2/25/2019 5:37:00 PM,0.900000,Grease,CLEANED MAIN,SALADO CREEK,58914,...,Sewer Main,NaN,0.82,25-Feb-19,False,60.0,GREASE,"Design Request,",5 TROPHY RDG,False
11,2/25/19,71,0.0,2/25/2019 12:54:00 PM,2/25/2019 2:05:00 PM,1.183333,Grease,CLEANED MAIN,LEON CREEK,34430,...,Sewer Main,NaN,0.27,25-Feb-19,False,12.0,GREASE,NaN,4100 CULEBRA RD,False
12,2/24/19,1080,0.0,2/24/2019 5:42:00 PM,2/24/2019 7:30:00 PM,1.800000,Contractor,CLEANED MAIN,SALADO CREEK,353828,...,Sewer Main,NaN,1.30,24-Feb-19,False,60.0,CONTRACTOR,NaN,25903 TURQUOISE SKY,False
13,2/20/19,288,0.0,2/20/2019 3:42:00 PM,2/20/2019 6:06:00 PM,2.400000,Contractor,CLEANED MAIN,DOS RIOS,97780,...,Sewer Main,NaN,2.23,20-Feb-19,False,120.0,CONTRACTOR,"Point Repair,",116 GOLDEN CROWN,False
14,2/18/19,1330,0.0,2/18/2019 12:55:00 PM,2/18/2019 3:08:00 PM,2.216667,Grease,CLEANED LATERAL,SALADO CREEK,334582,...,Sewer Service Line,NaN,1.92,18-Feb-19,False,NaN,GREASE,NaN,3023 THOUSAND OAKS DR,False
15,2/18/19,481,0.0,2/18/2019 4:14:00 PM,2/19/2019 12:15:00 AM,8.016667,Debris,CLEANED MAIN,LEON CREEK,69776,...,Sewer Main,NaN,0.00,18-Feb-19,False,120.0,DEBRIS,"Increase FCS,",4838 OLD PEARSALL RD,False
16,2/17/19,2000,NaN,2/17/2019 8:17:00 PM,2/17/2019 9:35:00 PM,1.300000,Other - Mechanical,RESTORED POWER TO LIFT STATION,SALADO CREEK,LS249,...,Sewer Liftstation,NaN,0.00,17-Feb-19,False,NaN,LIFT STATION,NaN,23003 TREEMONT PARK,False
17,2/13/19,22800,0.0,2/13/2019 5:28:00 AM,2/13/2019 8:00:00 AM,2.533333,Debris,CLEANED MAIN,DOS RIOS,559796,...,Sewer Main,NaN,2.03,13-Feb-19,False,60.0,DEBRIS,"Increase FCS,",17203 NW MILITARY HWY,False
18,2/13/19,113,0.0,2/13/2019 1:07:00 PM,2/13/2019 3:00:00 PM,1.883333,Structural,CLEANED LATERAL,LEON CREEK,69611,...,Sewer Main,NaN,1.63,13-Feb-19,False,120.0,STRUCTURAL,NaN,5126 GWENDA LEA,False
19,2/4/19,150,0.0,2/4/2019 9:00:00 PM,2/4/2019 9:30:00 PM,0.500000,Contractor,CLEANED MAIN,LEON CREEK,1004735,...,Sewer Main,NaN,0.00,04-Feb-19,False,12.0,CONTRACTOR,"Increase FCS,",12014 CANYON ROCK LN,False
20,2/2/19,1525,0.0,2/2/2019 8:55:00 AM,2/2/2019 9:56:00 AM,1.016667,Debris,CLEANED MAIN,LEON CREEK,53732,...,Sewer Main,NaN,0.00,02-Feb-19,False,120.0,CONTRACTOR,"Increase FCS,",4315 ROGERS RD,False
21,1/31/19,2000,2000.0,1/31/2019 10:35:00 AM,1/31/2019 10:35:00 AM,0.000000,Structural,REPAIRED FORCE MAIN,LEON CREEK,1035473,...,Sewer Main,NaN,0.00,31-Jan-19,False,NaN,STRUCTURAL,NaN,9765 POTRANCO RD,False
22,1/26/19,2500,NaN,1/26/2019 9:00:00 AM,1/26/2019 10:40:00 AM,1.666667,Contractor - Contractor Damaged 8 inch Force Main,REPAIRED FORCE MAIN,SALADO CREEK,940096,...,Sewer Force Main,NaN,0.50,26-Jan-19,False,NaN,CONTRACTOR,"Point Repair,",21700 ANGOSTURA BLVD,False
23,1/25/19,176,0.0,1/25/2019 10:17:00 AM,1/25/2019 11:45:00 AM,1.466667,Structural,CLEANED MAIN,LEON CREEK,84265,...,Sewer Main,NaN,0.72,25-Jan-19,False,12.0,STRUCTURAL,"Design Request,",109 WESTOAK RD,False
24,1/25/19,2900,0.0,1/25/2019 4:49:00 PM,1/25/2019 6:45:00 PM,1.933333,Debris,CLEANED MAIN,DOS RIOS,1022497,...,Sewer Main,NaN,1.52,25-Jan-19,False,3.0,DEBRIS,"Increase FCS,",450 S ACME RD,False
25,1/24/19,1000,0.0,1/24/2019 8:40:00 PM,1/24/2019 8:50:00 PM,0.166667,Grease,CLEANED MAIN,DOS RIOS,78976,...,Sewer Main,NaN,0.00,24-Jan-19,False,12.0,GREASE,"Increase FCS,",11723 WHISPER VALLEY,False
26,1/24/19,315,0.0,1/24/2019 6:27:00 PM,1/24/2019 7:30:00 PM,1.050000,Grease,CLEANED MAIN,LEON CREEK,68970,...,Sewer Main,NaN,0.83,24-Jan-19,False,12.0,GREASE,"Point Repair,",6019 STONEY CREEK DR,False
27,1/23/19,103,0.0,1/23/2019 1:42:00 PM,1/23/2019 3:25:00 PM,1.716667,Grease,CLEANED MAIN,DOS RIOS,20026,...,Sewer Main,NaN,1.22,23-Jan-19,False,120.0,GREASE,"Increase FCS,",200 CASTROVILLE RD,False
28,1/22/19,900,900.0,1/22/2019 10:54:00 AM,1/22/2019 11:30:00 AM,0.600000,Contractor,REPAIRED BY-PASS LINE,DOS RIOS,507003,...,Sewer Main,NaN,0.00,22-Jan-19,False,6.0,CONTRACTOR,NaN,3709 N ST MARY'S ST,False
29,1/22/19,45000,0.0,1/22/2019 6:18:00 PM,1/22/2019 11:05:00 PM,4.783333,Structural,REPAIRED FORCE MAIN,SALADO CREEK,LS191PMP02,...,Sewer Pump,NaN,1.53,22-Jan-19,False,NaN,STRUCTURAL,"Point Repair,",20710 CACTUS LOOP,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,2/5/09,10,NaN,2/5/2009 1:30:00 PM,2/5/2009 2:00:00 PM,0.500000,Grease,APPLIED HTH,SALADO CREEK,93371,...,Sewer Main,NaN,NaN,NaN,False,NaN,GREASE,NaN,2823 BANDBURY OAK,False
3154,2/5/09,2000,NaN,2/5/2009 3:00:00 PM,2/5/2009 5:00:00 PM,2.000000,Debris/Rock,APPLIED HTH,DOS RIOS,21562,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,6108 MACDONA,False
3155,2/4/09,1000,NaN,2/4/2009 8:00:00 AM,2/4/2009 8:30:00 AM,0.500000,Grease,APPLIED HTH,DOS RIOS,6533,...,Sewer Main,NaN,NaN,NaN,False,NaN,GREASE,NaN,10400 NORTHAMPTON,False
3156,2/3/09,3000,NaN,2/3/2009 6:00:00 PM,2/3/2009 10:30:00 PM,4.500000,Debris/Rock,NaN,MEDIO CREEK,100504,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,600 MOURNING DOVE,False
3157,2/2/09,60,NaN,2/2/2009 9:00:00 AM,2/2/2009 9:15:00 AM,0.250000,Rags,APPLIED HTH,SALADO CREEK,83385,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,5901 LITTLE BRANDYWINE,False
3158,1/31/09,200,NaN,1/31/2009 6:30:00 PM,1/31/2009 7:00:00 PM,0.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,51357,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,13202 SCARSDALE,False
3159,1/29/09,500,NaN,1/29/2009 11:30:00 AM,1/29/2009 1:00:00 PM,1.500000,Debris/Rock,APPLIED HTH,DOS RIOS,11524,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,10334 OASIS,False
3160,1/29/09,750,NaN,1/29/2009 11:30:00 PM,1/30/2009 2:00:00 AM,2.500000,Debris/Rock,APPLIED HTH,LEON CREEK,46752,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,1403 MELISSA SUE,False
3161,1/28/09,500,NaN,1/28/2009 7:30:00 PM,1/28/2009 8:00:00 PM,0.500000,Debris/Rock,APPLIED HTH,LEON CREEK,33410,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,5455 ROWLEY,False
3162,1/27/09,400,NaN,1/27/2009 11:30:00 AM,1/27/2009 12:00:00 PM,0.500000,Grease,APPLIED HTH,DOS RIOS,66374,...,Sewer Main,NaN,NaN,NaN,False,NaN,GREASE,NaN,500 REFUGIO,False
3163,1/23/09,100,NaN,1/23/2009 11:30:00 AM,1/23/2009 12:00:00 PM,0.500000,Debris/Rock,APPPLIED HTH,SALADO CREEK,63667,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,5433 RANDOLPH BLVD,False
3164,1/20/09,100,NaN,1/20/2009 1:00:00 PM,1/20/2009 3:00:00 PM,2.000000,Debris/Rock,APPLIED HTH,DOS RIOS,2532,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,519 MCILVAINE,False
3165,1/19/09,100,NaN,1/19/2009 10:30:00 AM,1/19/2009 11:00:00 AM,0.500000,Debris/Rock,APPLIED HTH,LEON CREEK,64345,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,8402 STAR CREEK,False
3166,1/16/09,200,NaN,1/16/2009 1:00:00 PM,1/16/2009 1:30:00 PM,0.500000,Grease,APPLIED HTH,LEON CREEK,46903,...,Sewer Main,NaN,NaN,NaN,False,NaN,GREASE,NaN,1800 GRAND STAND,False
3167,1/14/09,100,NaN,1/14/2009 12:45:00 PM,1/14/2009 3:00:00 PM,2.250000,Rags,APPLIED HTH,SALADO CREEK,63490,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,13136 LOS ESPANADA,False
3168,1/14/09,154000,NaN,10/31/2008 10:00:00 AM,1/14/2009 6:00:00 AM,1796.000000,Break In Main,"REPLACE TWIN 54"" SIPHONS",DOS RIOS,458339,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,1515 MISSION RD,False
3169,1/13/09,50,NaN,1/13/2009 1:00:00 PM,1/13/2009 1:30:00 PM,0.500000,Debris/Rock,APPLIED HTH,DOS RIOS,28035,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,2802 LASSES,False
3170,1/9/09,20,NaN,1/9/2009 7:30:00 AM,1/9/2009 8:55:00 AM,1.416667,Grease,APPLIED HTH,LEON CREEK,33932,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,4570 LARK,False
3171,1/8/09,3000,NaN,1/8/2009 8:30:00 AM,1/8/2009 10:30:00 AM,2.000000,Grease,APPLIED HTH,DOS RIOS,3070,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,3710 NEER AVE,False
3172,1/8/09,25,NaN,1/8/2009 9:30:00 AM,1/8/2009 10:00:00 AM,0.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,62270,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,5000 AYRSHIRE,False
3173,1/8/09,200,NaN,1/8/2009 10:30:00 AM,1/8/2009 1:00:00 PM,2.500000,Grease,APPLIED HTH,DOS RIOS,87124,...,Sewer Main,NaN,NaN,NaN,False,NaN,GREASE,NaN,2602 LESLIE NICOLE,False
3174,1/7/09,400,NaN,1/7/2009 1:00:00 PM,1/7/2009 3:00:00 PM,2.000000,Grease,APPLIED HTH,DOS RIOS,19336,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,1743 GENERAL McMULLEN S,False
3175,1/7/09,3000,NaN,1/7/2009 12:00:00 PM,1/7/2009 1:30:00 PM,1.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,56273,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,6000 IH 10 E,False
3176,1/7/09,1000,NaN,1/7/2009 6:30:00 PM,1/7/2009 8:00:00 PM,1.500000,Debris/Rock,APPLIE HTH,DOS RIOS,16104,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,1300 GENERAL McMULLEN N,False
3177,1/6/09,1000,NaN,1/6/2009 6:00:00 PM,1/6/2009 6:30:00 PM,0.500000,Break In Main,APPLIED HTH,DOS RIOS,45478,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,101 LINDELL PLACE,False
3178,1/6/09,2000,NaN,1/6/2009 12:00:00 PM,1/6/2009 1:00:00 PM,1.000000,Debris/Rock,APPLIED HTH,SALADO CREEK,46343,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,2383 LOOP 410 NE,False
3179,1/5/09,800,NaN,1/5/2009 2:00:00 PM,1/5/2009 4:00:00 PM,2.000000,Rags,APPLIED HTH,LEON CREEK,89038,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,7407 ELDERBERRY,False
3180,1/5/09,400,NaN,1/5/2009 11:00:00 AM,1/5/2009 11:45:00 AM,0.750000,Rags,APPLIED HTH,LEON CREEK,51874,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,7019 BAYWATER,False
3181,1/5/09,25,NaN,1/5/2009 8:30:00 AM,1/5/2009 9:00:00 AM,0.500000,Debris/Rock,APPLIED HTH,SALADO CREEK,50793,...,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,12500 JOHN BARRY,False
3182,1/3/09,500,NaN,1/3/2009 9:00:00 AM,1/3/2009 11:00:00 AM,2.000000,Rags,APPLIED HTH,LEON CREEK,64143,...,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,215 BROADVIEW W,False

In [18]:
df1 = df1.rename(index=str, columns={"spill_start_1": "spill_start",
                               "spill_stop_1": "spill_stop",
                               "hours_1": "hours"})

_Let's make the fields lowercase as well..._

In [19]:
df1 = lowercase_columm(df1, 'unit_type',
                 'asset_type',
                 'cause',
                 'actions',
                 'watershed',
                 'discharge_to',
                 'discharge_route',
                 'pipe_type',
                 'root_cause',
                 'spill_street_address'
                )
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
spill_start,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours,1.4,1.33333,1.5,1.38333
cause,grease,grease,structural,grease
actions,cleaned main,cleaned main,cleaned main,NaN
watershed,salado creek,dos rios,dos rios,salado creek
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,street,stormdrain,alley,easement
discharge_route,none,none,none,none
council_district,NaN,3,1,3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,pvc,pvc,cp,pvc
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,gravity,gravity,gravity,gravity
asset_type,sewer main,sewer main,sewer main,sewer main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_street_address,3200 thousand oaks dr,6804 s flores st,215 audrey alene dr,3602 se military dr
multiple_spills,False,False,True,False

_Let's assign a variable with all numerical column names._

In [20]:
numerical_columns = list(df1.select_dtypes(include=[np.number]).columns.values)
numerical_columns

['total_gallons',
 'gallons_returned',
 'hours',
 'council_district',
 'month',
 'year',
 'week',
 'edwards_zone',
 'pipe_diameter',
 'pipe_length',
 'installation_year',
 'inches_no',
 'rainfall_less_3',
 'num_spills_compkey',
 'num_spills_24mos',
 'time_int']

_Let's assign a variable with all non-numerical column names._

In [21]:
non_numerical_columns = list(df1.select_dtypes(exclude=[np.number]).columns.values)
non_numerical_columns

['report_date',
 'spill_start',
 'spill_stop',
 'cause',
 'actions',
 'watershed',
 'unit_id_1',
 'unit_id_2',
 'discharge_to',
 'discharge_route',
 'pipe_type',
 'unit_type',
 'asset_type',
 'last_cleaned',
 'response_time',
 'response_datetime',
 'public_notice',
 'root_cause',
 'steps_to_prevent',
 'spill_street_address',
 'multiple_spills']

# EXPLORE

### Looking for the repeat offenders...

In [22]:
df1.num_spills_24mos[df1.num_spills_24mos > 1].value_counts()

2.0     180
3.0      75
4.0      32
5.0      27
6.0      19
7.0      12
8.0       7
9.0       5
10.0      1
11.0      1
12.0      1
13.0      1
Name: num_spills_24mos, dtype: int64

### Locations of the most frequent SSOs in 2 years

In [23]:
df1[['spill_street_address']][df1.num_spills_24mos >= 9]

      spill_street_address
33         6606 swiss oaks
40         6606 swiss oaks
84   108 chappie james way
153        6606 swiss oaks
593   10800 entrance rd ne
727   10800 entrance rd ne
738   10800 entrance rd ne
751   10823 entrance rd ne
762   10700 entrance rd ne

### Total number of gallons spilled by the most frequent SSOs in 2 years

In [24]:
df1.total_gallons[df1.num_spills_24mos >= 9].agg('sum')

3538455

In [25]:
df1[['spill_street_address', 'total_gallons', 'hours', 'root_cause',
     'unit_type', 'asset_type', 'last_cleaned', 'multiple_spills',
     'discharge_to', 'discharge_route']][df1.num_spills_24mos >= 9]

,spill_street_address,total_gallons,hours,root_cause,unit_type,asset_type,last_cleaned,multiple_spills,discharge_to,discharge_route
33,6606 swiss oaks,48000,4.000000,rain event,outfall,sewer main,NaN,False,creek bed - spilled into leon creek,leon creek
40,6606 swiss oaks,815355,63.930000,rain event,outfall,sewer main,NaN,False,creek bed - spilled into leon creek,leon creek
84,108 chappie james way,2448400,95.650000,rain event,outfall,sewer main,NaN,False,creek bed - spilled into leon creek,leon creek
153,6606 swiss oaks,123300,5.250000,rain event,outfall,sewer main,NaN,False,creek bed - spilled into leon creek,leon creek
593,10800 entrance rd ne,12000,4.000000,rain event,gravity,sewer main,NaN,False,creek bed - spilled into salado creek,salado creek
727,10800 entrance rd ne,78000,8.666667,rain event,gravity,sewer main,NaN,False,creek bed - spilled into salado creek,none
738,10800 entrance rd ne,100,0.250000,other,gravity,sewer main,NaN,False,ground,none
751,10823 entrance rd ne,200,0.166667,by pass pump leak,gravity,sewer main,NaN,False,ground,none
762,10700 entrance rd ne,13100,1.450000,other,gravity,sewer main,NaN,True,ground,salado creek

### Most common root causes of SSOs

In [26]:
df1.root_cause.value_counts()

structural           1237
grease                611
debris                444
rain event            353
contractor            164
lift station          125
other                  61
rain event             48
vandalism              48
vandalism              24
roots                  22
lift station           15
i/i                    12
contractor              8
by pass pump leak       3
other                   1
Name: root_cause, dtype: int64

- [ ] **TODO:** Find a way to flesh out the address using regex to account for typos etc.
- [ ] **TODO:** Maybe try using unit id's instead of addresses.
- [ ] **TODO:** Drill down to only the top 3-5 locations.
- [ ] **TODO:** Compare predictions between preventing SSO on the most frequents versus not preventing.
- [ ] **TODO:** What is causing the spills on these top 3-5 locations?

In [27]:
df1.head(4).T

,0,1,2,3
report_date,3/10/19,3/10/19,3/9/19,3/9/19
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
spill_start,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours,1.4,1.33333,1.5,1.38333
cause,grease,grease,structural,grease
actions,cleaned main,cleaned main,cleaned main,NaN
watershed,salado creek,dos rios,dos rios,salado creek
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,street,stormdrain,alley,easement
discharge_route,none,none,none,none
council_district,NaN,3,1,3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,pvc,pvc,cp,pvc
installation_year,1997,1988,1955,1983
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
unit_type,gravity,gravity,gravity,gravity
asset_type,sewer main,sewer main,sewer main,sewer main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_street_address,3200 thousand oaks dr,6804 s flores st,215 audrey alene dr,3602 se military dr
multiple_spills,False,False,True,False

In [28]:
df1[['spill_street_address', 'unit_id_1','unit_id_2', 'unit_type', 'asset_type']].head(15)

     spill_street_address unit_id_1 unit_id_2 unit_type          asset_type
0   3200 thousand oaks dr     66918     66917   gravity          sewer main
1        6804 s flores st     24250     24193   gravity          sewer main
2     215 audrey alene dr      2822      3351   gravity          sewer main
3     3602 se military dr     92804     92805   gravity          sewer main
4            100 pansy ln     61141     49543   gravity          sewer main
5     3200 s hackberry st     38907     26117   gravity          sewer main
6       9910 sugarloaf dr     85120     85363   gravity          sewer main
7       3507 piedmont ave     26128     24334   gravity          sewer main
8              349 alicia     47292     47293   gravity          sewer main
9    1502 w mistletoe ave     14241     14896   gravity          sewer main
10           5 trophy rdg     58914     61251   gravity          sewer main
11        4100 culebra rd     34430     47275   gravity          sewer main
12    25903 turquoise sky    353828     73051   gravity          sewer main
13       116 golden crown     97780     97779   gravity          sewer main
14  3023 thousand oaks dr    334582       NaN   lateral  sewer service line

- [ ] **TODO:** Maybe we can do some kind of clustering to group problem areas.

In [29]:
df1.unit_id_1.value_counts()[df1.unit_id_1.value_counts() > 7]

52470     15
LS200     14
1187      13
903059    12
LS199     12
1210      10
62085     10
LS188     10
903060    10
47822     10
11989      8
29988      8
LS201      8
424896     8
Name: unit_id_1, dtype: int64

In [30]:
df1.unit_id_2.value_counts()[df1.unit_id_2.value_counts() > 7]

52677     13
1074      13
71380     12
903059    10
62088      9
46546      9
922726     9
79942      8
16276      8
424898     8
499663     8
Name: unit_id_2, dtype: int64

In [31]:
df1['root_cause'].value_counts()

structural           1237
grease                611
debris                444
rain event            353
contractor            164
lift station          125
other                  61
rain event             48
vandalism              48
vandalism              24
roots                  22
lift station           15
i/i                    12
contractor              8
by pass pump leak       3
other                   1
Name: root_cause, dtype: int64

In [32]:
df1['spill_street_address'].value_counts()[df1.spill_street_address.value_counts() > 7]

6606 swiss oaks          24
108 chappie james way    20
700 holbrook             16
10800 entrance rd ne     14
6305 cagnon rd           13
23500 ih 10 w            12
1427 harry wurzbach      12
1800 austin hwy          12
6785 cagnon rd           12
668 holbrook             10
10102 us hwy 90 w         9
3847 thousand oaks        8
Name: spill_street_address, dtype: int64

### Looking for locations with most SSOs that are also caused by grease.

In [33]:
df1.columns

Index(['report_date', 'total_gallons', 'gallons_returned', 'spill_start',
       'spill_stop', 'hours', 'cause', 'actions', 'watershed', 'unit_id_1',
       'unit_id_2', 'discharge_to', 'discharge_route', 'council_district',
       'month', 'year', 'week', 'edwards_zone', 'pipe_diameter', 'pipe_length',
       'pipe_type', 'installation_year', 'inches_no', 'rainfall_less_3',
       'num_spills_compkey', 'num_spills_24mos', 'unit_type', 'asset_type',
       'last_cleaned', 'response_time', 'response_datetime', 'public_notice',
       'time_int', 'root_cause', 'steps_to_prevent', 'spill_street_address',
       'multiple_spills'],
      dtype='object')

In [34]:
# df1['value_count'] = df1.groupby('spill_street_address').transform('count')
# df1

df1['counts'] = df1.root_cause
df1['counts'] = df1.groupby(['spill_street_address']).transform('count')
df1

,report_date,total_gallons,gallons_returned,spill_start,spill_stop,hours,cause,actions,watershed,unit_id_1,...,last_cleaned,response_time,response_datetime,public_notice,time_int,root_cause,steps_to_prevent,spill_street_address,multiple_spills,counts
0,3/10/19,2100,2100.0,3/10/2019 1:16:00 PM,3/10/2019 2:40:00 PM,1.400000,grease,cleaned main,salado creek,66918,...,NaN,0.45,10-Mar-19,False,24.0,NaN,NaN,3200 thousand oaks dr,False,1
1,3/10/19,80,0.0,3/10/2019 2:25:00 PM,3/10/2019 3:45:00 PM,1.333333,grease,cleaned main,dos rios,24250,...,NaN,1.08,10-Mar-19,False,120.0,NaN,NaN,6804 s flores st,False,1
2,3/9/19,79,0.0,3/9/2019 6:00:00 PM,3/9/2019 7:30:00 PM,1.500000,structural,cleaned main,dos rios,2822,...,NaN,1.00,09-Mar-19,False,24.0,NaN,NaN,215 audrey alene dr,True,1
3,3/9/19,83,0.0,3/9/2019 3:37:00 PM,3/9/2019 5:00:00 PM,1.383333,grease,NaN,salado creek,92804,...,NaN,0.55,09-Mar-19,False,120.0,NaN,NaN,3602 se military dr,False,1
4,3/6/19,75,0.0,3/6/2019 9:40:00 AM,3/6/2019 9:55:00 AM,0.250000,structural,cleaned main,salado creek,61141,...,NaN,0.00,06-Mar-19,False,3.0,NaN,NaN,100 pansy ln,False,1
5,3/5/19,250,0.0,3/5/2019 2:22:00 PM,3/5/2019 2:32:00 PM,0.166667,grease,cleaned main,dos rios,38907,...,NaN,0.00,05-Mar-19,False,12.0,NaN,NaN,3200 s hackberry st,False,1
6,3/2/19,73,0.0,3/2/2019 1:42:00 PM,3/2/2019 2:55:00 PM,1.216667,grease,cleaned main,medio creek,85120,...,NaN,0.73,02-Mar-19,False,120.0,grease,"Increase FCS,",9910 sugarloaf dr,False,1
7,3/1/19,76,0.0,3/1/2019 6:34:00 PM,3/1/2019 7:50:00 PM,1.266667,grease,cleaned main,dos rios,26128,...,NaN,0.43,01-Mar-19,False,120.0,NaN,"Increase FCS,",3507 piedmont ave,False,2
8,2/26/19,3750,0.0,2/26/2019 9:00:00 AM,2/26/2019 10:15:00 AM,1.250000,structural,cleaned main,leon creek,47292,...,NaN,0.00,26-Feb-19,False,120.0,structural,"Design Request,",349 alicia,False,1
9,2/26/19,66,0.0,2/26/2019 5:24:00 PM,2/26/2019 6:30:00 PM,1.100000,grease,cleaned main,dos rios,14241,...,NaN,0.43,26-Feb-19,False,120.0,debris,"Increase FCS,",1502 w mistletoe ave,False,1
10,2/25/19,25,0.0,2/25/2019 4:43:00 PM,2/25/2019 5:37:00 PM,0.900000,grease,cleaned main,salado creek,58914,...,NaN,0.82,25-Feb-19,False,60.0,grease,"Design Request,",5 trophy rdg,False,2
11,2/25/19,71,0.0,2/25/2019 12:54:00 PM,2/25/2019 2:05:00 PM,1.183333,grease,cleaned main,leon creek,34430,...,NaN,0.27,25-Feb-19,False,12.0,grease,NaN,4100 culebra rd,False,1
12,2/24/19,1080,0.0,2/24/2019 5:42:00 PM,2/24/2019 7:30:00 PM,1.800000,contractor,cleaned main,salado creek,353828,...,NaN,1.30,24-Feb-19,False,60.0,contractor,NaN,25903 turquoise sky,False,1
13,2/20/19,288,0.0,2/20/2019 3:42:00 PM,2/20/2019 6:06:00 PM,2.400000,contractor,cleaned main,dos rios,97780,...,NaN,2.23,20-Feb-19,False,120.0,contractor,"Point Repair,",116 golden crown,False,1
14,2/18/19,1330,0.0,2/18/2019 12:55:00 PM,2/18/2019 3:08:00 PM,2.216667,grease,cleaned lateral,salado creek,334582,...,NaN,1.92,18-Feb-19,False,NaN,grease,NaN,3023 thousand oaks dr,False,1
15,2/18/19,481,0.0,2/18/2019 4:14:00 PM,2/19/2019 12:15:00 AM,8.016667,debris,cleaned main,leon creek,69776,...,NaN,0.00,18-Feb-19,False,120.0,debris,"Increase FCS,",4838 old pearsall rd,False,2
16,2/17/19,2000,NaN,2/17/2019 8:17:00 PM,2/17/2019 9:35:00 PM,1.300000,other - mechanical,restored power to lift station,salado creek,LS249,...,NaN,0.00,17-Feb-19,False,NaN,lift station,NaN,23003 treemont park,False,1
17,2/13/19,22800,0.0,2/13/2019 5:28:00 AM,2/13/2019 8:00:00 AM,2.533333,debris,cleaned main,dos rios,559796,...,NaN,2.03,13-Feb-19,False,60.0,debris,"Increase FCS,",17203 nw military hwy,False,1
18,2/13/19,113,0.0,2/13/2019 1:07:00 PM,2/13/2019 3:00:00 PM,1.883333,structural,cleaned lateral,leon creek,69611,...,NaN,1.63,13-Feb-19,False,120.0,structural,NaN,5126 gwenda lea,False,1
19,2/4/19,150,0.0,2/4/2019 9:00:00 PM,2/4/2019 9:30:00 PM,0.500000,contractor,cleaned main,leon creek,1004735,...,NaN,0.00,04-Feb-19,False,12.0,contractor,"Increase FCS,",12014 canyon rock ln,False,1
20,2/2/19,1525,0.0,2/2/2019 8:55:00 AM,2/2/2019 9:56:00 AM,1.016667,debris,cleaned main,leon creek,53732,...,NaN,0.00,02-Feb-19,False,120.0,contractor,"Increase FCS,",4315 rogers rd,False,1
21,1/31/19,2000,2000.0,1/31/2019 10:35:00 AM,1/31/2019 10:35:00 AM,0.000000,structural,repaired force main,leon creek,1035473,...,NaN,0.00,31-Jan-19,False,NaN,structural,NaN,9765 potranco rd,False,5
22,1/26/19,2500,NaN,1/26/2019 9:00:00 AM,1/26/2019 10:40:00 AM,1.666667,contractor - contractor damaged 8 inch force main,repaired force main,salado creek,940096,...,NaN,0.50,26-Jan-19,False,NaN,contractor,"Point Repair,",21700 angostura blvd,False,1
23,1/25/19,176,0.0,1/25/2019 10:17:00 AM,1/25/2019 11:45:00 AM,1.466667,structural,cleaned main,leon creek,84265,...,NaN,0.72,25-Jan-19,False,12.0,structural,"Design Request,",109 westoak rd,False,1
24,1/25/19,2900,0.0,1/25/2019 4:49:00 PM,1/25/2019 6:45:00 PM,1.933333,debris,cleaned main,dos rios,1022497,...,NaN,1.52,25-Jan-19,False,3.0,debris,"Increase FCS,",450 s acme rd,False,1
25,1/24/19,1000,0.0,1/24/2019 8:40:00 PM,1/24/2019 8:50:00 PM,0.166667,grease,cleaned main,dos rios,78976,...,NaN,0.00,24-Jan-19,False,12.0,grease,"Increase FCS,",11723 whisper valley,False,3
26,1/24/19,315,0.0,1/24/2019 6:27:00 PM,1/24/2019 7:30:00 PM,1.050000,grease,cleaned main,leon creek,68970,...,NaN,0.83,24-Jan-19,False,12.0,grease,"Point Repair,",6019 stoney creek dr,False,1
27,1/23/19,103,0.0,1/23/2019 1:42:00 PM,1/23/2019 3:25:00 PM,1.716667,grease,cleaned main,dos rios,20026,...,NaN,1.22,23-Jan-19,False,120.0,grease,"Increase FCS,",200 castroville rd,False,1
28,1/22/19,900,900.0,1/22/2019 10:54:00 AM,1/22/2019 11:30:00 AM,0.600000,contractor,repaired by-pass line,dos rios,507003,...,NaN,0.00,22-Jan-19,False,6.0,contractor,NaN,3709 n st mary's st,False,1
29,1/22/19,45000,0.0,1/22/2019 6:18:00 PM,1/22/2019 11:05:00 PM,4.783333,structural,repaired force main,salado creek,LS191PMP02,...,NaN,1.53,22-Jan-19,False,NaN,structural,"Point Repair,",20710 cactus loop,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,2/5/09,10,NaN,2/5/2009 1:30:00 PM,2/5/2009 2:00:00 PM,0.500000,grease,applied hth,salado creek,93371,...,NaN,NaN,NaN,False,NaN,grease,NaN,2823 bandbury oak,False,1
3154,2/5/09,2000,NaN,2/5/2009 3:00:00 PM,2/5/2009 5:00:00 PM,2.000000,debris/rock,applied hth,dos rios,21562,...,NaN,NaN,NaN,False,NaN,debris,NaN,6108 macdona,False,1
3155,2/4/09,1000,NaN,2/4/2009 8:00:00 AM,2/4/2009 8:30:00 AM,0.500000,grease,applied hth,dos rios,6533,...,NaN,NaN,NaN,False,NaN,grease,NaN,10400 northampton,False,1
3156,2/3/09,3000,NaN,2/3/2009 6:00:00 PM,2/3/2009 10:30:00 PM,4.500000,debris/rock,NaN,medio creek,100504,...,NaN,NaN,NaN,False,NaN,debris,NaN,600 mourning dove,False,1
3157,2/2/09,60,NaN,2/2/2009 9:00:00 AM,2/2/2009 9:15:00 AM,0.250000,rags,applied hth,salado creek,83385,...,NaN,NaN,NaN,False,NaN,structural,NaN,5901 little brandywine,False,2
3158,1/31/09,200,NaN,1/31/2009 6:30:00 PM,1/31/2009 7:00:00 PM,0.500000,debris/rock,applied hth,salado creek,51357,...,NaN,NaN,NaN,False,NaN,structural,NaN,13202 scarsdale,False,1
3159,1/29/09,500,NaN,1/29/2009 11:30:00 AM,1/29/2009 1:00:00 PM,1.500000,debris/rock,applied hth,dos rios,11524,...,NaN,NaN,NaN,False,NaN,debris,NaN,10334 oasis,False,2
3160,1/29/09,750,NaN,1/29/2009 11:30:00 PM,1/30/2009 2:00:00 AM,2.500000,debris/rock,applied hth,leon creek,46752,...,NaN,NaN,NaN,False,NaN,structural,NaN,1403 melissa sue,False,1
3161,1/28/09,500,NaN,1/28/2009 7:30:00 PM,1/28/2009 8:00:00 PM,0.500000,debris/rock,applied hth,leon creek,33410,...,NaN,NaN,NaN,False,NaN,debris,NaN,5455 rowley,False,1
3162,1/27/09,400,NaN,1/27/2009 11:30:00 AM,1/27/2009 12:00:00 PM,0.500000,grease,applied hth,dos rios,66374,...,NaN,NaN,NaN,False,NaN,grease,NaN,500 refugio,False,1
3163,1/23/09,100,NaN,1/23/2009 11:30:00 AM,1/23/2009 12:00:00 PM,0.500000,debris/rock,appplied hth,salado creek,63667,...,NaN,NaN,NaN,False,NaN,debris,NaN,5433 randolph blvd,False,1
3164,1/20/09,100,NaN,1/20/2009 1:00:00 PM,1/20/2009 3:00:00 PM,2.000000,debris/rock,applied hth,dos rios,2532,...,NaN,NaN,NaN,False,NaN,structural,NaN,519 mcilvaine,False,1
3165,1/19/09,100,NaN,1/19/2009 10:30:00 AM,1/19/2009 11:00:00 AM,0.500000,debris/rock,applied hth,leon creek,64345,...,NaN,NaN,NaN,False,NaN,debris,NaN,8402 star creek,False,1
3166,1/16/09,200,NaN,1/16/2009 1:00:00 PM,1/16/2009 1:30:00 PM,0.500000,grease,applied hth,leon creek,46903,...,NaN,NaN,NaN,False,NaN,grease,NaN,1800 grand stand,False,1
3167,1/14/09,100,NaN,1/14/2009 12:45:00 PM,1/14/2009 3:00:00 PM,2.250000,rags,applied hth,salado creek,63490,...,NaN,NaN,NaN,False,NaN,structural,NaN,13136 los espanada,False,1
3168,1/14/09,154000,NaN,10/31/2008 10:00:00 AM,1/14/2009 6:00:00 AM,1796.000000,break in main,"replace twin 54"" siphons",dos rios,458339,...,NaN,NaN,NaN,False,NaN,structural,NaN,1515 mission rd,False,2
3169,1/13/09,50,NaN,1/13/2009 1:00:00 PM,1/13/2009 1:30:00 PM,0.500000,debris/rock,applied hth,dos rios,28035,...,NaN,NaN,NaN,False,NaN,structural,NaN,2802 lasses,False,3
3170,1/9/09,20,NaN,1/9/2009 7:30:00 AM,1/9/2009 8:55:00 AM,1.416667,grease,applied hth,leon creek,33932,...,NaN,NaN,NaN,False,NaN,structural,NaN,4570 lark,False,1
3171,1/8/09,3000,NaN,1/8/2009 8:30:00 AM,1/8/2009 10:30:00 AM,2.000000,grease,applied hth,dos rios,3070,...,NaN,NaN,NaN,False,NaN,structural,NaN,3710 neer ave,False,1
3172,1/8/09,25,NaN,1/8/2009 9:30:00 AM,1/8/2009 10:00:00 AM,0.500000,debris/rock,applied hth,salado creek,62270,...,NaN,NaN,NaN,False,NaN,structural,NaN,5000 ayrshire,False,1
3173,1/8/09,200,NaN,1/8/2009 10:30:00 AM,1/8/2009 1:00:00 PM,2.500000,grease,applied hth,dos rios,87124,...,NaN,NaN,NaN,False,NaN,grease,NaN,2602 leslie nicole,False,1
3174,1/7/09,400,NaN,1/7/2009 1:00:00 PM,1/7/2009 3:00:00 PM,2.000000,grease,applied hth,dos rios,19336,...,NaN,NaN,NaN,False,NaN,structural,NaN,1743 general mcmullen s,False,1
3175,1/7/09,3000,NaN,1/7/2009 12:00:00 PM,1/7/2009 1:30:00 PM,1.500000,debris/rock,applied hth,salado creek,56273,...,NaN,NaN,NaN,False,NaN,structural,NaN,6000 ih 10 e,False,3
3176,1/7/09,1000,NaN,1/7/2009 6:30:00 PM,1/7/2009 8:00:00 PM,1.500000,debris/rock,applie hth,dos rios,16104,...,NaN,NaN,NaN,False,NaN,structural,NaN,1300 general mcmullen n,False,1
3177,1/6/09,1000,NaN,1/6/2009 6:00:00 PM,1/6/2009 6:30:00 PM,0.500000,break in main,applied hth,dos rios,45478,...,NaN,NaN,NaN,False,NaN,structural,NaN,101 lindell place,False,2
3178,1/6/09,2000,NaN,1/6/2009 12:00:00 PM,1/6/2009 1:00:00 PM,1.000000,debris/rock,applied hth,salado creek,46343,...,NaN,NaN,NaN,False,NaN,structural,NaN,2383 loop 410 ne,False,1
3179,1/5/09,800,NaN,1/5/2009 2:00:00 PM,1/5/2009 4:00:00 PM,2.000000,rags,applied hth,leon creek,89038,...,NaN,NaN,NaN,False,NaN,structural,NaN,7407 elderberry,False,1
3180,1/5/09,400,NaN,1/5/2009 11:00:00 AM,1/5/2009 11:45:00 AM,0.750000,rags,applied hth,leon creek,51874,...,NaN,NaN,NaN,False,NaN,debris,NaN,7019 baywater,False,1
3181,1/5/09,25,NaN,1/5/2009 8:30:00 AM,1/5/2009 9:00:00 AM,0.500000,debris/rock,applied hth,salado creek,50793,...,NaN,NaN,NaN,False,NaN,structural,NaN,12500 john barry,False,1
3182,1/3/09,500,NaN,1/3/2009 9:00:00 AM,1/3/2009 11:00:00 AM,2.000000,rags,applied hth,leon creek,64143,...,NaN,NaN,NaN,False,NaN,debris,NaN,215 broadview w,False,3

### The table below shows that most frequent SSO within the last 2 years.

In [35]:
df1.loc[(df1['counts'] >= 7) & (df1['root_cause'] == 'grease')]

,report_date,total_gallons,gallons_returned,spill_start,spill_stop,hours,cause,actions,watershed,unit_id_1,...,last_cleaned,response_time,response_datetime,public_notice,time_int,root_cause,steps_to_prevent,spill_street_address,multiple_spills,counts
171,8/12/18,75000,NaN,8/12/2018 4:15:00 PM,8/12/2018 6:30:00 PM,2.25,i/i,diluted by heavy rain water,leon creek,903060,...,NaN,0.25,12-Aug-18,True,120.0,grease,NaN,6606 swiss oaks,True,24
569,9/26/16,20,0.0,9/26/2016 11:00:00 AM,9/26/2016 11:00:00 AM,0.00,i/i,cleaned area,salado creek,62085,...,NaN,0.00,26-Sep-16,False,NaN,grease,"Increase FCS,",1427 harry wurzbach,False,12
1317,10/12/13,60,0.0,10/12/2013 1:24:00 PM,10/12/2013 2:00:00 PM,0.60,grease,cleaned main,dos rios,2386,...,09-Aug-12,NaN,NaN,False,NaN,grease,"Increase FCS,",3714 neer ave,False,7
1852,2/5/12,50,20.0,2/5/2012 5:38:00 PM,2/5/2012 6:20:00 PM,0.70,grease,cleaned main,dos rios,13472,...,10-Nov-11,NaN,NaN,False,NaN,grease,NaN,7930 flores st s,False,7
1868,1/28/12,200,100.0,1/28/2012 5:45:00 PM,1/28/2012 7:00:00 PM,1.25,grease,cleaned main,dos rios,12811,...,10-Nov-11,NaN,NaN,False,NaN,grease,NaN,7930 flores st s,False,7
3034,6/9/09,2000,0.0,6/9/2009 12:30:00 PM,6/9/2009 3:30:00 PM,3.00,grease,cleaned main,dos rios,24234,...,02-May-09,NaN,NaN,False,NaN,grease,NaN,7930 flores st s,False,7
3072,5/2/09,30,NaN,5/2/2009 5:30:00 PM,5/2/2009 6:00:00 PM,0.50,grease,cleaned main,dos rios,18257,...,NaN,NaN,NaN,False,NaN,grease,NaN,7930 flores st s,False,7

In [36]:
df1[df1.total_gallons > 500000]

,report_date,total_gallons,gallons_returned,spill_start,spill_stop,hours,cause,actions,watershed,unit_id_1,...,last_cleaned,response_time,response_datetime,public_notice,time_int,root_cause,steps_to_prevent,spill_street_address,multiple_spills,counts
40,12/26/18,815355,NaN,12/26/2018 3:45:00 PM,1/3/2019 7:00:00 PM,63.930000,i/i,monitored area,leon creek,903059,...,NaN,0.00,26-Dec-18,True,NaN,rain event,"Capacity Project,",6606 swiss oaks,False,24
56,12/7/18,1177800,NaN,12/7/2018 6:30:00 PM,12/8/2018 5:00:00 AM,10.500000,i/i,monitored area,leon creek,903059,...,NaN,0.00,07-Dec-18,True,NaN,rain event,"Capacity Project,",6606 swiss oaks,True,24
84,10/24/18,2448400,0.0,10/24/2018 1:50:00 PM,10/28/2018 1:29:00 PM,95.650000,i/i,monitored area,leon creek,1210,...,NaN,0.00,24-Oct-18,True,NaN,rain event,"Capacity Project,",108 chappie james way,False,20
91,10/16/18,1155025,NaN,10/16/2018 11:21:00 AM,10/25/2018 2:30:00 AM,89.820000,i/i,diluted by heavy rainwater,leon creek,42324,...,NaN,0.00,16-Oct-18,True,NaN,rain event,"Capacity Project,",6123 enrique m barrera pkwy,False,1
93,10/15/18,642250,NaN,10/15/2018 2:48:00 PM,10/16/2018 8:45:00 AM,17.950000,i/i,diluted by heavy rainwater,leon creek,1210,...,NaN,0.00,15-Oct-18,True,NaN,rain event,"Capacity Project,",108 chappie james way,True,20
95,10/14/18,687100,0.0,10/14/2018 3:55:00 PM,10/15/2018 4:00:00 AM,12.083333,i/i,monitored area,salado creek,47427,...,NaN,0.58,14-Oct-18,True,24.0,rain event,NaN,1800 austin hwy,True,12
112,9/22/18,1640538,0.0,9/22/2018 8:40:00 AM,9/23/2018 4:00:00 AM,19.333333,i/i,diluted by heavy rainwater,salado creek,47427,...,NaN,0.00,22-Sep-18,True,24.0,rain event,"Capacity Project,",1800 austin hwy,True,12
115,9/20/18,13304550,0.0,9/20/2018 9:45:00 AM,11/19/2018 1:30:00 AM,620.070000,i/i,monitored area,leon creek,903059,...,NaN,0.00,20-Sep-18,True,NaN,rain event,"Capacity Project,",6606 swiss oaks,False,24
127,9/16/18,1323125,0.0,9/16/2018 5:03:00 PM,9/18/2018 7:50:00 AM,38.783333,i/i,diluted by heavy rain water,leon creek,1210,...,NaN,0.00,16-Sep-18,True,NaN,rain event,"Capacity Project,",108 chappie james way,False,20
134,9/15/18,824995,NaN,9/15/2018 3:00:00 PM,9/16/2018 5:30:00 AM,14.500000,i/i,monitor spill,salado creek,46546,...,NaN,0.00,15-Sep-18,True,24.0,rain event,"Capacity Project,",1800 austin hwy,True,12
135,9/14/18,1309800,NaN,9/14/2018 9:14:00 AM,9/18/2018 5:30:00 AM,92.266667,i/i,diluted by heavy rain water,leon creek,903059,...,NaN,0.00,14-Sep-18,True,NaN,rain event,"Capacity Project,",6606 swiss oaks,False,24
151,9/9/18,530100,NaN,9/9/2018 2:45:00 PM,9/10/2018 8:18:00 AM,17.550000,i/i,diluted by heavy rain water,salado creek,930658,...,NaN,0.00,09-Sep-18,True,120.0,rain event,"I/I Inv,",11400 starcrest dr,True,6
161,9/3/18,639000,0.0,9/3/2018 4:10:00 PM,9/5/2018 6:46:00 PM,50.600000,i/i,diluted by heavy rain water,leon creek,55568,...,NaN,0.33,03-Sep-18,True,120.0,rain event,NaN,10090 commerce st w,False,3
242,3/28/18,617750,0.0,3/28/2018 2:15:00 AM,3/29/2018 3:00:00 AM,24.750000,i/i,cleanup efforts will commence once area has dr...,leon creek,1210,...,NaN,0.00,28-Mar-18,True,NaN,rain event,"I/I Inv,",108 chappie james way,False,20
382,8/7/17,905250,0.0,8/7/2017 1:30:00 PM,8/9/2017 8:13:00 AM,42.716667,i/i,diluted by heavy rain water,leon creek,903061,...,NaN,0.00,07-Aug-17,True,120.0,rain event,"Capacity Project,",6606 swiss oaks,False,24
453,2/20/17,622500,0.0,2/20/2017 7:45:00 AM,2/21/2017 4:30:00 AM,20.750000,i/i,diluted by heavy rainwater,leon creek,903059,...,NaN,0.00,20-Feb-17,True,NaN,rain event,"Capacity Project,",6606 swiss oaks,False,24
454,2/20/17,532625,0.0,2/20/2017 9:00:00 AM,2/21/2017 3:00:00 AM,18.000000,i/i,monitored area,salado creek,47427,...,NaN,0.00,20-Feb-17,True,24.0,rain event,"Capacity Project,",1006 holbrook,False,4
455,2/20/17,1172500,0.0,2/20/2017 9:15:00 AM,2/21/2017 8:30:00 AM,23.250000,i/i,diluted by heavy rain water,leon creek,1210,...,NaN,0.00,20-Feb-17,True,NaN,rain event,"Capacity Project,",100 chappie james way,False,4
504,12/3/16,1880100,0.0,12/3/2016 9:24:00 AM,12/4/2016 9:00:00 AM,23.600000,i/i,diluted by heavy rain water,leon creek,462766,...,NaN,0.60,03-Dec-16,True,NaN,rain event,"I/I Inv,",108 chappie james way,True,20
517,12/3/16,1560928,0.0,12/3/2016 2:08:00 PM,12/4/2016 9:15:00 AM,19.120000,i/i,diluted by heavy rain water,salado creek,47809,...,NaN,0.00,03-Dec-16,True,NaN,rain event,"Capacity Project,",668 holbrook,True,10
547,9/28/16,1237500,0.0,9/26/2016 8:00:00 AM,9/28/2016 11:00:00 AM,51.000000,i/i,diluted by heavy rainwater,salado creek,558827,...,NaN,0.00,26-Sep-16,True,NaN,rain event,NaN,8400 old corpus christi rd,False,1
563,9/26/16,693750,0.0,9/26/2016 8:00:00 AM,9/27/2016 11:30:00 AM,27.500000,i/i,diluted by heavy rainwater,leon creek,903059,...,NaN,0.00,26-Sep-16,True,NaN,rain event,"I/I Inv,",6606 swiss oaks,False,24
564,9/26/16,780000,0.0,9/26/2016 8:45:00 AM,9/27/2016 10:45:00 AM,26.000000,i/i,diluted by heavy rainwater,leon creek,1187,...,NaN,0.00,26-Sep-16,True,NaN,rain event,"I/I Inv,",108 chappie james way,False,20
590,8/21/16,625000,0.0,8/21/2016 3:40:00 PM,8/22/2016,8.333333,i/i,diluted by heavy rain water,leon creek,1187,...,NaN,0.00,21-Aug-16,True,NaN,rain event,NaN,108 chappie james way,False,20
591,8/21/16,822540,0.0,8/21/2016 8:30:00 AM,8/22/2016 8:00:00 PM,35.500000,i/i,diluted by heavy rain water,salado creek,47822,...,NaN,0.00,21-Aug-16,True,24.0,rain event,"Capacity Project,",700 holbrook,False,16
596,8/15/16,800675,NaN,8/15/2016 11:12:00 AM,8/15/2016 9:00:00 PM,9.800000,i/i,diluted by heavy rain water,salado creek,47809,...,NaN,0.00,15-Aug-16,True,NaN,rain event,"Capacity Project,",1006 holbrook,False,4
635,6/2/16,547535,NaN,6/2/2016 8:56:00 AM,6/3/2016 6:30:00 PM,33.566667,i/i,diluted by heavy rainwater,dos rios,424899,...,NaN,2.07,02-Jun-16,True,24.0,rain event,NaN,1703 donaldson ave,False,6
646,6/2/16,6026731,0.0,6/2/2016 11:09:00 AM,6/6/2016 7:30:00 AM,92.350000,i/i,diluted by heavy rainwater,salado creek,47822,...,NaN,0.00,02-Jun-16,True,24.0,rain event,"Capacity Project,",700 holbrook,False,16
647,6/2/16,2050500,0.0,6/2/2016 11:45:00 AM,6/6/2016 12:30:00 PM,96.750000,i/i,diluted by heavy rainwater,leon creek,903064,...,NaN,0.00,02-Jun-16,True,120.0,rain event,"I/I Inv,",6606 swiss oaks,False,24
653,5/31/16,2453340,0.0,5/31/2016 5:08:00 PM,6/1/2016 7:02:00 AM,13.900000,i/i,diluted by heavy rainwater,leon creek,1187,...,NaN,0.00,31-May-16,True,NaN,rain event,"Capacity Project,",108 chappie james way,True,20
688,5/18/16,2754790,0.0,5/17/2016 6:28:00 PM,5/21/2016 3:00:00 AM,80.530000,i/i,diluted by heavy rainwater,salado creek,990827,...,NaN,0.00,17-May-16,True,NaN,rain event,"Capacity Project,",700 holbrook,False,16
695,5/16/16,1527175,0.0,5/16/2016 10:44:00 AM,5/17/2016 9:28:00 AM,22.730000,i/i,diluted by heavy rainwater,leon creek,1187,...,NaN,0.00,16-May-16,True,NaN,rain event,"Capacity Project,",108 chappie james way,True,20
696,5/16/16,1349550,0.0,5/16/2016 2:19:00 PM,5/20/2016 2:30:00 PM,96.180000,i/i,diluted by heavy rainwater,leon creek,903060,...,NaN,0.18,16-May-16,True,120.0,rain event,"I/I Inv,",6606 swiss oaks,False,24
697,5/15/16,751930,0.0,5/15/2016 1:37:00 PM,5/16/2016 3:00:00 AM,13.383333,i/i,diluted by heavy rainwater,salado creek,47822,...,NaN,0.52,15-May-16,True,24.0,rain event,"Capacity Project,",700 holbrook,True,16
704,5/11/16,508500,NaN,5/11/2016 1:30:00 PM,5/11/2016 11:59:00 PM,10.483333,i/i,diluted by heavy rainwater,leon creek,1187,...,NaN,1.50,11-May-16,True,NaN,rain event,"I/I Inv,",108 chappie james way,True,20
719,4/21/16,503100,NaN,4/21/2016 12:00:00 PM,4/21/2016 7:48:00 PM,7.800000,i/i,the area will be cleaned and disinfected after...,salado creek,922726,...,NaN,0.00,21-Apr-16,True,NaN,rain event,"I/I Inv,",700 holbrook,False,16
939,5/24/15,538600,0.0,5/24/2015 5:45:00 AM,5/24/2015 6:45:00 AM,1.000000,i/i,diluted by heavy rainwater,dos rios,DOS RIOS WWTP,...,NaN,0.00,24-May-15,True,NaN,rain event,Other,3495 valley rd,False,2
1055,1/3/15,972400,1.0,1/3/2015 6:56:00 AM,1/3/2015 8:00:00 AM,1.070000,structural,cleaned area,leon creek,86576,...,07-Jul-13,1.07,03-Jan-15,True,NaN,structural,"Design Request,",999 shadow mist,False,1
1408,5/25/13,1525000,NaN,5/25/2013 11:50:00 AM,5/26/2013 7:00:00 AM,19.166670,i/i,cleaned area,dos rios,458341,...,NaN,NaN,NaN,True,NaN,rain event,Other,1135 mission rd,True,5
1528,1/9/13,700000,NaN,1/9/2013 3:30:00 AM,1/9/2013 9:21:00 PM,18.900000,i/i,monitored area,leon creek,32018,...,NaN,NaN,NaN,True,NaN,rain event,Other,440 pinn rd,False,1
1787,3/19/12,582950,0.0,3/18/2012 6:16:00 PM,3/19/2012 8:00:00 PM,25.730000,break in main,repaired main,salado creek,43798,...,NaN,NaN,NaN,True,NaN,structural,NaN,6000 ih 10 e,True,3
2338,10/20/10,4442000,NaN,10/20/2010 9:00:00 AM,10/27/2010 11:00:00 AM,170.000000,break in main,repaired broken main,dos rios,13440,...,NaN,NaN,NaN,True,NaN,structural,NaN,8600 mission pkwy,False,6
2771,1/15/10,3570000,NaN,1/15/2010 2:00:00 AM,1/16/2010 3:00:00 AM,25.000000,i/i,added by pass,dos rios,16451,...,NaN,NaN,NaN,True,NaN,contractor,NaN,300 petaluma blvd e,False,2