# ENVIRONMENT

In [28]:
import os
import acquire
import pandas as pd

# data visualization 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import statsmodels.api as sm

from datetime import timedelta, datetime
from pylab import rcParams

# ACQUIRE

_Let's read in the data from the csv file and take a peek at te first five records._

In [29]:
df = acquire.read_data('saws-ssos.csv')

In [30]:
df.head()

,SSO_ID,INSPKEY,SERVNO,REPORTDATE,SPILL_ADDRESS,SPILL_ST_NAME,TOTAL_GAL,GALSRET,GAL,SPILL_START,...,Root_Cause,STEPS_TO_PREVENT,SPILL_START_2,SPILL_STOP_2,HRS_2,GAL_2,SPILL_START_3,SPILL_STOP_3,HRS_3,GAL_3
0,6582,567722.0,NaN,3/10/19,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,3/10/19,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,3/9/19,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,...,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,3/9/19,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,3/6/19,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0

# PREPARE

In [31]:
def missing_values_col(df):
    """
    This functions returns the total missing values and
    the percent missing values by column.
    """
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    return pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_count': nan_count, 'nan_percentage': nan_percentage})


def missing_values_row(df):
    """
    This functions returns the total missing values and
    the percent missing values by row.
    """
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})


def handle_missing_threshold(df, prop_required_column = .3, prop_required_row = .9):
    """
    This functions removes columns and rows whose
    count of missing values exceeds threshold.
    """
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df


def count_values(df):
    """
    This function counts the value of columns in a dataframe.
    """
    for col in df.columns:
        n = df[col].unique().shape[0]
        col_bins = min(n, 10)
        print(f"{col}:")
        if df[col].dtype in ['int64', 'float64'] and n > 10:
            print(df[col].value_counts(bins=col_bins, sort=False))
        else:
            print(df[col].value_counts())
        print("\n")

def remove_columns(df, columns):
    return df.drop(columns=columns)

def fill_with_zeroes(df, *cols):
    """
    This functions returns the column names as input and
    return the dataframe with the
    null values in those columns replace by 0.
    """
    for col in cols:
        df[col] = df[col].fillna(0)
    return df


def fill_with_median(df, *cols):
    """
    This function fills the NaN values with
    respective median values.
    """
    for col in cols:
        df[col] = df[col].fillna(df[col].median())
    return df


def fill_with_none(df, *cols):
    """
    This function fills the NaN values with
    'None' string value.
    """
    for col in cols:
        df[col] = df[col].fillna('None')
    return df

def fill_with_unknown(df, *cols):
    """
    This functions fills the NaN values with
    'Unknown' string value.
    """
    for col in cols:
        df[col] = df[col].fillna('Unknown')
    return df

_Let's convert the column to lowercase to make them easier to work with._

In [32]:
df.columns = map(str.lower, df.columns)
df.head()

,sso_id,inspkey,servno,reportdate,spill_address,spill_st_name,total_gal,galsret,gal,spill_start,...,root_cause,steps_to_prevent,spill_start_2,spill_stop_2,hrs_2,gal_2,spill_start_3,spill_stop_3,hrs_3,gal_3
0,6582,567722.0,NaN,3/10/19,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,3/10/19,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,3/9/19,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,...,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,3/9/19,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,3/6/19,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,...,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0

_Let's take a look at the missing values._

In [33]:
missing_values_col(df)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
sso_id,0,0.000000,0,0.000000,0,0.0
inspkey,797,25.039271,0,0.000000,0,0.0
servno,2715,85.296890,0,0.000000,0,0.0
reportdate,0,0.000000,0,0.000000,0,0.0
spill_address,0,0.000000,0,0.000000,0,0.0
spill_st_name,0,0.000000,0,0.000000,0,0.0
total_gal,0,0.000000,0,0.000000,0,0.0
galsret,475,14.923029,0,0.000000,0,0.0
gal,0,0.000000,0,0.000000,0,0.0
spill_start,0,0.000000,0,0.000000,0,0.0
spill_stop,0,0.000000,0,0.000000,0,0.0
hrs,3,0.094251,0,0.000000,0,0.0
cause,0,0.000000,0,0.000000,0,0.0
comments,533,16.745209,0,0.000000,0,0.0
actions,8,0.251335,0,0.000000,0,0.0
watershed,0,0.000000,0,0.000000,0,0.0
unitid,4,0.125668,0,0.000000,0,0.0
unitid2,244,7.665724,0,0.000000,0,0.0
discharge_to,4,0.125668,0,0.000000,0,0.0
discharge_route,827,25.981778,0,0.000000,0,0.0
council_district,322,10.116243,0,0.000000,0,0.0
ferguson,30,0.942507,0,0.000000,0,0.0
month,0,0.000000,0,0.000000,0,0.0
year,0,0.000000,0,0.000000,0,0.0
week,0,0.000000,0,0.000000,0,0.0
earz_zone,1318,41.407477,0,0.000000,0,0.0
expr1029,7,0.219918,0,0.000000,0,0.0
pipediam,190,5.969211,0,0.000000,0,0.0
pipelen,190,5.969211,0,0.000000,0,0.0
pipetype,190,5.969211,47,1.476594,0,0.0
instyear,118,3.707194,0,0.000000,0,0.0
dwndpth,3183,100.000000,0,0.000000,0,0.0
upsdpth,3183,100.000000,0,0.000000,0,0.0
inches_no,487,15.300031,0,0.000000,0,0.0
rainfall_less3,542,17.027961,0,0.000000,0,0.0
spill address,43,1.350927,0,0.000000,0,0.0
sewerassetexp,3026,95.067546,0,0.000000,0,0.0
num_spills_compkey,0,0.000000,0,0.000000,0,0.0
num_spills_24mos,1677,52.686145,0,0.000000,0,0.0
prevspill_24mos,2582,81.118442,0,0.000000,0,0.0
unittype,17,0.534087,9,0.282752,0,0.0
assettype,2,0.062834,0,0.000000,0,0.0
lastclnd,2082,65.409991,0,0.000000,0,0.0
responsetime,1934,60.760289,0,0.000000,0,0.0
responsedttm,1934,60.760289,0,0.000000,0,0.0
public notice,0,0.000000,0,0.000000,0,0.0
timeint,2393,75.180647,0,0.000000,0,0.0
root_cause,7,0.219918,0,0.000000,0,0.0
steps_to_prevent,1737,54.571159,0,0.000000,0,0.0
spill_start_2,3097,97.298146,0,0.000000,0,0.0
spill_stop_2,3097,97.298146,0,0.000000,0,0.0
hrs_2,1874,58.875275,0,0.000000,0,0.0
gal_2,1873,58.843858,0,0.000000,0,0.0
spill_start_3,3169,99.560163,0,0.000000,0,0.0
spill_stop_3,3169,99.560163,0,0.000000,0,0.0
hrs_3,1878,59.000943,0,0.000000,0,0.0
gal_3,1878,59.000943,0,0.000000,0,0.0

_Let's look at a few of the rows._

In [34]:
df.head(7).T

,0,1,2,3,4,5,6
sso_id,6582,6583,6581,6584,6580,6579,6577
inspkey,567722,567723,567714,567713,567432,567274,567046
servno,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reportdate,3/10/19,3/10/19,3/9/19,3/9/19,3/6/19,3/5/19,3/2/19
spill_address,3200,6804,215,3602,100,3200,9910
spill_st_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR,PANSY LN,S HACKBERRY ST,SUGARLOAF DR
total_gal,2100,80,79,83,75,250,73
galsret,2100,0,0,0,0,0,0
gal,2100,80,10,83,75,250,73
spill_start,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM,3/6/2019 9:40:00 AM,3/5/2019 2:22:00 PM,3/2/2019 1:42:00 PM
spill_stop,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM,3/6/2019 9:55:00 AM,3/5/2019 2:32:00 PM,3/2/2019 2:55:00 PM
hrs,1.4,1.33333,1.5,1.38333,0.25,0.166667,1.21667
cause,Grease,Grease,Structural,Grease,Structural,Grease,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK,SALADO CREEK,DOS RIOS,MEDIO CREEK
unitid,66918,24250,2822,92804,61141,38907,85120
unitid2,66917,24193,3351,92805,49543,26117,85363
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT,STREET,STREET,DRAINAGE CULVERT
discharge_route,None,None,None,None,None,None,None
council_district,NaN,3,1,3,2,3,4
ferguson,172A2,251A3,190E4,252C3,192A7,231C6,207A6
month,3,3,3,3,3,3,3
year,2019,2019,2019,2019,2019,2019,2019
week,11,11,10,10,10,10,9
earz_zone,0,0,0,0,0,0,0
expr1029,NaN,NaN,NaN,NaN,NaN,NaN,GREASE
pipediam,8,8,8,8,12,8,8
pipelen,16.55,157,350,213.91,291.9,315,264.47
pipetype,PVC,PVC,CP,PVC,CP,RL,PVC
instyear,1997,1988,1955,1983,1952,1992,1985
dwndpth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
upsdpth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainfall_less3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill address,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR,100 PANSY LN,3200 S Hackberry St,9910 Sugarloaf Dr
sewerassetexp,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1,2,2,1
num_spills_24mos,1,1,1,1,2,2,1
prevspill_24mos,NaN,NaN,NaN,NaN,15-Dec-18,11-Apr-17,NaN
unittype,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY
assettype,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main
lastclnd,NaN,NaN,NaN,NaN,NaN,NaN,NaN
responsetime,0.45,1.08,1.00,0.55,0.00,0.00,0.73
responsedttm,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19,06-Mar-19,05-Mar-19,02-Mar-19
public notice,False,False,False,False,False,False,False
timeint,24,120,24,120,3,12,120
root_cause,NaN,NaN,NaN,NaN,NaN,NaN,GREASE
steps_to_prevent,NaN,NaN,NaN,NaN,NaN,NaN,"Increase FCS,"
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN,NaN,NaN,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN,NaN,NaN,NaN
hrs_2,0,0,1.15,0,0,0,0
gal_2,0,0,69,0,0,0,0
spill_start_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hrs_3,0,0,0,0,0,0,0
gal_3,0,0,0,0,0,0,0

_Now let's take a peek into the value counts of the columns._

In [35]:
count_values(df)

sso_id:
(-5.5840000000000005, 659.3]    310
(659.3, 1317.6]                  38
(1317.6, 1975.9]                326
(1975.9, 2634.2]                644
(2634.2, 3292.5]                587
(3292.5, 3950.8]                464
(3950.8, 4609.1]                  0
(4609.1, 5267.4]                  6
(5267.4, 5925.7]                157
(5925.7, 6584.0]                651
Name: sso_id, dtype: int64


inspkey:
(3724.564, 60631.5]     541
(60631.5, 116975.0]     372
(116975.0, 173318.5]    392
(173318.5, 229662.0]    246
(229662.0, 286005.5]    134
(286005.5, 342349.0]    174
(342349.0, 398692.5]    118
(398692.5, 455036.0]    125
(455036.0, 511379.5]    151
(511379.5, 567723.0]    133
Name: inspkey, dtype: int64


servno:
(274101.378, 515352.1]     18
(515352.1, 754214.2]       14
(754214.2, 993076.3]       72
(993076.3, 1231938.4]      38
(1231938.4, 1470800.5]    101
(1470800.5, 1709662.6]     62
(1709662.6, 1948524.7]     20
(1948524.7, 2187386.8]     17
(2187386.8, 2426248.9]     31
(2426248.9, 2665111.0]     95
Name: servno, dtype: int64


reportdate:
5/25/13     27
5/19/16     23
9/26/16     22
6/2/16      20
2/3/10      17
9/8/10      16
12/3/16     15
8/7/17      13
10/24/15    10
3/28/18     10
9/7/10       9
1/15/10      8
5/16/16      8
9/9/18       8
4/17/10      8
5/23/15      8
4/25/15      8
3/20/12      7
2/4/10       7
2/20/17      7
5/24/15      7
5/17/15      7
6/14/15      7
9/16/18      7
6/25/14      7
1/16/10      6
7/9/18       6
4/18/16      6
9/22/18      6
3/4/10       6
            ..
5/24/13      1
12/30/17     1
1/23/17      1
5/20/11      1
1/15/15      1
1/16/09      1
3/8/10       1
4/17/13      1
3/28/10      1
11/14/12     1
11/2/16      1
5/10/17      1
4/30/15      1
3/23/12      1
11/26/18     1
8/12/10      1
12/6/14      1
7/14/14      1
8/16/09      1
10/8/10      1
11/28/11     1
1/10/10      1
10/10/15     1
4/7/16       1
2/2/09       1
11/8/10      1
12/31/17     1
9/23/11      1
10/5/11      1
6/14/17      1
Name: reportdate, Length: 1878, dtype: int64


spill_address:
(-29.622, 2962.1]     1693
(2962.1, 5924.2]       551
(5924.2, 8886.3]       476
(8886.3, 11848.4]      243
(11848.4, 14810.5]     128
(14810.5, 17772.6]      31
(17772.6, 20734.7]      13
(20734.7, 23696.8]      32
(23696.8, 26658.9]      12
(26658.9, 29621.0]       4
Name: spill_address, dtype: int64


spill_st_name:
HOLBROOK                42
CAGNON RD               27
CHAPPIE JAMES WAY       25
SWISS OAKS              24
AUSTIN HWY              23
IH 10 W                 23
NACOGDOCHES RD          21
CULEBRA RD              20
THOUSAND OAKS           20
DONALDSON AVE           18
BANDERA RD              17
ENTRANCE RD NE          17
HARRY WURZBACH          17
LOOP 410 NW             17
PLEASANTON RD           16
MISSION RD              15
JONES MALTSBERGER RD    15
AVONDALE AVE            15
WURZBACH RD             15
YOLANDA                 14
MARBACH RD              14
FLORES ST S             14
COMMERCE ST W           13
PIEDMONT AVE            13
NEER AVE                13
US HWY 281 N            12
BLANCO RD               12
MILITARY DR W           11
US HWY 90 W             11
VANCE JACKSON           11
                        ..
CAMINO REAL              1
SHADY RILL               1
WALKING GAIT DR          1
OAKLAWN                  1
VALLEY HI DRIVE          1
ESSEX ST                 1
FREEMAN DR               1
MORDRED RD               1
RAINTREE FOREST          1
FM 1560 N                1
FAIRS GATE               1
STORY LN                 1
SADDLEWOOD               1
SWITCHGRASS              1
WYANOKE                  1
JUNG RD                  1
SERVICE CENTER DR        1
ALAMOSA                  1
BAILEY FOREST            1
FLINTSTONE CT            1
TIMBERBRIAR              1
FORDHAM                  1
BUFFALO ST               1
WIND TALKER              1
BARCLAY                  1
ELM RDG                  1
LOOP 1604 W S            1
BERMAN RD                1
ROSITA                   1
MARE COUNTRY             1
Name: spill_st_name, Length: 1509, dtype: int64


total_gal:
(-13303.550000000001, 1330455.9]    3169
(1330455.9, 2660910.8]                 9
(2660910.8, 3991365.7]                 2
(3991365.7, 5321820.6]                 1
(5321820.6, 6652275.5]                 1
(6652275.5, 7982730.4]                 0
(7982730.4, 9313185.3]                 0
(9313185.3, 10643640.2]                0
(10643640.2, 11974095.1]               0
(11974095.1, 13304550.0]               1
Name: total_gal, dtype: int64


galsret:
(-2385.1510000000003, 238515.0]    2698
(238515.0, 477030.0]                  5
(477030.0, 715545.0]                  3
(715545.0, 954060.0]                  0
(954060.0, 1192575.0]                 0
(1192575.0, 1431090.0]                1
(1431090.0, 1669605.0]                0
(1669605.0, 1908120.0]                0
(1908120.0, 2146635.0]                0
(2146635.0, 2385150.0]                1
Name: galsret, dtype: int64


gal:
(-13303.550000000001, 1330455.9]    3175
(1330455.9, 2660910.8]                 3
(2660910.8, 3991365.7]                 2
(3991365.7, 5321820.6]                 1
(5321820.6, 6652275.5]                 1
(6652275.5, 7982730.4]                 0
(7982730.4, 9313185.3]                 0
(9313185.3, 10643640.2]                0
(10643640.2, 11974095.1]               0
(11974095.1, 13304550.0]               1
Name: gal, dtype: int64


spill_start:
3/25/2010 9:30:00 AM     2
2/25/2010 3:00:00 PM     2
5/11/2009 3:00:00 PM     2
6/28/2010 11:00:00 AM    2
6/2/2016 6:30:00 AM      2
5/25/2013 1:00:00 PM     2
9/22/2010 1:30:00 PM     2
2/3/2010 3:00:00 PM      2
5/25/2013 7:00:00 AM     2
9/8/2010 6:58:00 AM      2
4/17/2010 11:30:00 AM    2
4/10/2010 1:00:00 PM     2
2/3/2010 10:00:00 AM     2
5/19/2016 11:00:00 AM    2
5/16/2010 9:00:00 PM     2
8/7/2017 9:30:00 AM      2
9/10/2018 4:20:00 PM     2
6/2/2016 5:15:00 AM      2
5/25/2013 12:00:00 PM    2
4/29/2010 9:00:00 PM     2
2/1/2012 1:30:00 PM      2
7/9/2018 3:00:00 PM      2
7/17/2009 7:55:00 PM     2
7/1/2011 12:30:00 PM     2
9/26/2016 8:00:00 AM     2
2/20/2009 2:30:00 PM     2
8/7/2017 1:30:00 PM      2
9/8/2010 11:00:00 AM     2
2/13/2011 11:30:00 AM    2
9/8/2010 4:00:00 AM      2
                        ..
8/1/2018 7:12:00 AM      1
5/19/2016 2:30:00 PM     1
10/2/2014 7:07:00 PM     1
1/12/2011 2:30:00 PM     1
7/2/2015 9:30:00 AM      1
5/13/2014 1:25:00 AM     1
4/25/2017 4:08:00 PM     1
1/23/2009 11:30:00 AM    1
1/15/2010 6:00:00 AM     1
9/20/2016 6:49:00 PM     1
1/29/2017 9:57:00 PM     1
2/7/2010 10:30:00 AM     1
2/2/2009 9:00:00 AM      1
5/24/2017 5:40:00 PM     1
6/22/2015 5:42:00 PM     1
6/16/2013 6:59:00 PM     1
10/24/2015 2:15:00 PM    1
2/16/2009 6:15:00 PM     1
11/19/2009 7:30:00 AM    1
3/3/2009 4:00:00 PM      1
1/13/2009 1:00:00 PM     1
7/20/2012 3:28:00 PM     1
6/27/2011 11:00:00 AM    1
7/26/2013 9:31:00 AM     1
6/30/2015 1:40:00 PM     1
5/28/2014 5:21:00 PM     1
7/13/2010 4:00:00 PM     1
2/10/2009 10:45:00 AM    1
7/26/2012 1:38:00 PM     1
2/15/2010 12:30:00 PM    1
Name: spill_start, Length: 3152, dtype: int64


spill_stop:
9/26/2016 11:00:00 AM     4
5/25/2013 3:30:00 PM      4
9/26/2016 3:45:00 PM      3
5/24/2015 2:45:00 AM      3
9/8/2010 11:30:00 AM      3
1/27/2010 11:00:00 AM     2
9/26/2016 5:00:00 PM      2
1/24/2011 5:00:00 PM      2
7/30/2009 3:30:00 PM      2
1/26/2010 10:00:00 PM     2
6/6/2010 8:00:00 PM       2
9/8/2010 5:30:00 AM       2
5/19/2016 3:15:00 PM      2
12/4/2016 12:01:00 AM     2
2/20/2017 8:30:00 AM      2
9/26/2016 1:00:00 PM      2
5/25/2013 12:30:00 PM     2
3/21/2012 11:15:00 AM     2
1/16/2010 1:00:00 PM      2
4/24/2015 4:00:00 PM      2
4/22/2016 11:00:00 PM     2
12/1/2010 10:30:00 PM     2
10/30/2011 1:45:00 PM     2
9/26/2016 10:30:00 AM     2
2/14/2011 1:30:00 PM      2
7/11/2012 12:15:00 PM     2
5/11/2016 8:00:00 AM      2
1/13/2011 9:00:00 AM      2
10/25/2011 11:00:00 AM    2
5/26/2010 10:00:00 PM     2
                         ..
4/4/2009 1:15:00 PM       1
1/15/2010 5:15:00 PM      1
3/25/2009 3:00:00 PM      1
1/25/2012 2:18:00 PM      1
4/20/2012 10:00:00 AM     1
6/21/2016 9:35:00 PM      1
5/16/2014 9:30:00 PM      1
3/7/2018 1:00:00 PM       1
8/8/2017 8:10:00 AM       1
3/27/2017 12:15:00 PM     1
4/7/2009 9:30:00 PM       1
1/11/2012 5:30:00 PM      1
6/14/2010 2:30:00 PM      1
9/9/2018 10:50:00 AM      1
1/6/2011 1:45:00 PM       1
8/27/2012 9:00:00 AM      1
7/26/2011 9:30:00 PM      1
9/20/2016 11:16:00 AM     1
8/14/2018 5:00:00 PM      1
3/11/2011 10:00:00 AM     1
1/19/2010 4:00:00 PM      1
1/21/2014 6:18:00 PM      1
5/12/2010 9:00:00 PM      1
2/4/2019 9:30:00 PM       1
4/16/2011 8:00:00 PM      1
12/3/2016 9:30:00 PM      1
9/16/2010 3:30:00 PM      1
1/22/2011 7:30:00 PM      1
11/6/2013 6:00:00 PM      1
2/15/2010 12:30:00 PM     1
Name: spill_stop, Length: 3133, dtype: int64


hrs:
(-1.797, 179.6]     3176
(179.6, 359.2]         1
(359.2, 538.8]         0
(538.8, 718.4]         1
(718.4, 898.0]         1
(898.0, 1077.6]        0
(1077.6, 1257.2]       0
(1257.2, 1436.8]       0
(1436.8, 1616.4]       0
(1616.4, 1796.0]       1
Name: hrs, dtype: int64


cause:
Grease                                                  956
Debris                                                  479
I/I                                                     465
Debris/Rock                                             254
Structural                                              244
Rags                                                    236
Break In Main                                           164
Contractor                                               91
Break in Main                                            68
Lift Station                                             42
Vandalism                                                38
Lift Station Power Out                                   29
Other                                                    29
Roots                                                    28
Lift Station Pump Out                                    21
Equipment Failure                                         5
Other - Capacity                                          5
Plug In Main                                              4
Break In By-Pass Line                                     3
By-pass Pump Failure                                      3
Human Error                                               2
By-Pass Equip Failure                                     2
Other - Cleanout Cap Broken By Vehicular Traffic          1
Contractor - Contractor Damaged 8 inch Force Main         1
Broken ARV                                                1
By-Pass Pump Failure                                      1
Other - Cause To Be Determined                            1
Other - Obstruction In Main                               1
Under Investigation                                       1
Structural - Broken Force Main                            1
Other - Mechanical                                        1
Other - Gate Valve                                        1
Lateral Repair                                            1
Lift Station - Due To Power Failure And I/I               1
Structural - Spilled From Broken Lateral                  1
Other - Spill Was Caused By A Surcharging Sewer Main      1
Protruding Lateral                                        1
Name: cause, dtype: int64


comments:
 APPLIED  HTH                                                                                                          518
APPLIED HTH                                                                                                            513
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                                      391
Area cleaned and disinfected                                                                                           112
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                    106
CLEANED MAIN                                                                                                            84
REPAIRED MAIN - HTH                                                                                                     80
 APPLIED  HTH, REPAIRED MAIN                                                                                            64
Spill ContainedArea Cleaned and Disinfected                                                                             54
Area Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main,                                                      49
AREA CLEANED AND DISINFECTED                                                                                            49
Area Cleaned and Disinfected                                                                                            46
REPAIRED MAIN                                                                                                           28
Spill ContainedReturned to SystemArea Cleaned and Disinfected                                                           24
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O,                                                       22
MONITORED AREA - HTH                                                                                                    21
Spill Contained                                                                                                         21
MONITORED AREA                                                                                                          20
CLEANED AREA                                                                                                            19
Spill ContainedReturned to System                                                                                       13
 AREA CLEANED AND DISINFECTED                                                                                           11
Diluted by heavy rain water                                                                                             10
Spill ContainedFlushed Area with H2O, Unstopped Main,                                                                    8
SPILL CONTAINED                                                                                                          6
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,       6
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main, Unstopped Main,                         6
Spill ContainedArea Cleaned and DisinfectedFlushed Area with H2O, Repaired Main,                                         5
 AREA CLEANED AND DISINFECTED, REPAIRED MAIN                                                                             4
DILUTED BY HEAVY RAIN WATER                                                                                              4
APPLIED  HTH                                                                                                             4
                                                                                                                      ...
MONITORED AREA - HTH LS 192                                                                                              1
RESTORED POWER TO L/S 209 - HTH                                                                                          1
Motor was removed and a second pump was installed. L/S # 121                                                             1
RESTORED POWER TO L/S 199 - HTH                                                                                          1
Spill Contained, Area Cleaned and Disinfected, Flushed Area with H2O,                                                    1
REPAIRED MAIN/APPLIED HTH                                                                                                1
RE-DIRECTED BY-PASS TUBING                                                                                               1
CPS RESTORED POWER TO L/S 205                                                                                            1
PUT A BY-PASS PUMP - REPAIRED MAIN                                                                                       1
Replaced Pump #6. L/S# 11 - Area Cleaned and Disinfected                                                                 1
2nd start Time:6/6/12 7:15 to 6/6/12 15:45-Spilled into Huebner Crk - Large rocks                                        1
REVISED BY-PASS PUMP PROCEDURES                                                                                          1
REPLACE PIPE                                                                                                             1
APPLIED HTH AND REPAIRED MAIN                                                                                            1
 APPLIED  HTH-BUILT DAM                                                                                                  1
REPAIRED PIPE ON HEADER AT L/S #187                                                                                      1
REPAIRED LATERAL                                                                                                         1
HTH - REPLACED 22' OF 15' PIPE                                                                                           1
Repaired main, 10" sewer main                                                                                            1
Lift station 192 overflow due to heavy rain                                                                              1
Area Cleaned and Disinfected/Repaired main                                                                               1
REPLACED TRANSFORMER AT L/S 187                                                                                          1
AREA CLEANED                                                                                                             1
PUMP MALFUNCTIONED AT @ LIFT STATION # 200                                                                               1
Spill ContainedReturned to SystemArea Cleaned and DisinfectedFlushed Area with H2O, Unstopped Main                       1
Area Cleaned and Disinfected/ Lateral to be replaced.                                                                    1
RESTORED POWER L/S #201 HTH                                                                                              1
REPLACED PUMPS AT LS 188                                                                                                 1
FIXED ELECTRICAL CONNECTION LS 201                                                                                       1
SPILL CAUSED BY BROKEN SEWER LATERAL                                                                                     1
Name: comments, Length: 331, dtype: int64


actions:
CLEANED MAIN                                                                                  1927
REPAIRED MAIN                                                                                  307
DILUTED BY HEAVY RAIN WATER                                                                    116
MONITORED AREA                                                                                  93
APPLIED HTH                                                                                     71
DILUTED BY HEAVY RAINWATER                                                                      66
CLEANED AREA                                                                                    52
REPAIRED LATERAL                                                                                41
CLEANED LATERAL                                                                                 37
RESTORED POWER                                                                                  32

120.0    321
12.0     169
24.0     165
6.0       63
3.0       37
60.0      23
1.0       12
Name: timeint, dtype: int64


root_cause:
STRUCTURAL           1237
GREASE                610
DEBRIS                443
RAIN EVENT            353
CONTRACTOR            164
LIFT STATION          125
OTHER                  61
RAIN EVENT             48
VANDALISM              48
VANDALISM              24
ROOTS                  22
LIFT STATION           15
I/I                    12
CONTRACTOR              8
BY PASS PUMP LEAK       3
OTHER                   1
Grease                  1
Debris                  1
Name: root_cause, dtype: int64


steps_to_prevent:
Increase FCS,         470
Point Repair,         280
Design Request,       201
Other                 195
I/I Inv,              144
Capacity Project,     114
Bolt down,             24
ED/COM,                11
RPC,                    7
Name: steps_to_prevent, dtype: int64


spill_start_2:
06/02/2016 20:00    2
06/02/2018 09:18    1
06/02/2016 23:41    1
05/31/2015 16:00    1
03/28/2018 21:45    1
08/26/2016 09:40    1
04/25/2015 15:24    1
01/17/2016 13:52    1
09/05/2018 11:45    1
12/06/2015 16:45    1
03/05/2017 16:05    1
05/16/2016 13:30    1
09/23/2018 14:42    1
04/25/2017 10:45    1
11/30/2018 11:35    1
10/24/2015 09:35    1
08/01/2018 09:43    1
06/02/2016 08:40    1
04/07/2018 09:17    1
04/26/2016 19:19    1
09/30/2012 13:00    1
06/03/2016 19:26    1
12/08/2018 17:45    1
01/10/2016 13:20    1
02/23/2018 12:37    1
09/23/2018 10:51    1
01/03/2016 12:45    1
12/05/2016 09:30    1
06/06/2012 07:15    1
03/10/2019 09:36    1
                   ..
10/24/2018 17:10    1
06/01/2016 14:30    1
12/24/2015 16:30    1
12/04/2016 14:00    1
09/16/2018 08:03    1
05/19/2015 08:30    1
05/26/2013 11:45    1
05/15/2012 09:35    1
02/18/2018 11:10    1
05/19/2016 11:21    1
12/27/2015 17:57    1
04/25/2015 12:10    1
10/31/2015 07:45    1
03/28/2018 10:00    1
10/11/2018 15:08    1
03/20/2012 09:00    1
12/11/2018 09:45    1
10/21/2018 14:15    1
01/24/2016 13:37    1
08/28/2012 07:30    1
11/07/2014 08:30    1
12/07/2018 21:00    1
06/03/2016 14:05    1
01/31/2016 22:45    1
03/28/2018 18:28    1
09/26/2016 22:15    1
03/25/2014 16:15    1
01/04/2016 10:05    1
05/18/2016 06:55    1
11/28/2015 14:45    1
Name: spill_start_2, Length: 85, dtype: int64


spill_stop_2:
01/24/2016 16:30    1
10/22/2018 03:00    1
09/17/2018 04:00    1
06/03/2016 01:30    1
01/18/2017 14:25    1
03/29/2018 03:00    1
10/12/2018 05:00    1
05/26/2013 18:00    1
04/25/2015 11:41    1
06/03/2016 14:10    1
08/26/2016 10:30    1
03/10/2019 10:45    1
11/30/2015 01:40    1
05/19/2016 18:45    1
02/23/2018 21:40    1
10/16/2018 03:00    1
10/17/2018 08:50    1
04/25/2017 15:00    1
07/24/2018 14:30    1
11/21/2014 19:30    1
11/01/2015 00:42    1
01/31/2016 23:56    1
11/28/2015 21:30    1
01/11/2016 00:32    1
03/25/2014 17:50    1
05/12/2016 07:15    1
09/24/2018 05:00    1
06/04/2016 00:00    1
06/01/2016 07:20    1
05/16/2016 12:00    1
                   ..
12/20/2015 16:45    1
06/03/2016 11:23    1
06/02/2016 15:45    1
06/07/2013 18:30    1
09/23/2018 22:57    1
10/29/2018 03:30    1
08/01/2018 10:05    1
12/24/2015 20:00    1
03/29/2018 02:45    1
10/25/2018 05:20    1
05/16/2016 14:40    1
05/15/2012 10:15    1
06/06/2016 12:30    1
06/03/2016 04:22    1
12/27/2015 18:30    1
04/26/2016 20:10    1
12/09/2018 03:30    1
10/24/2015 12:15    1
09/16/2018 20:00    1
09/06/2018 04:20    1
12/06/2016 08:05    1
06/02/2016 23:30    1
11/07/2014 10:05    1
12/06/2015 17:00    1
12/06/2016 03:40    1
11/09/2016 13:00    1
05/20/2016 14:30    1
03/28/2018 15:30    1
01/17/2016 16:26    1
09/21/2018 21:45    1
Name: spill_stop_2, Length: 86, dtype: int64


hrs_2:
(-0.119, 11.8]    1291
(11.8, 23.6]        15
(23.6, 35.4]         0
(35.4, 47.2]         1
(47.2, 59.0]         1
(59.0, 70.8]         0
(70.8, 82.6]         0
(82.6, 94.4]         0
(94.4, 106.2]        0
(106.2, 118.0]       1
Name: hrs_2, dtype: int64


gal_2:
(-2377.351, 237735.0]     1300
(237735.0, 475470.0]         5
(475470.0, 713205.0]         1
(713205.0, 950940.0]         0
(950940.0, 1188675.0]        1
(1188675.0, 1426410.0]       2
(1426410.0, 1664145.0]       0
(1664145.0, 1901880.0]       0
(1901880.0, 2139615.0]       0
(2139615.0, 2377350.0]       1
Name: gal_2, dtype: int64


spill_start_3:
12/06/2016 15:28    1
10/12/2018 08:00    1
01/24/2016 22:10    1
01/04/2016 16:55    1
06/02/2016 12:00    1
09/27/2016 13:30    1
12/09/2018 14:09    1
11/22/2014 22:05    1
06/10/2013 11:30    1
10/29/2018 21:20    1
06/03/2016 16:00    1
03/21/2012 08:40    1
12/28/2015 14:47    1
10/25/2018 11:59    1
Name: spill_start_3, dtype: int64


spill_stop_3:
12/10/2018 05:00    1
06/03/2016 20:00    1
10/30/2018 02:50    1
10/25/2018 17:30    1
06/02/2016 12:05    1
12/07/2016 07:00    1
11/23/2014 03:05    1
12/28/2015 15:25    1
01/24/2016 23:38    1
01/04/2016 19:00    1
03/21/2012 11:15    1
06/10/2013 13:00    1
10/12/2018 12:02    1
09/27/2016 15:00    1
Name: spill_stop_3, dtype: int64


hrs_3:
(-0.0165, 1.553]    1295
(1.553, 3.106]         2
(3.106, 4.659]         2
(4.659, 6.212]         3
(6.212, 7.765]         1
(7.765, 9.318]         0
(9.318, 10.871]        0
(10.871, 12.424]       0
(12.424, 13.977]       0
(13.977, 15.53]        2
Name: hrs_3, dtype: int64


gal_3:
(-255.30100000000002, 25530.0]    1300
(25530.0, 51060.0]                   3
(51060.0, 76590.0]                   1
(76590.0, 102120.0]                  0
(102120.0, 127650.0]                 0
(127650.0, 153180.0]                 0
(153180.0, 178710.0]                 0
(178710.0, 204240.0]                 0
(204240.0, 229770.0]                 0
(229770.0, 255300.0]                 1
Name: gal_3, dtype: int64

_Let's rename the columns for clarity._

In [36]:
df = df.rename(index=str, columns={'inspkey':'inspection_key',
                                   'servno':'service_number',
                                   'reportdate':'report_date',
                                   'spill_st_name':'spill_street_name',
                                   'total_gal':'total_gallons',
                                   'galsret':'gallons_returned',
                                   'gal':'gallons_1',
                                   'spill_start':'spill_start_1',
                                   'spill_stop':'spill_stop_1',
                                   'hrs':'hours_1',
                                   'unitid':'unit_id_1',
                                   'unitid2':'unit_id_2',
                                   'earz_zone':'edwards_zone',
                                   'expr1029':'expr_1029',
                                   'pipediam':'pipe_diameter',
                                   'pipelen':'pipe_length',
                                   'pipetype':'pipe_type',
                                   'instyear':'installation_year',
                                   'dwndpth':'downstream_depth',
                                   'upsdpth':'upstream_depth',
                                   'rainfall_less3':'rainfall_less_3',
                                   'spill address': 'spill_address_full',
                                   'sewerassetexp':'sewer_asset_exp',
                                   'prevspill_24mos':'previous_spill_24mos',
                                   'unittype':'unit_type',
                                   'assettype':'asset_type',
                                   'lastclnd':'last_cleaned',
                                   'responsetime':'response_time',
                                   'responsedttm':'response_datetime',
                                   'public notice':'public_notice',
                                   'timeint':'time_int',
                                   'hrs_2':'hours_2',
                                   'gal_2':'gallons_2',
                                   'hrs_3':'hours_3',
                                   'gal_3':'gallons_3'
                                   })

In [37]:
df.head(4).T

,0,1,2,3
sso_id,6582,6583,6581,6584
inspection_key,567722,567723,567714,567713
service_number,NaN,NaN,NaN,NaN
report_date,3/10/19,3/10/19,3/9/19,3/9/19
spill_address,3200,6804,215,3602
spill_street_name,THOUSAND OAKS DR,S FLORES ST,AUDREY ALENE DR,SE MILITARY DR
total_gallons,2100,80,79,83
gallons_returned,2100,0,0,0
gallons_1,2100,80,10,83
spill_start_1,3/10/2019 1:16:00 PM,3/10/2019 2:25:00 PM,3/9/2019 6:00:00 PM,3/9/2019 3:37:00 PM
spill_stop_1,3/10/2019 2:40:00 PM,3/10/2019 3:45:00 PM,3/9/2019 7:30:00 PM,3/9/2019 5:00:00 PM
hours_1,1.4,1.33333,1.5,1.38333
cause,Grease,Grease,Structural,Grease
comments,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedArea Cleaned and Disinfected,Spill ContainedArea Cleaned and DisinfectedFlu...,Spill ContainedArea Cleaned and DisinfectedFlu...
actions,CLEANED MAIN,CLEANED MAIN,CLEANED MAIN,NaN
watershed,SALADO CREEK,DOS RIOS,DOS RIOS,SALADO CREEK
unit_id_1,66918,24250,2822,92804
unit_id_2,66917,24193,3351,92805
discharge_to,STREET,STORMDRAIN,ALLEY,EASEMENT
discharge_route,None,None,None,None
council_district,NaN,3,1,3
ferguson,172A2,251A3,190E4,252C3
month,3,3,3,3
year,2019,2019,2019,2019
week,11,11,10,10
edwards_zone,0,0,0,0
expr_1029,NaN,NaN,NaN,NaN
pipe_diameter,8,8,8,8
pipe_length,16.55,157,350,213.91
pipe_type,PVC,PVC,CP,PVC
installation_year,1997,1988,1955,1983
downstream_depth,NaN,NaN,NaN,NaN
upstream_depth,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN
rainfall_less_3,NaN,NaN,NaN,NaN
spill_address_full,3200 THOUSAND OAKS DR,6804 S FLORES,215 Audrey Alene Dr,3602 SE MILITARY DR
sewer_asset_exp,NaN,NaN,NaN,NaN
num_spills_compkey,1,1,1,1
num_spills_24mos,1,1,1,1
previous_spill_24mos,NaN,NaN,NaN,NaN
unit_type,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN
response_time,0.45,1.08,1.00,0.55
response_datetime,10-Mar-19,10-Mar-19,09-Mar-19,09-Mar-19
public_notice,False,False,False,False
time_int,24,120,24,120
root_cause,NaN,NaN,NaN,NaN
steps_to_prevent,NaN,NaN,NaN,NaN
spill_start_2,NaN,NaN,03/10/2019 09:36,NaN
spill_stop_2,NaN,NaN,03/10/2019 10:45,NaN
hours_2,0,0,1.15,0
gallons_2,0,0,69,0
spill_start_3,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN
hours_3,0,0,0,0
gallons_3,0,0,0,0

### Looking for the repeat offenders...

In [38]:
df.num_spills_24mos[df.num_spills_24mos > 1].value_counts()

2.0     180
3.0      75
4.0      32
5.0      27
6.0      19
7.0      12
8.0       7
9.0       5
10.0      1
11.0      1
12.0      1
13.0      1
Name: num_spills_24mos, dtype: int64

### Location of the most frequent SSOs

In [39]:
df.spill_address_full[df.num_spills_24mos >= 7]

33             SWISS OAKS 06606
40              6606 Swiss Oaks
41              6606 Swiss Oaks
47             SWISS OAKS 06606
73              1800 AUSTIN HWY
84      CHAPPIE JAMES WAY 00108
93      CHAPPIE JAMES WAY 00108
97      CHAPPIE JAMES WAY 00108
141     CHAPPIE JAMES WAY 00100
153            SWISS OAKS 06606
158     CHAPPIE JAMES WAY 00100
166     CHAPPIE JAMES WAY 00100
171            SWISS OAKS 06606
190            SWISS OAKS 06606
241        HARRY WURZBACH 01427
243            SWISS OAKS 06606
303     CHAPPIE JAMES WAY 00100
384     CHAPPIE JAMES WAY 00108
591              HOLBROOK 00902
593       ENTRANCE RD N E 10800
602           RITTIMAN RD 04034
727        ENTRANCE RD NE 10800
738       10800 N E Entrance Rd
751        ENTRANCE RD NE 10823
762        ENTRANCE RD NE 108/1
770        ENTRANCE RD NE 108/1
1654            CAGNON RD 06305
2394            CAGNON RD 066/1
Name: spill_address_full, dtype: object

- [ ] **TODO:** Find a way to flesh out the address using regex to account for typos etc.
- [ ] **TODO:** Maybe try using unit id's instead of addresses.
- [ ] **TODO:** Drill down to only the top 3-5 locations.
- [ ] **TODO:** Compare predictions between preventing SSO on the most frequents versus not preventing.
- [ ] **TODO:** What is causing the spills on these top 3-5 locations?

In [45]:
df1 = df[(df.spill_address==10800) & (df.spill_street_name == 'ENTRANCE RD NE')]
df1.T

,568,593,726,727,738,767,770,773,783,792,797,799,802,809
sso_id,6025,5984,5854,5855,5838,5808,5802,5806,5794,5786,5779,5776,5775,4773
inspection_key,NaN,NaN,NaN,NaN,406517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388919,387768
service_number,1.50063e+06,1.44566e+06,1.25265e+06,1.25315e+06,NaN,1.1501e+06,1.14377e+06,1.14444e+06,1.1353e+06,1.12719e+06,1.12378e+06,1.12302e+06,NaN,NaN
report_date,9/26/16,8/16/16,4/18/16,4/18/16,3/24/16,1/23/16,1/19/16,1/18/16,1/9/16,1/2/16,12/27/15,12/24/15,12/19/15,12/6/15
spill_address,10800,10800,10800,10800,10800,10800,10800,10800,10800,10800,10800,10800,10800,10800
spill_street_name,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE,ENTRANCE RD NE
total_gallons,26300,12000,6650,78000,100,24765,39940,3000,139525,267850,25030,30750,49110,24900
gallons_returned,0,NaN,0,0,0,NaN,0,700,NaN,NaN,NaN,NaN,0,0
gallons_1,26300,12000,6650,78000,100,390,11005,3000,58125,120850,22800,15000,21600,24750
spill_start_1,9/26/2016 7:50:00 AM,8/16/2016 10:30:00 PM,4/18/2016 11:02:00 AM,4/18/2016 2:20:00 PM,3/24/2016 2:40:00 PM,1/23/2016 2:58:00 PM,1/16/2016 1:44:00 PM,1/18/2016 10:00:00 PM,1/9/2016 1:00:00 PM,1/2/2016 1:59:00 PM,12/27/2015 3:25:00 PM,12/24/2015 2:00:00 PM,12/19/2015 1:42:00 PM,12/6/2015 2:00:00 PM
spill_stop_1,9/26/2016 4:36:00 PM,8/17/2016 2:30:00 AM,4/18/2016 1:15:00 PM,4/18/2016 11:00:00 PM,3/24/2016 2:55:00 PM,1/23/2016 3:21:00 PM,1/16/2016 3:56:00 PM,1/19/2016 12:30:00 AM,1/9/2016 5:15:00 PM,1/3/2016 12:20:00 AM,12/27/2015 5:57:00 PM,12/24/2015 4:30:00 PM,12/19/2015 4:00:00 PM,12/6/2015 4:45:00 PM
hours_1,8.76667,4,2.21667,8.66667,0.25,0.383333,2.2,2.5,4.25,10.35,2.53333,2.5,2.3,2.75
cause,I/I,I/I,I/I,I/I,Other,Other - Capacity,Other - Capacity,Other - Capacity,Other - Capacity,I/I,Debris,Debris,Debris,Debris
comments,NaN,NaN,NaN,NaN,Spill ContainedArea Cleaned and Disinfected,NaN,NaN,NaN,NaN,NaN,12 inch sewer main,12 inch sewer main,Spill ContainedReturned to SystemArea Cleaned ...,Spill ContainedReturned to SystemArea Cleaned ...
actions,Diluted By Heavy Rainwater,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAINWATER,DILUTED BY HEAVY RAINWATER,REMOVED PLUG,Cleaned Area,Cleaned Area,Cleaned Area,Cleaned Area,Cleaned Area,MONITORED AREA,MONITORED AREA,MONITORED AREA,MONITORED AREA
watershed,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK,SALADO CREEK
unit_id_1,52742,52470,930659,52470,52470,52470,52470,52470,52470,52470,52470,52470,52470,52470
unit_id_2,52470,52677,930653,52677,52677,52677,52677,NaN,52677,52677,52677,52677,52677,52677
discharge_to,CREEK BED - Spilled Into Salado Creek,CREEK BED - SPILLED INTO SALADO CREEK,CREEK BED - SPILLED INTO MUD CREEK,CREEK BED - SPILLED INTO SALADO CREEK,GROUND,GROUND,GROUND,GROUND,GROUND,CREEK BED - ( Spilled into Salado Creek ),GROUND,CREEK BED ( Spilled into Salado Creek ),CREEK BED ( Spilled into Salado Creek ),CREEK BED ( Spilled into Salado Creek )
discharge_route,SALADO CREEK,SALADO CREEK,NONE,NONE,None,NONE,NONE,NONE,NONE,SALADO CREEK,NONE,SALADO CREEK,SALADO CREEK,SALADO CREEK
council_district,9,9,9,9,9,9,9,9,9,9,9,9,9,9
ferguson,171E6,171E6,171E5,171E6,171E6,171E6,171E6,171E6,171E6,171E6,171E6,171E6,171E6,171E6
month,9,8,4,4,3,1,1,1,1,1,12,12,12,12
year,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2015,2015,2015,2015
week,40,34,17,17,13,4,4,4,2,1,53,52,51,50
edwards_zone,0,0,0,0,0,0,0,0,0,0,0,0,0,0
expr_1029,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,DEBRIS,DEBRIS
pipe_diameter,12,12,36,12,12,0,12,0,12,12,12,12,12,12
pipe_length,308.86,251.64,277.51,251.64,251.64,5.9,251.64,5.9,251.64,251.64,251.64,251.64,251.64,251.64
pipe_type,PVC,PVC,FRP,PVC,PVC,,PVC,,PVC,PVC,PVC,PVC,PVC,PVC
installation_year,1988,1988,2015,1988,1988,1988,1988,1988,1988,1988,1988,1988,1988,1988
downstream_depth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
upstream_depth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inches_no,4.75,0.55,1.7,1.7,0.37,0,0,0,0,0.82,0.69,0,0,0
rainfall_less_3,1.36,2.08,0.6,0.6,0,0,0,0,0.06,0.16,0,0,0,0
spill_address_full,ENTRANCE RD NE 108/1,ENTRANCE RD N E 10800,ENTRANCE RD NE 10800,ENTRANCE RD NE 10800,10800 N E Entrance Rd,ENTRANCE RD NE 10800,ENTRANCE RD NE 108/1,ENTRANCE RD NE 10800,ENTRANCE RD NE 10823,10800 N E Entrance Rd,10800 ENTRANCE RD NE,STARCREST DR 11601,10800 NE Entrance rd,10800 NE Entrance Rd
sewer_asset_exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_spills_compkey,1,13,1,12,11,2,7,1,6,5,4,3,2,1
num_spills_24mos,1,13,1,12,11,2,7,1,6,5,4,3,1,1
previous_spill_24mos,NaN,18-Apr-16,NaN,24-Mar-16,10-Feb-16,19-Jan-16,11-Jan-16,NaN,02-Jan-16,27-Dec-15,24-Dec-15,19-Dec-15,NaN,NaN
unit_type,GRAVITY,GRAVITY,OUTFALL,GRAVITY,GRAVITY,GRAVITY,GRAVITY,STANDARD,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY,GRAVITY
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Manhole,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
response_time,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.27,0.00,0.00,1.30,0.00
response_datetime,26-Sep-16,16-Aug-16,18-Apr-16,18-Apr-16,24-Mar-16,23-Jan-16,16-Jan-16,18-Jan-16,09-Jan-16,02-Jan-16,27-Dec-15,24-Dec-15,19-Dec-15,06-Dec-15
public_notice,False,False,False,False,False,False,False,False,True,True,False,False,False,False
time_int,120,12,120,12,12,12,12,NaN,12,12,12,12,12,120
root_cause,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,DEBRIS,DEBRIS
steps_to_prevent,"Capacity Project,","Capacity Project,","Capacity Project,","I/I Inv,",Other,"Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,"
spill_start_2,NaN,NaN,NaN,NaN,NaN,01/24/2016 13:37,01/17/2016 13:52,NaN,01/10/2016 13:20,01/03/2016 12:45,12/27/2015 17:57,12/24/2015 16:30,12/20/2015 13:30,12/06/2015 16:45
spill_stop_2,NaN,NaN,NaN,NaN,NaN,01/24/2016 16:30,01/17/2016 16:26,NaN,01/11/2016 00:32,01/04/2016 02:00,12/27/2015 18:30,12/24/2015 20:00,12/20/2015 16:45,12/06/2015 17:00
hours_2,0,0,0,0,0,2.8,2.57,0,11.2,13.25,0.55,3.5,3.25,0.25
gallons_2,0,0,0,0,0,17075,28935,0,81400,147000,330,15750,27510,150
spill_start_3,NaN,NaN,NaN,NaN,NaN,01/24/2016 22:10,NaN,NaN,NaN,NaN,12/28/2015 14:47,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN,NaN,01/24/2016 23:38,NaN,NaN,NaN,NaN,12/28/2015 15:25,NaN,NaN,NaN
hours_3,0,0,0,0,0,1.47,0,0,0,0,0.63,0,0,0
gallons_3,0,0,0,0,0,7300,0,0,0,0,1900,0,0,0

In [46]:
df[(df.spill_address_full=='CHAPPIE JAMES WAY 00108')].T

,84,93,97,110,127,188,209,384,407,504,564,590,595,653,695
sso_id,6499,6488,6485,6469,6462,6393,6370,6205,6170,6062,6021,5990,5983,5922,5887
inspection_key,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
service_number,2.51675e+06,2.50317e+06,2.49964e+06,2.47077e+06,2.45879e+06,2.35836e+06,2.28821e+06,1.90694e+06,1.80939e+06,1.58214e+06,1.49978e+06,1.45257e+06,1.44422e+06,1.30694e+06,1.29683e+06
report_date,10/24/18,10/15/18,10/10/18,9/22/18,9/16/18,7/9/18,5/22/18,8/7/17,5/31/17,12/3/16,9/26/16,8/21/16,8/15/16,5/31/16,5/16/16
spill_address,108,108,108,108,108,108,108,108,108,108,108,108,108,108,108
spill_street_name,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY,CHAPPIE JAMES WAY
total_gallons,2448400,642250,1500,495500,1323125,96200,1000,421881,1000,1880100,780000,625000,399000,2453340,1527175
gallons_returned,0,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0,0
gallons_1,2.4484e+06,355750,1500,495500,1.32312e+06,96200,1000,421881,1000,751000,780000,625000,399000,75990,117475
spill_start_1,10/24/2018 1:50:00 PM,10/15/2018 2:48:00 PM,10/10/2018 8:58:00 AM,9/22/2018 1:05:00 PM,9/16/2018 5:03:00 PM,7/9/2018 4:00:00 PM,5/22/2018 1:45:00 PM,8/7/2017 11:11:00 AM,5/31/2017 9:15:00 AM,12/3/2016 9:24:00 AM,9/26/2016 8:45:00 AM,8/21/2016 3:40:00 PM,8/15/2016 3:00:00 PM,5/31/2016 5:08:00 PM,5/16/2016 10:44:00 AM
spill_stop_1,10/28/2018 1:29:00 PM,10/16/2018 8:45:00 AM,10/10/2018 8:58:00 AM,9/23/2018 10:45:00 AM,9/18/2018 7:50:00 AM,7/10/2018,5/22/2018 1:45:00 PM,8/8/2017 8:10:00 AM,5/31/2017 9:15:00 AM,12/4/2016 9:00:00 AM,9/27/2016 10:45:00 AM,8/22/2016,8/16/2016 12:30:00 AM,6/1/2016 7:02:00 AM,5/17/2016 9:28:00 AM
hours_1,95.65,17.95,0,21.6667,38.7833,8,0,20.9833,0,23.6,26,8.33333,9.5,13.9,22.73
cause,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I
comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
actions,MONITORED AREA,DILUTED BY HEAVY RAINWATER,DILUTED BY HEAVY RAINWATER,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAIN WATER,Diluted by Heavy Rain Water,MONITORED AREA,Diluted By Heavy Rain Water,MONITORED AREA,Diluted By Heavy Rain Water,Diluted By Heavy Rainwater,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAINWATER,DILUTED BY HEAVY RAINWATER
watershed,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK
unit_id_1,1210,1210,1210,1210,1210,1187,1210,1187,1187,462766,1187,1187,1210,1187,1187
unit_id_2,42319,42319,42319,42319,42319,1074,1467,1074,1074,1210,1074,1074,42319,1074,1074
discharge_to,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - SPILLED INTO LEON CREEK,CREEK BED - Spilled Into Leon Creek,CREEK BED - SPILLED INTO LEON CREEK,CREEK BED - SPILLED INTO LEON CREEK
discharge_route,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,NONE,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK
council_district,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
ferguson,228E6,228E6,228E6,228E6,228E6,228D6,228E6,228D6,228D6,228D6,228D6,228D6,228E6,228D6,228D6
month,10,10,10,9,9,7,5,8,5,12,9,8,8,5,5
year,2018,2018,2018,2018,2018,2018,2018,2017,2017,2016,2016,2016,2016,2016,2016
week,43,42,41,38,38,28,21,32,22,49,40,35,34,23,21
edwards_zone,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
expr_1029,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT
pipe_diameter,54,54,54,54,54,54,54,54,54,54,54,24.5,54,54,54
pipe_length,1335,1335,1335,1335,1335,17.61,1335,17.61,17.61,17.18,17.61,7.79,1335,17.61,17.61
pipe_type,RCP,RCP,RCP,RCP,RCP,CSC,RCP,CSC,CSC,CSC,CSC,,RCP,CSC,CSC
installation_year,1965,1965,1965,1965,1965,1983,1965,1983,1983,1983,1983,1983,1965,1983,1983
downstream_depth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
upstream_depth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inches_no,0.79,1.37,0,1.86,0.75,2.54,0,3.31,0.21,3.84,4.75,0.63,1.42,1.84,0.52
rainfall_less_3,0.49,0.04,1.54,0.56,2.51,1.32,0.2,0,0.78,0.66,1.36,0.9,0.66,2.41,0.99
spill_address_full,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108,CHAPPIE JAMES WAY 00108
sewer_asset_exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_spills_compkey,10,9,8,7,6,9,5,7,6,1,5,4,1,3,2
num_spills_24mos,9,8,7,6,5,6,5,7,6,1,5,4,1,3,2
previous_spill_24mos,15-Oct-18,10-Oct-18,22-Sep-18,16-Sep-18,22-May-18,20-Dec-17,28-Mar-18,31-May-17,26-Sep-16,NaN,21-Aug-16,31-May-16,NaN,16-May-16,11-May-16
unit_type,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,SIPHON,OUTFALL,SIPHON,SIPHON,SIPHON,SIPHON,SIPHON,OUTFALL,SIPHON,SIPHON
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
response_time,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.60,0.00,0.00,0.00,0.00,0.00
response_datetime,24-Oct-18,15-Oct-18,10-Oct-18,22-Sep-18,16-Sep-18,09-Jul-18,22-May-18,07-Aug-17,31-May-17,03-Dec-16,26-Sep-16,21-Aug-16,15-Aug-16,31-May-16,16-May-16
public_notice,True,True,False,True,True,True,False,True,False,True,True,True,True,True,True
time_int,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_cause,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT
steps_to_prevent,"Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,",NaN,"I/I Inv,","Capacity Project,","I/I Inv,","I/I Inv,","I/I Inv,",NaN,"Capacity Project,","Capacity Project,","Capacity Project,"
spill_start_2,NaN,10/16/2018 16:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/05/2016 09:30,NaN,NaN,NaN,06/01/2016 14:30,05/18/2016 06:55
spill_stop_2,NaN,10/17/2018 08:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/06/2016 08:05,NaN,NaN,NaN,06/06/2016 12:30,05/20/2016 14:30
hours_2,0,15.92,0,0,0,0,0,0,0,22.58,0,0,0,118,55.58
gallons_2,0,286500,0,0,0,0,0,0,0,1.0825e+06,0,0,0,2.37735e+06,1.4097e+06
spill_start_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/06/2016 15:28,NaN,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/07/2016 07:00,NaN,NaN,NaN,NaN,NaN
hours_3,0,0,0,0,0,0,0,0,0,15.53,0,0,0,0,0
gallons_3,0,0,0,0,0,0,0,0,0,46600,0,0,0,0,0

In [47]:
df[(df.spill_address_full=='SWISS OAKS 06606')].T

,33,47,56,68,115,135,143,153,171,190,243,311,344,359,405,453,501,563,696
sso_id,6551,6536,6528,6516,6466,6455,6442,6428,6413,6395,6345,6267,6236,6219,6172,6127,6081,6020,5889
inspection_key,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
service_number,2.60565e+06,2.58795e+06,2.57716e+06,2.55664e+06,2.46636e+06,2.45716e+06,2.45073e+06,2.4471e+06,2.40832e+06,2.35755e+06,2.20841e+06,2.07036e+06,1.98058e+06,1.94532e+06,1.81281e+06,1.67092e+06,1.58829e+06,1.50544e+06,1.28665e+06
report_date,1/6/19,12/16/18,12/7/18,11/22/18,9/20/18,9/14/18,9/10/18,9/7/18,8/12/18,7/9/18,3/28/18,12/7/17,9/28/17,9/5/17,6/1/17,2/20/17,12/5/16,9/26/16,5/16/16
spill_address,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606,6606
spill_street_name,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS,SWISS OAKS
total_gallons,48000,16125,1177800,165000,13304550,1309800,232500,123300,75000,135200,112200,8950,27500,21752,10000,622500,407500,693750,1349550
gallons_returned,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,0,0,0,0,0
gallons_1,48000,16125,630000,165000,1.33046e+07,1.3098e+06,232500,123300,33750,135200,13200,8950,27500,21752,10000,622500,407500,693750,1.34955e+06
spill_start_1,1/6/2019 10:00:00 PM,12/16/2018 3:30:00 PM,12/7/2018 6:30:00 PM,11/22/2018 2:00:00 PM,9/20/2018 9:45:00 AM,9/14/2018 9:14:00 AM,9/10/2018 2:15:00 PM,9/7/2018 6:45:00 AM,8/12/2018 4:15:00 PM,7/9/2018 3:00:00 PM,3/28/2018 6:14:00 AM,12/7/2017 10:01:00 AM,9/28/2017 9:45:00 PM,9/4/2017 9:45:00 PM,6/1/2017 2:00:00 PM,2/20/2017 7:45:00 AM,12/5/2016 8:00:00 AM,9/26/2016 8:00:00 AM,5/16/2016 2:19:00 PM
spill_stop_1,1/7/2019 2:00:00 AM,12/17/2018 2:15:00 AM,12/8/2018 5:00:00 AM,11/22/2018 7:30:00 PM,11/19/2018 1:30:00 AM,9/18/2018 5:30:00 AM,9/12/2018 5:00:00 AM,9/7/2018 12:00:00 PM,8/12/2018 6:30:00 PM,7/10/2018 2:00:00 AM,3/28/2018 7:42:00 AM,12/7/2017 1:00:00 PM,9/29/2017 2:20:00 AM,9/5/2017 12:55:00 AM,6/1/2017 2:00:00 PM,2/21/2017 4:30:00 AM,12/6/2016 7:40:00 AM,9/27/2016 11:30:00 AM,5/20/2016 2:30:00 PM
hours_1,4,10.75,10.5,5.5,620.07,92.2667,38.75,5.25,2.25,11,1.46667,2.98,4.58333,3.16667,0,20.75,23.6667,27.5,96.18
cause,Structural,Structural,I/I,Structural,I/I,I/I,I/I,I/I,I/I,I/I,I/I,I/I,Other,Other - Cause To Be Determined,I/I,I/I,I/I,I/I,I/I
comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
actions,MONITORED AREA,MONITORED AREA,MONITORED AREA,MONITORED AREA,MONITORED AREA,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAIN WATER,DILUTED BY HEAVY RAIN WATER,Diluted by Heavy Rain Water,Diluted By Heavy Rainwater,MONITORED AREA,MONITORED AREA,Monitored Area,MONITORED AREA,DILUTED BY HEAVY RAINWATER,Cleanup Is In Progress,Diluted By Heavy Rainwater,DILUTED BY HEAVY RAINWATER
watershed,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK
unit_id_1,903059,903059,903059,903059,903059,903059,903059,903060,903060,903060,903060,903060,903060,903060,903060,903059,903059,903059,903060
unit_id_2,71380,71380,71380,71380,71380,71380,71380,903059,903059,903059,903059,903059,903059,903059,903059,71380,71380,71380,903059
discharge_to,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - Spilled Into Leon Creek,CREEK BED - SPILLED INTO LEON CREEK
discharge_route,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK,LEON CREEK
council_district,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
ferguson,208B8,208B8,208B8,208B8,208B8,208B8,208B8,208B8,208B8,208B8,208B8,208B8,208B8,228B1,208B8,228B1,208B8,208B8,208B8
month,1,12,12,11,9,9,9,9,8,7,3,12,9,9,6,2,12,9,5
year,2019,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2017,2017,2017,2017,2017,2016,2016,2016
week,2,51,49,47,38,37,37,36,33,28,13,49,39,36,22,8,50,40,21
edwards_zone,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
expr_1029,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,GREASE,RAIN EVENT,RAIN EVENT,RAIN EVENT,OTHER,OTHER,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT
pipe_diameter,42,42,42,42,42,0,42,66,66,66,66,66,66,66,66,42,42,42,0
pipe_length,1301,1301,1301,1301,1301,16.29,1301,27.15,27.15,27.15,27.15,27.15,27.15,27.15,27.15,1301,1301,1301,16.29
pipe_type,RCP,RCP,RCP,RCP,RCP,,RCP,FRP,FRP,FRP,FRP,FRP,FRP,FRP,FRP,RCP,RCP,RCP,
installation_year,1973,1973,1973,1973,1973,2014,1973,2014,2014,2014,2014,2014,2014,2014,2014,1973,1973,1973,2014
downstream_depth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
upstream_depth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inches_no,NaN,NaN,NaN,NaN,0.56,0.92,0.55,0.9,0.42,2.54,3.51,1.06,0.1,0,0,0.63,0.27,4.75,0.52
rainfall_less_3,NaN,NaN,NaN,NaN,0,0.34,3.15,1.26,0.2,1.32,0.18,1,2.11,0,0.97,1.51,5.52,1.36,0.99
spill_address_full,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606,SWISS OAKS 06606
sewer_asset_exp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_spills_compkey,11,8,7,6,5,1,4,10,9,8,7,6,5,3,2,3,2,1,1
num_spills_24mos,9,7,6,5,5,1,4,9,8,7,7,6,5,3,2,3,2,1,1
previous_spill_24mos,26-Dec-18,07-Dec-18,22-Nov-18,20-Sep-18,10-Sep-18,NaN,20-Feb-17,12-Aug-18,09-Jul-18,28-Mar-18,07-Dec-17,28-Sep-17,17-Sep-17,01-Jun-17,16-May-16,05-Dec-16,26-Sep-16,NaN,NaN
unit_type,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,JUNCTION,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL,OUTFALL
asset_type,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Manhole,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main,Sewer Main
last_cleaned,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
response_time,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.18
response_datetime,06-Jan-19,16-Dec-18,07-Dec-18,22-Nov-18,20-Sep-18,14-Sep-18,10-Sep-18,07-Sep-18,12-Aug-18,09-Jul-18,28-Mar-18,07-Dec-17,28-Sep-17,04-Sep-17,01-Jun-17,20-Feb-17,05-Dec-16,26-Sep-16,16-May-16
public_notice,False,False,True,True,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True
time_int,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120,120,120,120,120,120,120,120,NaN,NaN,NaN,120
root_cause,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,GREASE,RAIN EVENT,RAIN EVENT,RAIN EVENT,OTHER,OTHER,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT,RAIN EVENT
steps_to_prevent,"Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,",NaN,NaN,"Capacity Project,","Capacity Project,","Capacity Project,","Capacity Project,","I/I Inv,","Capacity Project,","I/I Inv,","I/I Inv,","I/I Inv,"
spill_start_2,NaN,NaN,12/08/2018 17:45,NaN,NaN,NaN,NaN,NaN,08/12/2018 22:30,NaN,03/28/2018 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill_stop_2,NaN,NaN,12/09/2018 03:30,NaN,NaN,NaN,NaN,NaN,08/13/2018 01:15,NaN,03/28/2018 15:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours_2,0,0,9.75,0,0,0,0,0,2.75,0,5.5,0,0,0,0,0,0,0,0
gallons_2,0,0,292500,0,0,0,0,0,41250,0,99000,0,0,0,0,0,0,0,0
spill_start_3,NaN,NaN,12/09/2018 14:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spill_stop_3,NaN,NaN,12/10/2018 05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours_3,0,0,14.85,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
gallons_3,0,0,255300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
df1[['spill_address_full', 'unit_id_1','unit_id_2', 'unit_type', 'asset_type']]

        spill_address_full unit_id_1 unit_id_2 unit_type     asset_type
568   ENTRANCE RD NE 108/1     52742     52470   GRAVITY     Sewer Main
593  ENTRANCE RD N E 10800     52470     52677   GRAVITY     Sewer Main
726   ENTRANCE RD NE 10800    930659    930653   OUTFALL     Sewer Main
727   ENTRANCE RD NE 10800     52470     52677   GRAVITY     Sewer Main
738  10800 N E Entrance Rd     52470     52677   GRAVITY     Sewer Main
767   ENTRANCE RD NE 10800     52470     52677   GRAVITY     Sewer Main
770   ENTRANCE RD NE 108/1     52470     52677   GRAVITY     Sewer Main
773   ENTRANCE RD NE 10800     52470       NaN  STANDARD  Sewer Manhole
783   ENTRANCE RD NE 10823     52470     52677   GRAVITY     Sewer Main
792  10800 N E Entrance Rd     52470     52677   GRAVITY     Sewer Main
797   10800 ENTRANCE RD NE     52470     52677   GRAVITY     Sewer Main
799     STARCREST DR 11601     52470     52677   GRAVITY     Sewer Main
802   10800 NE Entrance rd     52470     52677   GRAVITY     Sewer Main
809   10800 NE Entrance Rd     52470     52677   GRAVITY     Sewer Main

- [ ] **TODO:** Maybe we can do some kind of clustering to group problem areas.

In [ ]:
missing_values_row(df).head(30)

In [ ]:
# Decided to handle missing a different way, maybe
# some feature engineering or something...
# df = handle_missing_threshold(df)

In [ ]:
count_val('ResponseTime')

In [ ]:
df.columns

_Let's remove variables that do not add information._

In [ ]:
df = remove_columns(df, columns=['INSPKEY',
                                 'SERVNO',
                                 'REPORTDATE',
                                 'FERGUSON',
                                 'Month',
                                 'Year',
                                 'Week',
                                 'EARZ_ZONE',
                                 'DWNDPTH',
                                 'UPSDPTH',
                                 'Inches_No',
                                 'RainFall_Less3',
                                 'SewerAssetExp',
                                 'UNITID',
                                 'UNITID2',
                                 'COUNCIL_DISTRICT',
                                 'INSTYEAR',
                                 'Public Notice',
                                 'TIMEINT',
                                 'HRS_2',
                                 'GAL_2',
                                 'HRS_3',
                                 'GAL_3',
                                 'SPILL_START_2',
                                 'SPILL_STOP_2',
                                 'SPILL_START_3',
                                 'SPILL_STOP_3',
                                 'SPILL ADDRESS',
                                 'SPILL_ADDRESS',
                                 'SPILL_ST_NAME',
                                ])

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df = fill_with_unknown(df, 'DISCHARGE_ROUTE',
                      'ACTIONS',
                      'COMMENTS',
                      'DISCHARGE_TO',
                      'Expr1029',
                      'PIPETYPE',
                      'UNITTYPE',
                      'ASSETTYPE',
                      'Root_Cause',
                      'STEPS_TO_PREVENT',
                      )

In [ ]:
df = fill_with_median(df, 'GALSRET',
                     'HRS',
                     'PIPEDIAM',
                     'PIPELEN',
                     )

In [ ]:
count_val('ResponseTime')

In [ ]:
count_val('ResponseDTTM')

In [ ]:
df = remove_columns(df, columns=['ResponseTime',
                                 'ResponseDTTM',
                                 ])

In [ ]:
df.shape

In [ ]:
missing_values_col(df)

_Let's temporarily remove the columns that needs to be feature-engineered later._

In [ ]:
df0 = remove_columns(df, columns=['PIPETYPE',
                                  'NUM_SPILLS_24MOS',
                                  'PREVSPILL_24MOS',
                                  'UNITTYPE',
                                  'LASTCLND',
                                 ])

In [ ]:
missing_values_col(df0)

In [ ]:
df0.head()

In [ ]:
df0 = df0.rename(index=str, columns={"Expr1029": "EXPR1029", "Root_Cause": "ROOT_CAUSE"})

In [ ]:
df0.head()

# ANALYZE

In [ ]:
train = df0[:'2016']
test = df0['2016':]
print(train.nunique())
print(test.nunique())

In [ ]:
df0.head()

In [ ]:
df0.SPILL_START = pd.to_datetime(df0.SPILL_START,infer_datetime_format=True)
df0.SPILL_STOP = pd.to_datetime(df0.SPILL_STOP,infer_datetime_format=True)

In [ ]:
df0.head()

In [ ]:
df0 = df0.sort_values('SPILL_START')
df0 = df0.set_index('SPILL_START')
df0.head()

In [ ]:
by_date = df0.groupby(['SPILL_START'])['TOTAL_GAL'].sum().reset_index()
by_date.plot(x='SPILL_START', y='TOTAL_GAL');

In [ ]:
df0.groupby(['SPILL_START']).TOTAL_GAL.sum().head()

In [ ]:
df0.resample('A').mean()

In [ ]:
df.shape

In [ ]:
df0.shape

In [ ]:
df = df0.copy()

In [ ]:
train = df[:'2016']
test = df['2017':]
print(train.nunique())
print(test.nunique())

In [ ]:
missing_values_col(train)

In [ ]:
missing_values_col(test)

In [ ]:
overflow = train.resample('D').TOTAL_GAL.mean()

In [ ]:
overflow

In [ ]:
overflow.plot()

In [ ]:
overflow.resample('M').mean().plot()

In [ ]:
overflow.resample('Q').mean().plot()

In [ ]:
overflow.rolling(5).mean().plot(figsize=(12, 4))

In [ ]:
overflow.diff(periods=10).plot(figsize=(12, 4))

In [ ]:
decomposition = sm.tsa.seasonal_decompose(overflow.dropna(), model='additive', freq=12)
fig = decomposition.plot()
plt.show()

In [ ]:
pd.plotting.lag_plot(overflow)

In [ ]:
df_corr = pd.concat([overflow.shift(1), overflow], axis=1)
df_corr.columns = ['t-1','t+1']
result = df_corr.corr()
print(result)